[viewBag]
==
{% for event in events %}
<section class="featured-item-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <header class="text-center">
                    <h4>FEATURED EVENT</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-7 col-sm-12 col-12">

{% if event.banner.count %}

    <div class="featured-images text-center">
            <p>
                <img
                    data-src='{{ event.banner.file_name }}'
                    src="{{ event.banner.path }}"
                    alt="{{ event.banner.description }}"
                    style="max-width: 100%" />
            </p>
    </div>

{% endif %}

            </div>
            <div class="col-md-5 col-sm-12 col-12">
                <div class="content">
                    <div class="category"><span class="name">EVENT</span><span class="date">{{event.start_at | date('d')}} {{event.start_at | date('M') }} - {{event.ends_at | date('d') }} {{event.ends_at | date('M') }}</span></div>
                    <h3>{{event.name}}</h3>
                    <p>{{event.excerpt}}</p>
                    <a href="{{event.slug}}" class="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <div class="text-center">
                    <a href="" class="btn btn-outline-dark">Explore All Events</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}

<!-- orignal
{% for event in events %}
<div class="event-item">
{% if event.featured_image.count %}
    <div class="featured-images text-center">
        {% for image in event.featured_image %}
            <p>
                <img
                    data-src='{{ image.filename }}'
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="max-width: 100%" />
            </p>
        {% endfor %}
    </div>
{% endif %}
<p class="date-label">
<span class="month">{{event.start_at | date('M') }}</span>
<span class="date-number">{{event.start_at | date('d') }}</span>
</p>
    <div class="details">
        <h2 class="title">{{event.name}} EVENT</h2>
        <p class="time"><i class="fa fa-clock-o"></i> {{event.start_at | date('M')}}</p>
        <p class="location"><i class="fa fa-map-marker"></i> {{event.excerpt}}</p>
        {% if event.address is not empty %}
        <p class="location"><i class="fa fa-map-marker"></i> {{event.address}}</p>
        {% endif %}
    </div>
</div>

{% endfor %}

-->


<section class="four-column-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <header class="text-center">
                    <h4>OTHER EVENTS</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        {% for event in events %}
            <div class="col-md-3 col-sm-6 col-6">
                <div class="item-block">
   
                {% if event.banner %}
    <div class="featured-images text-center">

                <img
                    data-src='{{ event.banner.file_name }}'
                    src="{{ event.banner.path }}"
                    alt="{{ event.banner.description }}"
                    style="max-width: 100%" />

    </div>
{% endif %}

                    <div class="content">
                        <div class="category"><span class="name">EVENT</span><span class="date">{{event.start_at | date('d')}} {{event.start_at | date('M') }} - {{event.ends_at | date('d') }} {{event.ends_at | date('M') }}</span></div>
                        <h5>{{event.name}}</h5>
                        <p><strong>{{event.excerpt}}</strong></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <div class="text-center">
                    <a href="" class="btn btn-outline-dark">Explore All Events</a>
                </div>
            </div>
        </div>
    </div>
</section>