[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"

[viewBag]
==
<nav class="breadcrumb-wrapper d-md-block d-none">
	<div class="container">
		<div class="row">
			<div class="col">
				{% component 'breadcrumbs' %}
			</div>
		</div>
	</div>
</nav>