[viewBag]

[staticMenu moreMenu]
code = "more"

[staticMenu noticeMenu]
code = "notice"

[staticMenu newslettersMenu]
code = "newsletters"

[staticMenu businessMenu]
code = "business-opportunities"

[staticMenu facilitiesMenu]
code = "facilities"

[staticMenu giftcardMenu]
code = "gift-card"

[staticMenu]
code = "gift-card"

[staticMenu socialMenu]
code = "social"
==
<footer class="site-footer">
	<div class="back-to-top">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</div>
	<section class="footer-navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12 col-12">
					<div class="footer-nav">
						<h5>More</h5>
						<nav>
						 {% partial 'menu-items' items=moreMenu.menuItems class='' %}
						</nav>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-12">
					<div class="footer-nav">
						<h5>Newsletters</h5>
						<nav>
						{% partial 'menu-items' items=newslettersMenu.menuItems class='' %}
						</nav>
					</div>
					<div class="footer-nav">
						<h5>Business Opportunities</h5>
						<nav>
						{% partial 'menu-items' items=businessMenu.menuItems class='' %}
						</nav>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-12">
					<div class="footer-nav">
						<h5>Facilities &amp; Services</h5>
						<nav>
						{% partial 'menu-items' items=facilitiesMenu.menuItems class='' %}
						</nav>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-12">
					<div class="footer-nav">
						<h5>Gift Cards</h5>
						<nav>
						{% partial 'menu-items' items=giftcardMenu.menuItems class='' %}
						</nav>
					</div>
				</div>
				<!--
				<div class="col-md-3 col-sm-12 col-12">
					<div class="download-app">
						<h5>Download app</h5>
						<a href=""><img src="/img/g-play.png" alt="google play store" width="160"></a> <a href=""><img src="/img/istore.png" alt="google play store" width="160"></a>
					</div>
				</div>
				-->
			</div>
		</div>
		
		
		
			<div class="site-copyright">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-sm-12 col-12 order-1 order-md-1">
					<nav class="copyright-menu">
					{% partial 'menu-items' items=noticeMenu.menuItems class='' %}
					</nav>
				</div>
				<div class="col-md-6 col-sm-12 col-12 order-sm-1">
					<div class="row">
						<div class="col-12">
							<a href="https://www.google.com/maps/dir//Canal+Walk+Shopping+Centre,+Canal+Walk,+Century+Blvd,+Century+City,+Cape+Town,+7441/@-33.8945727,18.508359,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc5c0fb57b95c5:0x344e8fee0db00008!2m2!1d18.5105477!2d-33.8945727" target="_blank">Get Directions</a>
							<div class="social-icons">
							
                                        {% if socialMenu.menuItems %}
    <ul>
{% for item in socialMenu.menuItems if not item.viewBag.isHidden %}
    <li>
        {% if item.url %}
        

            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}><i class="fa fa-{{ item.title }} fa-lg" aria-hidden="true"></i></a>
            
        {% else %}
            <span>{{ item.title }}</span>
        {% endif %}

    </li>
{% endfor %}
    </ul>
{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	</section>

</footer>