[viewBag]

[searchInput]
useAutoComplete = 0
autoCompleteResultCount = 5
showProviderBadge = 0
searchPage = "search.htm"

[staticMenu mainNav]
code = "topnav"
==

<header  class="site-header">
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="mobile-trading-hours col-sm-12 col-12 d-md-none">
				<div class="text-center">
					<span>{{mallDetails.mallhours}}</span>
				</div>
			</div>
		</div>
		<div class="row align-items-center no-gutters">
			<div class="mobile-call-cta col-md-1 col-sm-1 col-2">
			{% partial 'site/contact' %}
			</div>
			<div class="col-xl-6 col-md-10 col-sm-10 col-8">
				<div class="logo">
					<a href="{{ 'Homepage' | page }}"> <img src="{{mallDetails.site_logo.path}}" alt="Canal Walk Shopping Centre" id="logo" style="width: 100%; max-width: 245px;" />
					</a>
				</div>
				<div class="trading-hours">
					<span>{{mallDetails.mallhours}}</span> <span>{{mallDetails.store_count}}</span>
				</div>
			</div>
			<div class="nav-toggler-icon col-md-2 col-sm-1 col-2">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</div>
			<div class="main-menu col-xl-6 col-md-12 col-sm-12 col-12">
				<div class="main-navigation">
				
				<div class="mobile-search">
                            <form action="{{ 'search' | page }}" method="get" class="form-inline mobile-search-form">
                <input class="form-control" placeholder="Search..." aria-label="Search" type="text" name="q" > 
                <span class="mobile-search-button"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </form>
                        </div>
				    




{% if mainNav.menuItems %}
    <ul class="menu-nav">
        {% partial mainNav ~ "::items" items=mainNav.menuItems %}
    </ul>
{% endif %}


                    
					<span class="search-button"><i class="fa fa-search" aria-hidden="true"></i></span>
				</div>
			</div>

			<form action="{{ 'search' | page }}" method="get" class="form-inline main-search-form">
			    <input name="q" type="text" placeholder="Search" autocomplete="off" class="" aria-label="Search">
			</form>
		</div>
	</div>
</header>