[viewBag]
==
<section class="newsletter-cta cta">
	<div class="container">
		<div class="row">
			<div class="col">
				<p>Sign up to our Canal Walk newsletter! <a class="btn btn-outline-dark" href="/subscribe-canal-walk-newsletter">sign up now</a></p>
			</div>
		</div>
	</div>
</section>