description = "Custom 404"

[staticPage]
useContent = 1
default = 0
==
<?php
function onStart()
{
    $this['count'] = count(Request::segments());
    $this['arr'] = Request::segments();
    $this['paramter'] = Request::segment(1);
    $this['url'] =  Request::url();
    $this['checkpage'] =  '1';
    
    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% component 'seoTags' %}
<link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">
<link href="{{[
        'assets/css/bootstrap.min.css', 
        'assets/css/bootstrap-grid.css',
        'assets/css/select2.min.css',
        'assets/css/font-awesome.min.css',
        'assets/css/style.css'
        ]|theme }}" rel="stylesheet">
        
{% styles %}

{{ mallDetails.google_tracking_code_header|raw }}

</head>
<body>

{{ mallDetails.google_tracking_code_body|raw }}

<!-- Header -->
<header id="layout-header">
    {% partial 'site/header' mallDetails=mallDetails %}
</header>


<section class="error-page page">


    <section class="breadcrumb-wrapper d-md-block d-none">
        <div class="container">
            <div class="row">
                <div class="col">

                    <ol class="breadcrumb">
                    
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">404 error</li>

                    </ol>

                </div>
            </div>
        </div>
    </section>




    <section class="page-content mb-0">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col">
                    <div class="banner">
                        <div class="image"> {% placeholder pageheader title="Page Header" %}</div>
                        <div class="content">
{% component 'staticPage' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


        
{% placeholder pagefooter title="Page Footer" %}





    </section>



{% partial 'site/footer' %}


<script src='{{['/assets/js/jquery.js']|theme }}'></script>
<script src='{{['/assets/js/jquery-ui.js']|theme }}'></script>
<script src="{{['/assets/js/select2.min.js']|theme }}"></script>
<script src='{{['/assets/js/popper.min.js']|theme }}'></script>
<script src='{{['/assets/js/tether.min.js']|theme }}'></script>
<script src='{{['/assets/js/bootstrap.bundle.min.js']|theme }}'></script>
<script src='{{['/assets/js/imagesloaded.pkgd.min.js']|theme }}'></script>
<script src='{{['/assets/js/slick.js']|theme }}'></script>
<script src='{{['/assets/js/script.js']|theme }}'></script>
<script src='{{['/assets/js/hammer.min.js']|theme }}'></script>
        {% framework extras %}
        {% scripts %}
    

    </body>
</html>