description = "Contact Page"

[staticPage]
useContent = 1
default = 0

[staticBreadcrumbs]

[renderForm]
formCode = "renatio.formbuilder::contact"
custom_redirect = "{{ thanks }}"

[googleMap]
latitude = -33.8945682
longitude = 18.508359
zoom = 14
width = "100%"
height = "450px"
mapTypeId = "ROADMAP"
showMarker = "true"
apiKey = "AIzaSyB9HntVPaBVEUPusRQyHbYgFK8jGP2k6lI"

[seoTags]

[contactdetails]
==
<?php

function onStart()
{
    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}

?>
==
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% component 'seoTags' %}
<link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">

<link href="{{['assets/css/bootstrap.min.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/bootstrap-grid.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/select2.min.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/font-awesome.min.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/style.css']|theme }}" rel="stylesheet">

        {% styles %}

{{ mallDetails.google_tracking_code_header|raw }}

</head>
<body>

{{ mallDetails.google_tracking_code_body|raw }}

{% partial 'site/header' mallDetails=mallDetails %}

<main class="contact-us-page page">

    <section class="page-title">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <header>
                        <h1>{{ this.page.title }}</h1>
                    </header>
                </div>
            </div>
        </div>
    </section>

    <nav class="breadcrumb-wrapper d-md-block d-none">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>

<ol class="breadcrumb"><li class="breadcrumb-item  ">
         <a href="/"> Home </a>    </li>
    
    
        <li class="breadcrumb-item   active " id="bcLast">
         <a href="#">  Contact </a>    </li>
    
                
</ol>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="contact-us-information">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-7 col-sm-12 col-12">
{% component 'googleMap' %}
                </div>
                <div class="col-md-5 col-sm-12 col-12">
                    <div class="p-md-5 p-sm-2 p-2">

{% component 'contactdetails' %}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 text-align="center">Send us a message</h2>
            <br>
            <p text-align="center">We’d love to hear from you. But, if you’d like to speak to one of our stores directly, please contact them via our <a href="/shops">store directory.</a></p>
            <script type="text/javascript" src="https://canalwalk.formstack.com/forms/js.php/cw_contact_form"></script>
        </div>
    </div>
</div>


</main>



<!-- {% placeholder ordering title="Ordering" %}-->


        {% partial 'site/footer' %}


<script src="{{ ['assets/js/jquery.js']|theme }}"></script>
<script src="{{ ['assets/js/jquery-ui.js']|theme }}"></script>
<script src="{{ ['assets/js/select2.min.js']|theme }}"></script>
<script src="{{ ['assets/js/popper.min.js']|theme }}"></script>
<script src="{{ ['assets/js/tether.min.js']|theme }}"></script>
<script src="{{ ['assets/js/bootstrap.bundle.min.js']|theme }}"></script>
<script src="{{ ['assets/js/imagesloaded.pkgd.min.js']|theme }}"></script>
<script src="{{ ['assets/js/slick.js']|theme }}"></script>
<script src="{{ ['assets/js/script.js']|theme }}"></script>
<script src="{{ ['assets/js/hammer.min.js']|theme }}"></script>

<script>

$(function(){
    $("input").prop('required',true);
    });

$(document).ready(function() {
    $('select').select2();
    $('select').select2({ minimumResultsForSearch: Infinity});
    });

</script>

        {% framework extras %}
        {% scripts %}
        <!-- JSON MAP STYLING SCRIPTS -->
        
    </body>
</html>