description = "Default layout"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"

[seoTags]
[builderList]
modelClass = "Creativespark\Headertracking\Models\HeaderTracking"
displayColumn = "title"
detailsUrlParameter = "id"
recordsPerPage = 10
==
<?php
function onStart()
{
    $this->addCss(['']);
    
    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}

function onEnd()
{
    $this->addJs(['']);
}

function onFavorite() {

    if (Session::get('store.favorite') && in_array(post('favId'), Session::get('store.favorite'))){
        Session::forget('store.favorite.'.Input::get('favId'));

        return '<i class="fa fa-heart-o" aria-hidden="true"></i>';
    } else {
        Session::put('store.favorite.'.Input::get('favId'), Input::get('favId'));

        return '<i class="fa fa-heart" aria-hidden="true"></i>';
    }
}
?>
==
{% set records = builderList.records %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="google-site-verification" content="wXvKhuFCesY8dan6mYoVe3ywsTTaGg5VDlerMOrKH8M" />
{% component 'seoTags' %}
<link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">
<link href="{{[
        'assets/css/bootstrap.min.css', 
        'assets/css/bootstrap-grid.css',
        'assets/css/select2.min.css',
        'assets/css/font-awesome.min.css',
        'assets/css/style.css'
        ]|theme }}" rel="stylesheet">
        
{% styles %}

{{ mallDetails.google_tracking_code_header|raw }}
{% for record in records %}
    {{record.code|raw}}
{% endfor %}

</head>
<body>

{{ mallDetails.google_tracking_code_body|raw }}

{% partial 'site/header' mallDetails=mallDetails %}

{% page %}

{% partial 'site/footer' %}

<script src='{{['/assets/js/jquery.js']|theme }}'></script>
<script src='{{['/assets/js/jquery-ui.js']|theme }}'></script>
<script src="{{['/assets/js/select2.min.js']|theme }}"></script>
<script src='{{['/assets/js/popper.min.js']|theme }}'></script>
<script src='{{['/assets/js/tether.min.js']|theme }}'></script>
<script src='{{['/assets/js/bootstrap.bundle.min.js']|theme }}'></script>
<script src='{{['/assets/js/imagesloaded.pkgd.min.js']|theme }}'></script>
<script src='{{['/assets/js/slick.js']|theme }}'></script>
<script src='{{['/assets/js/script.js']|theme }}'></script>
<script src='{{['/assets/js/hammer.min.js']|theme }}'></script>
<script src='{{['/assets/js/youtube-inview-autoplay.js']|theme }}'></script>
<script>
$(function(){
    $('input').prop('required',true);
    $('textarea').prop('required',true);
    });
    
$(function() {
    $('select').select2({ minimumResultsForSearch: Infinity});
    });
</script>
{% scripts %}
{% framework extras %}


    </body>
</html>