description = "Default layout"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"

[seoTags]
==
<?php
function onStart()
{
    $this['page_layout'] =  'Four Column';

    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

{% component 'seoTags' %}

<link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">

<link href="{{[
        'assets/css/bootstrap.min.css', 
        'assets/css/bootstrap-grid.css',
        'assets/css/select2.min.css',
        'assets/css/font-awesome.min.css',
        'assets/css/style.css'
        ]|theme }}" rel="stylesheet">
        
{% styles %}

{{ mallDetails.google_tracking_code_header|raw }}

</head>
<body>

{{ mallDetails.google_tracking_code_body|raw }}

{% partial 'site/header' mallDetails=mallDetails %}

{% page %}

{% partial 'site/footer' %}

<script src='{{['/assets/js/jquery.js']|theme }}'></script>
<script src='{{['/assets/js/jquery-ui.js']|theme }}'></script>
<script src="{{['/assets/js/select2.min.js']|theme }}"></script>
<script src='{{['/assets/js/popper.min.js']|theme }}'></script>
<script src='{{['/assets/js/tether.min.js']|theme }}'></script>
<script src='{{['/assets/js/bootstrap.bundle.min.js']|theme }}'></script>
<script src='{{['/assets/js/imagesloaded.pkgd.min.js']|theme }}'></script>
<script src='{{['/assets/js/slick.js']|theme }}'></script>
<script src='{{['/assets/js/script.js']|theme }}'></script>
<script src='{{['/assets/js/hammer.min.js']|theme }}'></script>
       	
<script>

$(function(){
    $("input").prop('required',true);
    });

$(function() {
    $('select').select2({ minimumResultsForSearch: Infinity});
    });

</script>

{% framework extras %}
{% scripts %}

    </body>
</html>