description = "Mall Map"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"

[seoTags]
==
<?php
function onFavorite() {

	if (Session::get('store.favorite') && in_array(post('favId'), Session::get('store.favorite'))){
		Session::forget('store.favorite.'.Input::get('favId'));

		return '<i class="fa fa-heart-o" aria-hidden="true"></i>';
	} else {
		Session::put('store.favorite.'.Input::get('favId'), Input::get('favId'));

		return '<i class="fa fa-heart" aria-hidden="true"></i>';
	}
}

function onStart()
{
    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% component 'seoTags' %}
<link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">

<link href="{{['assets/css/bootstrap.min.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/bootstrap-grid.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/font-awesome.min.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/mapplic.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/map.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/style.css']|theme }}" rel="stylesheet">

{{ mallDetails.google_tracking_code_header|raw }}

</head>
<body>

{{ mallDetails.google_tracking_code_body|raw }}

{% partial 'site/header' mallDetails=mallDetails %}

{% page %}

{% partial 'site/footer' %}


<script src="{{['assets/js/jquery-3.2.1.slim.min.js']|theme }}"></script>
<script src="{{['assets/js/jquery.min.js']|theme }}"></script>
<script src="{{['assets/js/slick.js']|theme }}"></script>
<script src="{{['assets/js/script.js']|theme }}"></script>
<script src="{{['assets/js/hammer.min.js']|theme }}"></script>
<script src="{{['assets/js/jquery.mousewheel.js']|theme }}"></script>
<script src="{{['assets/js/map_script.js']|theme }}"></script>
<script src="{{['assets/js/mapplic.js']|theme }}"></script>

        {% framework extras %}
        {% scripts %}

    </body>
</html>