[seoTags]
==
<?php

function onStart()
{
    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}

?>
==
<!DOCTYPE html>
<html lang="en">{% component 'seoTags' %}
<head>
<meta charset="utf-8">
<meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% component 'seoTags' %}
<link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">

<link href="{{['assets/css/bootstrap.min.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/bootstrap-grid.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/font-awesome.min.css']|theme }}" rel="stylesheet">
<link href="{{['assets/mapplic/css/mapplic.css']|theme }}" rel="stylesheet">
<link href="{{['assets/mapplic/css/map.css']|theme }}" rel="stylesheet">
<link href="{{['assets/css/style.css']|theme }}" rel="stylesheet">

<style>


.mapplic-sidebar {
    width:100%;
    position: absolute;
z-index: 1000;
height:auto;
top: 0;
    }
    
#mapplic {

    padding-top: 115px;
}
    
    .mapplic-container {

    width: 100%;
    min-height:640;

}

.mapplic-list-container {

    height: 100%;
    max-height: 375px;
    overflow-y: auto;
    max-width: 1260px;
    margin: auto;
        margin-top: auto;
    background-color: #ffffff;
    position: relative;
    margin-top: 53px;
    display:none;
    
}

.mapplic-search-form {
    background-color: #f8f8f8;
    border-bottom: 0px solid #eee;
    border-right: 0px solid #f4f4f4;
    padding: 0px;
    margin: 0;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
}

.mapplic-search-input {
    background-image: url('/themes/canal-walk/assets/css/images/viewer.png');
    background-size: 17px 16px;
    background-repeat: no-repeat;
    background-position: 8px;
    background-position: right 19px;
    border-radius: 0;
    line-height: 20px;
    width: 100%;
    height:auto;
    max-width: 1260px;
    display: block;
    text-align: center;
    font-family: 'Montserrat-Regular', 'Open Sans', Helvetica, sans-serif;
    font-size: 0.875rem;
    color: #808080;
    padding: 15px 0;
    border-width: 0 0 1px 0;
    border-color: #e6e6e6;
    margin: auto;

}

.mapplic-search-input {
    background-image: url('/themes/canal-walk/assets/css/images/viewer@2x.png');
}

.map-store-list-hidden {
    display: none;
}

.page .page-filters .tag-filter .tags .slick-list .slick-track .slick-slide {

    float: none;
}

.mapplic-tooltip {

    }

.mapplic-tooltip.mapplic-hovertip {
    
    }
    


.map-store-list-show {
    display:block !important
    }
    
    
    .mapplic-tooltip-title {

    margin: 0 12px 15px 0 !important;
}


/* INTERACTIVE ELEMENTS */
/* clickable elements */
.mapplic-clickable:not(g),
g.mapplic-clickable > * {
	opacity: 0.4;
	/*fill: #b7a6bd*/;
}

/* hovered elements */
.mapplic-clickable:not(g):hover,
g.mapplic-clickable:hover > * {
	opacity: 0.8;
}

/* active elements */
.mapplic-active,
a.mapplic-active > path,
g.mapplic-active > * {
	fill: #343F4B;
	opacity: 1.0 !important;
}


@media only screen and (min-width: 980px) {
    
    .mapplic-tooltip-description h3 {
        font-family: 'Montserrat-Medium', 'Open Sans', Helvetica, sans-serif;
        color: #1a1a1a;
font-size: 18px;
line-height: 24px;
margin-bottom: 15px;
display:block;
}

    .mapplic-tooltip-description h4 {
        color: #808080;
font-size: 14px;
text-transform: uppercase;
font-family: 'Montserrat-Medium', 'Open Sans', Helvetica, sans-serif;
line-height: 16px;
margin-bottom: 15px !important;
display:block;
}

    .mapplic-tooltip-description p {}
    
    
    .mapplic-tooltip-thumbnail {
max-width: 100%;
display: block;
width: 100%;
height: auto;
border-radius: 0 !important;
margin-right: 0;
padding-bottom: 15px;
}


.mapplic-tooltip-content {
max-height: 350px;
overflow-x: hidden;
overflow-y: auto;
min-height: 20px;
display: block;
clear: both;
margin-right: 0px;
}

.mapplic-map-store-level-entrance {
    border-bottom: solid 2px #dfdfdf;
    border-top: solid 2px #dfdfdf;
    padding: 14px 0px;
    color: #808080;
    font-size: 12px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.mapplic-map-store-level-entrance .col-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.mapplic-map-store-level-entrance strong {
    color: #1a1a1a;
    font-size: 14px;
    display: block;
    font-family: 'Montserrat-Medium', 'Open Sans', Helvetica, sans-serif;
    font-weight: normal;
}

.mapplic-map-store-buttons .col-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.mapplic-map-store-buttons {
    padding: 14px 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.mapplic-container {

}

}

</style>

{{ mallDetails.google_tracking_code_header|raw }}

</head>
<body>

{{ mallDetails.google_tracking_code_body|raw }}

{% partial 'site/header' mallDetails=mallDetails %}

<main class="mall-map-page page">
    {% page %}
</main>

{% partial 'site/footer' %}

<script src="{{['assets/js/jquery-3.2.1.slim.min.js']|theme }}"></script>
<script src="{{['assets/js/jquery.min.js']|theme }}"></script>
<script src="{{['assets/js/slick.js']|theme }}"></script>
<script src="{{['assets/js/script.js']|theme }}"></script>
<script src="{{['assets/js/hammer.min.js']|theme }}"></script>
<script src="{{['assets/js/jquery.mousewheel.js']|theme }}"></script>
<script src="{{['assets/mapplic/js/mapplic.js']|theme }}"></script>

        {% framework extras %}
        {% scripts %}

    </body>
</html>