description = "Movie Detail Layout"
==
<?php

function onStart()
{
    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}

?>
==
<!DOCTYPE html>
<html lang="en">
<head>

<title>{{ record.title }} | Movies | Canal Walk Shopping Centre</title>
<meta charset="utf-8">
<meta name="robots"                 content="noindex,nofollow">
<meta name="viewport"               content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="description"            content="{{record.synopsis}}">
<meta name="title"                  content="{{ record.title }} | Movies | Canal Walk">
<meta name="author"                 content="Canal Walk">
<meta name="twitter:site"           content="@Canal Walk" />
<meta name="twitter:creator"        content="@Canal Walk" />
<meta property="og:url"             content="{{ 'movies' | page(false) }}/{{ record.slug }}" />
<meta property="og:type"            content="article" />
<meta property="og:title"           content="{{ record.title }}" />
<meta property="og:description"     content="{{ record.synopsis }}" />
<meta property="og:image"           content="/storage/app/uploads/{{ record.poster }}" />

<link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">

<link href="{{[
        'assets/css/bootstrap.min.css', 
        'assets/css/bootstrap-grid.css',
        'assets/css/select2.min.css',
        'assets/css/font-awesome.min.css',
        'assets/css/style.css'
        ]|theme }}" rel="stylesheet">
        
{% styles %}

{{ mallDetails.google_tracking_code_header|raw }}

</head>

<body>

{{ mallDetails.google_tracking_code_body|raw }}

{% partial 'site/header' mallDetails=mallDetails %}

{% page %}

{% partial 'site/footer' %}
        
<script src='{{['/assets/js/jquery.js']|theme }}'></script>
<script src='{{['/assets/js/jquery-ui.js']|theme }}'></script>
<script src="{{['/assets/js/select2.min.js']|theme }}"></script>
<script src='{{['/assets/js/popper.min.js']|theme }}'></script>
<script src='{{['/assets/js/tether.min.js']|theme }}'></script>
<script src='{{['/assets/js/bootstrap.bundle.min.js']|theme }}'></script>
<script src='{{['/assets/js/imagesloaded.pkgd.min.js']|theme }}'></script>
<script src='{{['/assets/js/slick.js']|theme }}'></script>
<script src='{{['/assets/js/script.js']|theme }}'></script>
<script src='{{['/assets/js/hammer.min.js']|theme }}'></script>

<script>

$(document).ready(function() {

var $videoSrc;  
$('.play-btn').click(function() {
    $videoSrc = $(this).data( "src" );
});
console.log($videoSrc);

$('#movieTrailer').on('shown.bs.modal', function (e) {
    $("#video").attr('src',$videoSrc + "?rel=0&showinfo=0&modestbranding=1&autoplay=1" ); 
})
  
$('#movieTrailer').on('hide.bs.modal', function (e) {
    $("#video").attr('src',$videoSrc); 
})

});
</script>

{% framework extras %}
{% scripts %}

</body>
</html>