description = "Newsletter Subscribe"

[staticPage]
useContent = 1
default = 0

[renderForm]
formCode = "canal-walk-newsletter-subscription"
custom_redirect = "/canalwalk-newsletter/thanks"

[seoTags]

[staticBreadcrumbs]
==
<?php

function onStart()
{
    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}

?>
==
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% component 'seoTags' %}
<link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">
<link href="{{ [
        	'assets/css/bootstrap.min.css',
        	'assets/css/bootstrap-grid.css',
        	'assets/css/select2.min.css',
        	'assets/css/font-awesome.min.css',
        	'assets/css/mapplic.css',
        	'assets/css/map.css',
        	'assets/css/style.css'

       	]|theme }}" rel="stylesheet">
        {% styles %}

{{ mallDetails.google_tracking_code_header|raw }}

</head>
<body>

{{ mallDetails.google_tracking_code_body|raw }}

{% partial 'site/header' mallDetails=mallDetails %}

<section class="page-title">
  <div class="container">
   <div class="row no-gutters">
    <div class="col">
     <header>
      <h1>{{ this.page.title }}</h1>
     </header>
    </div>
   </div>
  </div>
 </section>



<section class="breadcrumb-wrapper d-md-block d-none">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb">
{% component 'staticBreadcrumbs' %}
                    </div>
                </div>
            </div>
        </div>
    </section>


 {% placeholder pageheader title="Page Header" %}



<section class="basic-content-page page">
        <section id="layout-content">
                    <div class="page-content-section">
                                      <div class="container">
                <div class="row no-gutters">

                    <div class="col">

{% component 'staticPage' %}


                         </div>
                    </div>
                </div>
            </div>
</section>
</section>

{% placeholder pagefooter title="Page Footer" %}

{% partial 'footer-newsletter-kids' %}
        {% partial 'site/footer' %}


<script src="{{ [
        	'assets/js/jquery.js',
        	'assets/js/jquery-ui.js',
        	'assets/js/select2.min.js',
        	'assets/js/popper.min.js',
        	'assets/js/tether.min.js',
        	'assets/js/bootstrap.bundle.min.js',
        	'assets/js/imagesloaded.pkgd.min.js',
        	'assets/js/slick.js',
        	'assets/js/script.js',
        	'assets/js/hammer.min.js',
        	'assets/js/jquery.mousewheel.js',
        	'assets/js/map_script.js',
        	'assets/js/mapplic.js'
       	]|theme }}"></script>

<script>

$(function(){
    $("input").prop('required',true);
    });

$(document).ready(function() {
    $('.basic-select').select2();
    $('.basic-select').select2({ minimumResultsForSearch: Infinity});
    });

</script>

        
        <script>
//define template
var template = $('#sections .section:first').clone();

//define counter
var sectionsCount = 1;

//add new section
$('body').on('click', '.addsection', function() {

    //increment
    sectionsCount++;

    //loop through each input
    var section = template.clone().find(':input').each(function(){

        //set id to store the updated section number
        var newId = this.id + sectionsCount;

        //update for label
        $(this).prev().attr('for', newId);

        //update id
        this.id = newId;
        this.name = $(this).attr("name") + newId;
        

    }).end()

    //inject new section
    .appendTo('#sections');
    return false;
});


//remove section
$('#sections').on('click', '.remove', function() {
    //fade out section
    $(this).parent().fadeOut(300, function(){
        //remove parent element (main section)
        $(this).parent().parent().empty();
        return false;
    });
    return false;
});



</script>


        {% framework extras %}
        {% scripts %}

    </body>
</html>