description = "Default layout"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"
==
<?php
function onStart()
{
    $this['page_layout'] =  'Two Column';

    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <title>Canal Walk - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
		<meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">

        <link href="{{ [
        	'assets/css/bootstrap.min.css',
        	'assets/css/bootstrap-grid.css',
        	'assets/css/font-awesome.min.css',
        	'assets/css/style.css'
       	]|theme }}" rel="stylesheet">
        {% styles %}

{{ mallDetails.google_tracking_code_header|raw }}

</head>
<body>

{{ mallDetails.google_tracking_code_body|raw }}
   
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' mallDetails=mallDetails %}
        </header>

        <!-- Content
        <section id="layout-content"> -->
            {% page %}
        <!-- </section> -->


        {% partial 'site/footer' %}
        
        
        <script src="{{ [
        	'assets/js/jquery-3.2.1.slim.min.js',
        	'assets/js/popper.min.js',
        	'assets/js/bootstrap.min.js',
        	'assets/js/imagesloaded.pkgd.min.js',
        	'assets/js/jquery.js',
        	'assets/js/jquery-ui.js',
        	'assets/js/slick.js',
        	'assets/js/script.js'
       	]|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>