description = "Whats On"

[movieslider]
movieslider = "now_showing"

[seoTags]
==
<?php

function onStart()
{
    $themeName = Cms\Classes\Theme::getActiveTheme()->getDirName();
    
    if( !empty($themeName) ) {
        $mall = \Hyprop\Malls\Models\Malls::where('theme_name', $themeName)->first(); 
    }

    $this['mallDetails'] = $mall;
}

?>
==
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% component 'seoTags' %}

<link rel="icon" type="image/ico" href="{{ 'assets/img/favicon.ico'|theme }}">

<link href="/themes/canal-walk/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/themes/canal-walk/assets/css/bootstrap-grid.css" rel="stylesheet">
<link href="/themes/canal-walk/assets/css/font-awesome.min.css" rel="stylesheet">
<link href="/themes/canal-walk/assets/css/style.css" rel="stylesheet">

        {% styles %}

{{ mallDetails.google_tracking_code_header|raw }}

</head>
<body>

{{ mallDetails.google_tracking_code_body|raw }}

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' mallDetails=mallDetails %}
        </header>
        
         <section class="page-title">
  <div class="container">
   <div class="row no-gutters">
    <div class="col">
     <header>
      <h1>{{ this.page.title }}</h1>
     </header>
    </div>
   </div>
  </div>
 </section>

<section class="whats-on-page archive-page">

    <section class="page-content">
        <div class="container">
            <div class="row">
                <div class="col">
                {% content 'whats-on-intro' %}
                </div>
            </div>
        </div>
    </section>
    
    
    {% component 'movieslider' %}
    
    

    <section class="three-column-square-wrapper bg-grey">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <header class="text-center">
                        <h4>FOOD & RESTAURANTS</h4>
                    </header>
                    <div class="intro">
{% content 'whats-on-intro-restaurants' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-block d-none">
            <div class="row">
                <div class="col-md-5 col-sm-4 col-4 mb-4">
                    <div class="item-block">
{% content 'whatson-restaurants-image' %}
                        <div class="content">
{% content 'whatson-restaurants-content' %}
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-8 col-8">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-6 mb-4">
                            <div class="item-block">
                                <div class="row no-gutters">
                                    <div class="col-md-7 col-sm-12 col-12">
{% content 'whatson-coffeeshops-image' %}
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-12">
                                        <div class="content">
{% content 'whatson-coffeeshops-content' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-6 col-6 mb-4">
                            <div class="item-block">
                                <div class="row no-gutters">
                                    <div class="col-md-7 col-sm-12 col-12">
{% content 'whatson-fastfood-image' %}
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-12">
                                        <div class="content">
{% content 'whatson-fastfood-content' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-none d-block">
            <div class="row">
                <div class="mobile-slick-3-square slick">
                    <div class="col-md-12 col-sm-12 col-12 mb-4">
                        <div class="item-block">
{% content 'whatson-restaurants-image' %}
                        <div class="content">
{% content 'whatson-restaurants-content' %}
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12 mb-4">
                        <div class="item-block">
{% content 'whatson-coffeeshops-image' %}
                            <div class="content">
{% content 'whatson-coffeeshops-content' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12 mb-4">
                        <div class="item-block">
{% content 'whatson-fastfood-image' %}
                            <div class="content">
{% content 'whatson-fastfood-content' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featured-item-wrapper">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <header class="text-center">
                        <h4>EVENT</h4>
                    </header>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-7 col-sm-12 col-12">
{% content 'whatson-events-image' %}
                </div>
                <div class="col-md-5 col-sm-12 col-12">
                    <div class="content">
{% content 'whatson-events' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <div class="text-center">
                        <a href="/whats-on/events" class="btn btn-outline-dark">Explore All Events</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="three-column-square-wrapper bg-grey">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12">
                    <header class="text-center">
                        <h4>KIDS</h4>
                    </header>
                    <div class="intro">
{% content 'whatson-kids-intro' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-block d-none">
            <div class="row">
                <div class="col-md-5 col-sm-4 col-4 mb-4 order-2"><!-- order-2 class is to make the images appear on the right -->
                    <div class="item-block">
{% content 'whatson-kids-world-image' %}
                        <div class="content">
{% content 'whatson-kids-world' %}
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-8 col-8">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-6 mb-4">
                            <div class="item-block">
                                <div class="row no-gutters">
                                    <div class="col-md-7 col-sm-12 col-12 order-2">
{% content 'whatson-kids-express-image' %}
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-12">
                                        <div class="content">
{% content 'whatson-kids-express' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-6 col-6 mb-4">
                            <div class="item-block">
                                <div class="row no-gutters">
                                    <div class="col-md-7 col-sm-12 col-12 order-2">
{% content 'whatson-kids-wonderland-image' %}
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-12">
                                        <div class="content">
{% content 'whatson-kids-wonderland' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-none d-block">
            <div class="row">
                <div class="mobile-slick-3-square slick">
                    <div class="col-md-12 col-sm-12 col-12 mb-4">
                        <div class="item-block">
{% content 'whatson-kids-world-image' %}
                            <div class="content">
{% content 'whatson-kids-world' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12 mb-4">
                        <div class="item-block">
{% content 'whatson-kids-express-image' %}
                            <div class="content">
{% content 'whatson-kids-express' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12 mb-4">
                        <div class="item-block">
{% content 'whatson-kids-wonderland-image' %}
                            <div class="content">
{% content 'whatson-kids-wonderland' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>

        {% partial 'site/footer' %}
        
<script src='{{['/assets/js/jquery.js']|theme }}'></script>
<script src='{{['/assets/js/jquery-ui.js']|theme }}'></script>
<script src='{{['/assets/js/popper.min.js']|theme }}'></script>
<script src='{{['/assets/js/tether.min.js']|theme }}'></script>
<script src='{{['/assets/js/bootstrap.bundle.min.js']|theme }}'></script>
<script src='{{['/assets/js/imagesloaded.pkgd.min.js']|theme }}'></script>
<script src='{{['/assets/js/slick.js']|theme }}'></script>
<script src='{{['/assets/js/script.js']|theme }}'></script>
<script src='{{['/assets/js/hammer.min.js']|theme }}'></script>

        {% framework extras %}
        {% scripts %}

    </body>
</html>