title = "Blog Categories"
url = "/blog/:slug?"
layout = "four-column"
meta_title = "Blog Categories"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "blog"
hide_crumb = 0
remove_crumb_trail = 0
crumbElementTitle = "title"
crumb_disabled = 0
contentType = "html"
meta_description = "Blog Categories"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 12
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-category"
postPage = "blog-post"
==
<?php
function onEnd()
{
    // Optional - set the page title to the category name
    if ($this->category)
        $this->page->title = $this->category->name;
}
?>
==
<!-- trends-listing-page archive-page -->
<section class="trends-listing-page archive-page">
   
    <!-- trends -->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col">
                    <header>
                        <h1>{{ this.page.title }}</h1>
                    </header>
                </div>
            </div>
        </div>
    </section> 
    <!-- /trends -->
    
    <!-- breadcrumb -->
   <section class="breadcrumb-wrapper d-md-block d-none">
	    <div class="container">
		    <div class="row">
			    <div class="col">
			    	{% component 'breadcrumbs' %}
		    	</div>
	    	</div>
    	</div>
    </section>
    <!-- /breadcrumb -->
    
    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% content 'Intro-Blog' %}
            </div>
        </div>
    </div>

    {% component 'blogPosts' %}

</section>
<!-- /trends-listing-page archive-page -->

{% partial 'footer-newsletter' %}