title = "Blog"
url = "/blog"
layout = "four-column"
meta_title = "Blog | Fashion inspo, tips, tricks & more | Canal Walk"
meta_description = "The Canal Walk blog aims to inspire with on-trend fashion looks, hot products and tips & tricks to ensure that your look is always on point."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "Homepage"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
contentType = "html"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":slug"
postsPerPage = 17
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-category"
postPage = "blog-post"
==
<!-- trends-listing-page archive-page -->
<main class="trends-listing-page archive-page">
   
    <!-- trends -->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col">
                    <header>
                        <h1>{{ this.page.title }}</h1>
                    </header>
                </div>
            </div>
        </div>
    </section> 
    <!-- /trends -->
    
    <!-- breadcrumb -->
   <nav class="breadcrumb-wrapper d-md-block d-none">
	    <div class="container">
		    <div class="row">
			    <div class="col">
			    	{% component 'breadcrumbs' %}
		    	</div>
	    	</div>
    	</div>
    </nav>
    <!-- /breadcrumb -->
    
    <!-- text intro -->


        <div class="container">
            <div class="row">
                <div class="col text-center">
    {% content 'Intro-Blog' %}
                </div>
            </div>
        </div>

    <!-- /text intro -->

    {% component 'blogPosts' %}

{% partial 'footer-newsletter' %}