title = "All Events"
url = "/whats-on/events/:category?"
layout = "default"
meta_title = "All Events | Canal Walk Shopping Centre"
meta_description = "Our events calendar is always busy with something special for you to enjoy. From annual school holiday events to keep the kids busy, to exclusive fashion events highlighting the hottest seasonal trends, we have it all."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "whatson"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
contentType = "html"

[eventlist]
eventsPerPage = 10
eventCalandar = 3
==
<?php
function categoryHandle() {

	if(post('category')) {
		return Redirect::to('whats-on/events/'.post('category'));
	} elseif (post('category') == '') {
		return Redirect::to('whats-on/events');
	}

}
?>
==
<main class="competition-listing-page archive-page">

	<section class="page-title">
		<div class="container">
			<div class="row no-gutters">
				<div class="col">
					<header>
						<h1>{{ this.page.title }}</h1>
					</header>
				</div>
			</div>
		</div>
	</section>

	{% partial 'site/breadcrumb' %}

	<section class="page-content">
		<div class="container">
			<div class="row">
				<div class="col">
				{% content 'event-intro' %}
				</div>
			</div>
		</div>
	</section>

{% component 'eventlist' %}


</main>
{% content 'newsletter-signup-win' %}