title = "Map"
url = "/shops/map/:floor?"
layout = "mapplic"
meta_title = "Map of Shops | Canal Walk Shopping Centre"
meta_description = "Experience one of Africa’s leading super-regional retail centres. View the map of all the stores inside Canal Walk to esnure you know exactly where you are going."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
contentType = "html"

[mallmap]
display_option = 0
==
<section class="page-title">
		<div class="container">
			<div class="row no-gutters">
				<div class="col">
					<header>
						<h1>Mall Map</h1>
					</header>
				</div>
			</div>
		</div>
	</section>
	
	{% partial 'site/breadcrumb' %}
	
	{% component 'mallmap' %}