title = "Movies Forthcoming"
url = "/whats-on/movies/forthcoming"
layout = "default"
meta_title = "Forthcoming Movies at Nu Metro | Canal Walk Shopping Centre"
meta_description = "Got your eye on a hot new Hollywood movie release coming soon?  Take a look at this page to see which movies will be released at Nu Metro Canal Walk soon, find out more about each movie and be excited by their trailers."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "whatson"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
contentType = "html"

[movies]
sortOrder = "forthcoming"

[staticMenu]
code = "movies"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"
==
<?php
function onStart()
{
    $this['moviestatus'] = "Coming Soon";
}
?>
==
<main class="movies-listing-page archive-page">

    <section class="page-title">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <header>
                        <h1>{{this.page.title}}</h1>
                    </header>
                </div>
            </div>
        </div>
    </section>

<nav class="breadcrumb-wrapper d-md-block d-none">
	<div class="container">
		<div class="row">
			<div class="col">
{% component 'breadcrumbs' %}
			</div>
		</div>
	</div>
</nav>

    <section class="movies-listing-content page-content">
        <div class="container">
            <div class="row">
                <div class="col">
{% content 'intro-numetro-new' %}
                </div>
            </div>
        </div>
    </section>

    <section class="page-filters">
        <div class="container">
            
            <div class="row">
                <div class="col">
                    <div class="tag-filter">
                        <div class="tags">
                         
{% partial 'movies-menu' %}

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="movies-listing bg-grey">
        <div class="container">
            <div class="row align-items-center">

                {% component 'movies' %}
            
            </div>
        </div>
    </section>
    
    
</main>