title = "Nu Metro Movies"
url = "/whats-on/movies/:slug?"
layout = "default"
meta_title = "Canal Walk Movies | Nu Metro Scene Xtreme & Scene VIP"
meta_description = "Immerse yourself in the best movie experience at Nu Metro’s Scene Xtreme and Scene VIP at Canal Walk Shopping Centre.  View the latest cinema releases, watch the trailers and book now!"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "whatson"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
contentType = "html"

[movies]
sortOrder = "nowshowing"

[filtermovies]

[staticMenu]
code = "movies"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"
==
<?php
function onStart()
{
    $this['moviestatus'] = "Now Showing";
}
?>
==
{% set genres = filtermovies.genres %}
{% set slug = 'slug' %}


<main class="movies-listing-page archive-page" >

    <section class="page-title">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <header>
                        <h1>{{this.page.title}}</h1>
                    </header>
                </div>
            </div>
        </div>
    </section>

<nav class="breadcrumb-wrapper d-md-block d-none">
	<div class="container">
		<div class="row">
			<div class="col">
				{% component 'breadcrumbs' %}
			</div>
		</div>
	</div>
</nav>

    <section class="movies-listing-content page-content">
        <div class="container">
            <div class="row">
                <div class="col">
{% content 'intro-numetro' %}
                </div>
            </div>
        </div>
    </section>


    <nav class="page-filters">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="search-filter">
                        <div class="search-bar">
							<form id="searchBar" action="{{ 'movies' | page(false) }}" method="get">
								<input type="text" name="search" class="search-box" value="{{ search }}" placeholder="{{movies.search}}" />
								<span class="search-icon"><i class="fa fa-search" aria-hidden="true" onclick="document.getElementById('searchBar').submit();"></i></span>
							</form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="category-filter">
                        <div class="row justify-content-center">
                            <div class="col-sm-3">
                            
    <form id="genres" action="{{ 'movies' | page(false) }}" method="get">
            <select class="form-control basic-select" id="genre" name="genre" onchange="window.location.href = '{{ 'movies' | page(false) }}/' + document.getElementById('genre').value;">
              <option value="">All Movies</option>
			    {% for genre in genres %}
			    <option value="{{genre.slug}}" {% if genre.slug == this.param[slug] %}selected{% endif %}>{{genre.genre_title}}</option>
			  {% endfor %}
            </select>
    </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if movies.search == null or this.param[slug] == null %}
            <div class="row">
                <div class="col">
                    <div class="tag-filter">
                        <div class="tags">
                        
                            {% partial 'movies-menu' %}

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </nav>
    



    <section class="movies-listing bg-grey">
        <div class="container">
            <div class="row align-items-center">
            
                {% component 'movies' %}

            </div>
        </div>
    </section>

</main>