title = "Movie"
url = "/whats-on/movie/:slug"
layout = "movies-detail"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "movies"
hide_crumb = 0
remove_crumb_trail = 0
crumbElementTitle = "title"
crumb_disabled = 0
contentType = "html"
meta_title = "Movie"
meta_description = "Movie"

[movieslider]
movieslider = "now_showing"

[ssbuttonsssb]
facebook = 1
twitter = 1
google+ = 0
tumblr = 0
pinterest = 0
pocket = 0
reddit = 0
linkedin = 0
wordpress = 0
pinboard = 0
email = 1
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "simple_icons_black"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"

[builderDetails]
modelClass = "Hyprop\Movies\Models\Movie"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<?php
function onEnd() {
    $this->page->title = $this->movie['title'];
    $this->page->today = date('Y-m-d');
    
    if ( !$this->record){
        $this->setStatusCode(404);
        return $this->controller->run('/whats-on/movies/404', 404);
        //return Redirect::to('/whats-on/movies/404');
        }
        
}
?>
==
<nav class="breadcrumb-wrapper d-md-block d-none">
	<div class="container">
		<div class="row">
			<div class="col">
{% component 'breadcrumbs' %}
			</div>
		</div>
	</div>
</nav>


{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}


{% if record %}
<main class="single-movie-page single-page" itemscope itemtype="http://schema.org/Movie">

<section class="page-title">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-sm-6 col-12">
                        <header>
                        <h1 id='title' itemprop="name">{{ record.title }}</h1>
                    </header>
                    {% if record.age != 0 %}{{ record.age }}{% endif %}</div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="movie-type text-md-right text-sm-center">
                                <img src="/storage/app/uploads/nstar-small.png" class="img-fluid" alt="2D3D" title="2D3D"/>
                                {% if record.is_4dx != false %}4DX{% endif %}
                                {% if record.is_xtreme != false %}<img src="/storage/app/uploads/xtreme-small.png" class="img-fluid" alt="4DX" title="4DX"/>{% endif %}
                                {% if record.is_vip != false %}<img src="/storage/app/uploads/vip-small.png" class="img-fluid" alt="VIP" title="VIP"/>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

    <section class="movie-information">
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="movieTrailerTitle" id="movieTrailer" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="movieTrailerTitle">{{ record.title }} {{ record.youtube }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe id="video" style="width:100%; height:315px" src="https://www.youtube.com/embed/{{ record.youtube }}"  allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 d-none d-md-block">
                    <div class="image">
                    {% if record.poster %}
                        <img src="/storage/app/uploads/{{ record.poster }}" class="img-fluid" alt="{{ record.title }}" title="{{ record.title }}" itemprop="image"/>
                    {% else %}
                        <img src="/storage/app/uploads/noimage.jpg" class="img-fluid" alt="No Image" itemprop="image"/>
                    {% endif %}
                        {% if record.youtube != false %}
                        <div class="play-btn btn btn-outline-dark" data-toggle="modal" data-target="#movieTrailer" data-src="https://www.youtube.com/embed/{{ record.youtube }}">
                        <img src="/themes/canal-walk/assets/img/play-icon.png" class="fa" width="70" alt="play movie" title="play movie">
                        </div>
                        {% endif %}
                        </div>
                    <div class="row">
                        <div class="col">
                        <div class="content trailer">
                            {% if record.youtube != false %}
                                <div class="play-btn btn btn-outline-dark" data-toggle="modal" data-target="#movieTrailer" data-src="https://www.youtube.com/embed/{{ record.youtube }}">PLAY TRAILER <i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                <div class="movie-info-content">
                    <div class="row">
                        <div class="col-6 d-block d-md-none">
                        
                            <div class="image">
                    {% if record.poster %}
                        <img src="/storage/app/uploads/{{ record.poster }}" class="img-fluid" alt="{{ record.title }}" title="{{ record.title }}" itemprop="image"/>
                    {% else %}
                        <img src="/storage/app/uploads/noimage.jpg" class="img-fluid" alt="No Image" itemprop="image"/>
                    {% endif %}
                    
                    
                    
                    
                    {% if record.youtube != false %}
                                <div class="play-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                                 {% endif %}
                            </div>
                       
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="content details">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-12">
                                        {% if record.release <= this.page.today %}<p>Now showing</p>{% else %}Coming Soon{% endif %}
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-12">
                                        <span>Running time</span>
                                        <p itemprop="duration">{{ record.running_time }} minutes</p>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-12">
                                        <span>Release date</span>
                                        <p itemprop="datePublished" content="{{ record.release }}">{{ record.release }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if record.youtube != false %}
                    <div class="row d-block d-md-none">
                        <div class="col">
                        <div class="book-movie">
                         <a href="https://numetro.co.za/movie/{{ record.movie_id }}/" class="btn btn-outline-light" style="border:1px solid #fff; color:#fff; margin:0">BOOK NOW</a>  </div>
                         
                            <div class="content trailer">
                                <a href="" class="btn btn-outline-dark">PLAY TRAILER <i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <div class="content directors">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-12">
                                        <span>Director</span>
                                        <p itemscope itemtype="http://schema.org/Person">
                                        <span itemprop="name" itemprop="director">{{record.director}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-12">
                                        <span>Music</span>
                                        <p>{{record.music|raw}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="content cast">
                                <span>Cast</span>
                                <p>{{record.cast}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="content description">
                                <p itemprop="description">{{ html_clean(record.synopsis)}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-content-center">
                        <div class="col">
                            <div class="content movie-share-links social-links">
                                <span>Share:</span>
                                {% component 'ssbuttonsssb' %}
                                <!--
                                <ul>
                                    <li><a href="mailto:?subject={{ record.title }}e&amp;body=Check out this movie http://www.canalwalk.co.za/movies/{{ record.slug }}."
   title="Share by Email"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
                                </ul>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>



    

<form action="https://numetro.co.za/movie/{{ record.movie_id }}/" method="get" target="_blank" class="d-none d-md-block">
    <div class="book-movie bg-black ">
        <div class="container">
            <div class="row text-center justify-content-center">
                <!--
                FOR NEW NUMTERO API
                <div class="col-md-3 col-sm-3 col-3">
                    <span>BOOK MOVIE</span>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <select class="form-control" name="date">
                        <option value="0">Select Date</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <select class="form-control" name="time">
                        <option value="0">Select Time</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div> -->
                <div class="col-md-3 col-sm-3 col-3">
                
                <button type="submit"  class="btn btn-outline-light" style="border:1px solid #fff; color:#fff; margin:0">BOOK NOW</button>
                </div>
            </div>
        </div>
    </div>
</form>



{% else %}
    
    
{% endif %}



{% component 'movieslider' %}


</main>