title = "Offers Category"
url = "/offers/category/:category1?/:category2?/:category3?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
contentType = "html"
meta_title = "Offers Category"
meta_description = "Offers Category"

[offerlist]
eventsPerPage = 10
noEventMessage = "No events."
eventPage = "events/event"
==
<?php
function categoryHandle() {

	if(post('category1') != post('category1_old')) {
		return Redirect::to('offers/category/'.post('category1'));
	}

	if(post('category2') != post('category2_old')) {
		return Redirect::to('offers/category/'.post('category1').'/'.post('category2'));
	}

	if(post('category3') != post('category3_old')) {
		return Redirect::to('offers/category/'.post('category1').'/'.post('category2').'/'.post('category3'));
	}

}
?>
==
<section class="competition-listing-page archive-page">

	<section class="page-title">
		<div class="container">
			<div class="row no-gutters">
				<div class="col">
					<header>
						<h1>{{ this.page.title }}</h1>
					</header>
				</div>
			</div>
		</div>
	</section>

	{% partial 'site/breadcrumb' %}

	<section class="page-content">
		<div class="container">
			<div class="row">
				<div class="col">
{% content 'offers-intro' %}
				</div>
			</div>
		</div>
	</section>

    {% component 'offerlist' %}

</section>