title = "Offer"
url = "/offers/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "offers"
hide_crumb = 0
remove_crumb_trail = 0
crumbElementTitle = "title"
crumb_disabled = 0
contentType = "html"
meta_title = "Offer"
meta_description = "Offer"

[comments]
plugin = "cms"
mode = 1
depth = 0
pageNumber = "{{ :page }}"
commentsPerPage = 10
rate = "none"
duration = 400
slug = "{{ :slug }}"

[ssbuttonsssb]
facebook = 1
twitter = 1
google+ = 0
tumblr = 0
pinterest = 0
pocket = 0
reddit = 0
linkedin = 0
wordpress = 0
pinboard = 0
email = 1
custom_order = 1
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "simple_icons_black"

[offerdetail]
results = 10
==
{% set offerDetail = offerdetail.offerDetail %}
{% set similarOffers = offerdetail.similarOffers %}

<main class="single-offer-page single-page">

    <!-- bread crumb -->
    <nav class="breadcrumb-wrapper d-md-block d-none">
        <div class="container">
            <div class="row">
                <div class="col">

                        {% component 'breadcrumbs' %}

                </div>
            </div>
        </div>
    </nav>
    <!-- /bread crumb -->
    
    {% component 'offerdetail' %}
</main>