title = "Offers"
url = "/offers"
layout = "default"
meta_title = "Offers, Sales & Deals at Canal Walk Shopping Centre"
meta_description = "Explore all of our exclusive offers below and find out what's happening at Canal Walk's stores. Got your eye on something? This is where you'll find out if it's on sale. Looking for a deal?  Then treat this page as your inside scoop."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "Homepage"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
contentType = "html"

[offerlist]
eventsPerPage = 10
noEventMessage = "No events."
eventPage = "events/event"
==
<?php
function categoryHandle() {

	if(post('category1') != post('category1_old')) {
		return Redirect::to('offers/category/'.post('category1'));
	}

	if(post('category2') != post('category2_old')) {
		return Redirect::to('offers/category/'.post('category1').'/'.post('category2'));
	}

	if(post('category3') != post('category3_old')) {
		return Redirect::to('offers/category/'.post('category1').'/'.post('category2').'/'.post('category3'));
	}

}
?>
==
<main class="competition-listing-page archive-page">

	<section class="page-title">
		<div class="container">
			<div class="row no-gutters">
				<div class="col">
					<header>
						<h1>{{ this.page.title }}</h1>
					</header>
				</div>
			</div>
		</div>
	</section>

	{% partial 'site/breadcrumb' %}

	<section class="page-content">
		<div class="container">
			<div class="row">
				<div class="col">
{% content 'offers-intro' %}
				</div>
			</div>
		</div>
	</section>

{% component 'offerlist' %}


</main>