title = "Win Detail"
url = "/whats-on/win/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "win"
hide_crumb = 0
remove_crumb_trail = 0
crumbElementTitle = "title"
crumb_disabled = 0
contentType = "html"
meta_title = "Win Detail"
meta_description = "Win Detail"

[ssbuttonsssb]
facebook = 1
twitter = 1
google+ = 0
tumblr = 0
pinterest = 0
pocket = 0
reddit = 0
linkedin = 0
wordpress = 0
pinboard = 0
email = 1
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "flat_web_icon_set_color"

[windetail]
==
<section class="single-offer-page single-page">

    <!-- bread crumb -->
    <section class="breadcrumb-wrapper d-md-block d-none">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ol class="breadcrumb">
                        {% component 'breadcrumbs' %}
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /bread crumb -->
    
    {% component 'windetail' %}
</section>