title = "Win"
url = "/whats-on/win"
layout = "default"
meta_title = "Win with Canal Walk Shopping Centre | Competitions"
meta_description = "You could win with Canal Walk. View our exciting competition(s), and be sure to get your entry in. Who knows, today could be your lucky day!"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "whatson"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
contentType = "html"

[winlisting]
==
<section class="competition-listing-page archive-page">

	<section class="page-title">
		<div class="container">
			<div class="row no-gutters">
				<div class="col">
					<header>
						<h1>{{ this.page.title }}</h1>
					</header>
				</div>
			</div>
		</div>
	</section>

	{% partial 'site/breadcrumb' %}

	<section class="page-content">
		<div class="container">
			<div class="row">
				<div class="col">
{% content 'win-intro' %}
				</div>
			</div>
		</div>
	</section>
	
	{% component 'winlisting' %}

{% content 'newsletter-signup-win' %}

</section>