[viewBag]
title = 404
url = "/404"
layout = "404-custom"
is_hidden = 0
navigation_hidden = 0
robot_index = "noindex"
robot_follow = "nofollow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/404-lost-page-2.jpg" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}

{% put pagefooter %}
<figure data-snippet="footer-news-subscribe">&nbsp;</figure>

{% endput %}
==
<h2>404 error</h2>

<p>We apologise, but this trolley has lost its way. Please make use of the link below to get back on track.</p>

<p><a href="/">EXPLORE HOME</a></p>