[viewBag]
title = "About Canal Walk"
url = "/more/about-canal-walk"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "More About  | Canal Walk Shopping Centre"
meta_description = "Experience one of Africa’s leading super-regional retail centres. Find out more about this retail powerhouse here."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners6.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<p>Canal Walk, Cape Town’s largest shopping centre, in the <a href="/more/century-city">Century City precinct</a>, is conveniently located on the N1, central to the CBD and surrounding suburbs. &nbsp;The centre has a <a href="/shops">wide selection with over 400 stores</a> and thousands of the best local and international brands to choose from. Visit Canal Walk for the best fashion, retail, leisure and entertainment for the whole family, all under one roof.</p>

<p>While exploring Canal Walk, you’ll find a <a href="/shops/category/food-beverage">variety of eateries</a>, from sit-down restaurants, cafés, and coffee shops, to takeaway outlets where you can either take a seat in our spacious Food Court or grab a bite on the go. These eateries vary across cuisines and there are both Halaal and vegetarian options.</p>

<p>If you are looking for the ultimate movie experience, then <a href="/whats-on/movies">Nu Metro Canal Walk</a> is where you want to book your next movie. The Scene Xtreme cinema boasts the biggest 3-storey-high screen in Cape Town, 4K ultra-high-definition projection and 360-degree sound to fully immerse yourself in the movie experience. If comfort and luxury is what you are looking for, then visit one of Nu Metro’s Scene VIP cinemas. It includes an exclusive VIP lounge and bar, fully reclinable plush spacious seating and service to your seat.</p>

<p>The Canal Walk shopping experience encompasses variety, convenience, entertainment, and leisure with easy access directly off the N1. There are more than <a href="/facilities-services/parking-and-security">8000 parking bays</a> both undercover and on rooftop levels with 12 conveniently located entrances into the centre.</p>

<p>Stay up-to-date with the latest in fashion, trends, events, competitions and movie releases by <a href="/canalwalk-newsletter">signing up for our newsletter</a>. For kids events, entertainment, competitions and movie releases, join our kids club, <a href="/kidsworld">Kids World</a>.</p>

<p>Canal Walk. Have it all.</p>

<h2>Trading hours</h2>

<p>Canal Walk is open between <strong>9am - 9pm every day</strong>. Some stores such as restaurants, banks, Nu Metro cinemas, and boulevard stores have alternative trading hours. Take a <u><a href="/shops">look at our shop listing</a></u> to view each store’s trading hours.</p>

<p><strong>Monday - Sunday:</strong> 9am - 9pm</p>

<p><strong>Public holidays:</strong> 9am - 9pm</p>

<p><strong>Christmas Day:</strong> Optional trading. Only certain retailers will open.</p>

<p><strong>New Year's Day:</strong> 9am - 7pm. Optional trading after 7pm.</p>

<p><strong>Festive season:</strong> We extend our trading hours to 10pm during the festive season.</p>

<p>
	<br>
</p>