[viewBag]
title = "Century City Precinct"
url = "/more/century-city"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "The Century City Precinct | Canal Walk Shopping Centre"
meta_description = "Canal Walk Shopping Centre can be found in Century City, a 250ha business and lifestyle precinct, halfway between Cape Town’s CBD and its northern suburbs. It combines office, retail, residential and leisure components in an integrated, stimulating and aesthetically pleasing urban environment."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners7.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<h2>About the Century City precinct</h2>

<p><a href="http://centurycity.co.za/" target="_blank">Century City</a> is a 250ha business and lifestyle precinct, halfway between Cape Town’s CBD and its northern suburbs, on the N1. This mixed-use urban environment combines office, <a href="/shops">retail</a>, residential, and leisure components.</p>

<p>They are continually working at reducing their carbon footprint, with the aim to become a sustainable settlement.</p>

<p>Century City has an array of conference facilities, event venues, hotels, and apartments. These include the <a href="https://www.marriott.com/hotels/travel/cptcm-cape-town-marriott-hotel-crystal-towers/" rel="noopener noreferrer" target="_blank">Marriott Crystal Towers Hotel &amp; Spa</a>, <a href="http://www.manhattansuitescapetown.co.za/" rel="noopener noreferrer" target="_blank">Manhattan Suites &amp; Conferencing</a>, <a href="http://colosseum.co.za/" rel="noopener noreferrer" target="_blank">Colosseum Luxury Hotel</a>, <a href="http://www.islandclubhotel.co.za/" rel="noopener noreferrer" target="_blank">Island Club Hotel &amp; Apartments</a>, and <a href="https://www.tsogosun.com/stayeasy-century-city" rel="noopener noreferrer" target="_blank">StayEasy</a>.</p>

<p>One of Century City’s unique attractions is the 8km of navigable canals that meander throughout the precinct and <a href="https://intaka.co.za/" rel="noopener noreferrer" target="_blank">Intaka Island</a>, an award-winning 6 hectares of majestic wetlands, bird sanctuary, and nature conservation area.</p>

<p>Century City is easy accessible via various public transport routes, including, <a href="https://myciti.org.za/en/home/" rel="noopener noreferrer" target="_blank">MyCiTi</a> and Golden Arrow bus stations, Century City train station, and mini-bus taxi rank.</p>

<p>In addition, Century City present many events all year around such as <a href="https://fivesfutbol.co.za/find-your-venue/fives-street-pop-up-ct/?venue=1787" rel="noopener noreferrer" target="_blank">Fives Football</a>, <a href="http://www.parkrun.co.za/centurycity/course/" rel="noopener noreferrer" target="_blank">Parkruns</a>, the <a href="http://events.centurycity.co.za/" rel="noopener noreferrer" target="_blank">Natural Goods Market and much more.</a></p>