[viewBag]
title = "Centre Management"
url = "/more/centre-management"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Centre Management | More | Canal Walk Shopping Centre"
meta_description = "Canal Walk attracts shoppers both from the Western Cape, as well as from South Africa, and even globally. Find out more about the centre management practices of one of the leading super-regional retail centres in Africa."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners3.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<p>Please feel free to reach out to Canal Walk's Centre Management team. &nbsp;You can use the relevant email addresses and contact numbers below.</p>

<table style="width: 100%; margin-left: calc(0%);">
	<tbody>
		<tr>
			<td style="width: 31.4367%; background-color: rgb(204, 204, 204);">
				<br>&nbsp;General</td>
			<td style="width: 28.9474%; background-color: rgb(204, 204, 204);">
				<br>021 529 9600</td>
			<td style="width: 39.4737%; background-color: rgb(204, 204, 204);">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=General%20Enquiry%20from%20Website">Email</a></td>
		</tr>
		<tr>
			<td style="width: 31.4367%;">
				<br>&nbsp;Visitor Information Centre &amp; Customer Service
				<br>
			</td>
			<td style="width: 28.9474%;">
				<br>021 529 9699
				<br>
			</td>
			<td style="width: 39.4737%;">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Customer%20%20Service%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%; background-color: rgb(204, 204, 204);">
				<br>&nbsp;Leasing</td>
			<td style="width: 28.9474%; background-color: rgb(204, 204, 204);">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%; background-color: rgb(204, 204, 204);">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Leasing%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%;">
				<br>&nbsp;Marketing</td>
			<td style="width: 28.9474%;">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%;">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Marketing%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%; background-color: rgb(204, 204, 204);">
				<br>&nbsp;Operations</td>
			<td style="width: 28.9474%; background-color: rgb(204, 204, 204);">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%; background-color: rgb(204, 204, 204);">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Operations%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%;">
				<br>&nbsp;Facilities Management</td>
			<td style="width: 28.9474%;">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%;">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Facilities%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%; background-color: rgb(204, 204, 204);">
				<br>&nbsp;Safety &amp; Security</td>
			<td style="width: 28.9474%; background-color: rgb(204, 204, 204);">
				<br>021 529 9700</td>
			<td style="width: 39.4737%; background-color: rgb(204, 204, 204);">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Security%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%;">
				<br>&nbsp;Promotional Court Bookings</td>
			<td style="width: 28.9474%;">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%;">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Promtional%20Court%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%; background-color: rgb(204, 204, 204);">
				<br>&nbsp;Advertising</td>
			<td style="width: 28.9474%; background-color: rgb(204, 204, 204);">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%; background-color: rgb(204, 204, 204);">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Advertising%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%;">
				<br>&nbsp;Gift Cards</td>
			<td style="width: 28.9474%;">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%;">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Gift%20Card%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%; background-color: rgb(204, 204, 204);">
				<br>&nbsp;Parking</td>
			<td style="width: 28.9474%; background-color: rgb(204, 204, 204);">
				<br>021 552 4337</td>
			<td style="width: 39.4737%; background-color: rgb(204, 204, 204);">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Parking%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%;">
				<br>&nbsp;Events</td>
			<td style="width: 28.9474%;">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%;">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Events%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%; background-color: rgb(204, 204, 204);">
				<br>&nbsp;PR &amp; Press Releases</td>
			<td style="width: 28.9474%; background-color: rgb(204, 204, 204);">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%; background-color: rgb(204, 204, 204);">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=PR%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%;">
				<br>&nbsp;Digital &amp; Social Media</td>
			<td style="width: 28.9474%;">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%;">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Digital%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 31.4367%; background-color: rgb(204, 204, 204);">
				<br>&nbsp;Tourism</td>
			<td style="width: 28.9474%; background-color: rgb(204, 204, 204);">
				<br>021 529 9600
				<br>
			</td>
			<td style="width: 39.4737%; background-color: rgb(204, 204, 204);">
				<br><a href="mailto:support@canalwalk.zendesk.com?subject=Tourism%20Enquiry%20from%20Website">Email</a>
				<br>
			</td>
		</tr>
	</tbody>
</table>