[viewBag]
title = "Office Leasing"
url = "/business-opportunities/century-city-office-space-for-rent"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Office Leasing | Business Opportunities | Canal Walk"
meta_description = "Experience one of Africa’s leading super-regional retail centres, as a business opportunity. Discover more about the office leasing service that we offer."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners10.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<h2>Canal Walk Office Towers</h2>

<p><strong>The perfect office location</strong></p>

<p>The Office Towers at Canal Walk offer 16 floors of office space. Located within the prestigious Century City precinct, with the urban sophistication of smart working spaces and spectacular views. The towers offer tenants a variety of office arrangements with direct access to Canal Walk’s legendary <a href="/shops">retail experience</a>.</p>

<p>The Canal Walk Office Towers offer the following:&nbsp;</p>

<ul>
	<li>Controlled entry&nbsp;</li>
	<li>Conveniently located along the N1 highway&nbsp;</li>
	<li>8,000 <a href="/facilities-services/parking-and-security">dedicated parking bays</a>&nbsp;</li>
	<li>Direct access to Canal Walk&nbsp;</li>
	<li>Easily accessible modes of public transport&nbsp;</li>
	<li>Emergency standby power supply&nbsp;</li>
	<li>Fibre optic internet connectivity&nbsp;</li>
	<li>Located in Century City&nbsp;</li>
	<li>Midway between the Northern Suburbs and the CBD on the <a href="https://myciti.org.za" rel="noopener noreferrer" target="_blank">MyCiTi bus route</a>
		<br>
		<br>
	</li>
</ul>
<div class="et_pb_tab_content">

	<h2>Office space for rent at Canal Walk</h2>

	<p><strong>East Office Tower</strong></p>

	<p><strong>Ground Floor</strong></p>

	<table style="width: 100%;">
		<tbody>
			<tr>
				<td style="width: 25.0000%;">Usable area: &nbsp;
					<br>276m²
					<br>
				</td>
				<td style="width: 25.0000%;">Common area: &nbsp;
					<br>12m²
					<br>
				</td>
				<td style="width: 25.0000%;">Total lettable area: &nbsp;
					<br>288m²
					<br>
				</td>
				<td style="width: 25.0000%;">Availability: &nbsp;
					<br>Immediately
					<br>
				</td>
			</tr>
		</tbody>
	</table>

	<p>
		<br>
	</p>

	<p><strong>6th Floor</strong></p>

	<table style="width: 100%;">
		<tbody>
			<tr>
				<td style="width: 25.0000%;">Usable area: &nbsp;
					<br>214m²
					<br>
				</td>
				<td style="width: 25.0000%;">Common area: &nbsp;
					<br>42m²
					<br>
				</td>
				<td style="width: 25.0000%;">Total lettable area: &nbsp;
					<br>256m²
					<br>
				</td>
				<td style="width: 25.0000%;">Availability: &nbsp;
					<br>Immediately
					<br>
				</td>
			</tr>
		</tbody>
	</table>

	<p>
		<br>
	</p>

	<h2>Canal Walk showreel</h2>
	<figure data-inspector-id="inspectorid-8487731284" data-snippet="0002">&nbsp;</figure>

	<h2>Contact Canal Walk's Leasing Team</h2>
	<figure data-snippet="LeasingFormFormStack">&nbsp;</figure>
</div>

<p>
	<br>
</p>