[viewBag]
title = "Child Facilities"
url = "/facilities-services/child-facilities"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Child Facilities | Services | Canal Walk Shopping Centre"
meta_description = "Canal Walk attracts shoppers both from the Western Cape, as well as from South Africa, and even globally. Find out more about the child facilities that we offer, to ensure a perfect family experience."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners13.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<h2>Baby changing, feeding and restrooms</h2>

<p>There are private baby changing and feeding facilities available to moms and dads, which can be found on the Lower Level of the shopping centre at Entrances 2 and 3. All of these facilities are pram friendly and easy for mom or dad to access. Inside, you’ll find a changing station, private nursing room, and a toilet for parents. For quick nappy changes, dropdown baby changing tables are available in all ladies’ toilets (except for those in the Food Court).
	<br>
</p>

<p>Separate parent and child restrooms are also available, which are specifically designed to accommodate children, and are perfect for dads taking their daughters or moms taking their sons to the bathroom. A toilet and basin are available for mom or dad, with smaller facilities for your little one. You can access the parent and child restrooms on the Lower Level in both the Trading Post and Market Lane. The facilities on the Upper Level are located in the restrooms by <a href="/shops/shop/kingsley-heath?location=ul548">Kingsley Heath</a>, <a href="/shops/shop/young-designers-emporium-yde?location=ul432">YDE</a> and <a href="/shops/shop/execuspecs?location=ul510A">Execuspecs</a>.</p>

<h2>Child find wrist bands</h2>

<p>Complimentary child find wristbands are available at our <a href="/facilities-services/customer-service-desks">Visitor Information Centre</a>, located on the Upper Level and Customer Service Desks at Entrances 1 and 4. Parents can complete their emergency contact details on the wristbands to help us find them if their children get lost.</p>

<h2>Designated parking</h2>

<p>To ensure easy accessibility to the shopping centre for parents with prams, designated parking bays are conveniently provided at each of our entrances.</p>