[viewBag]
title = "Thank you"
url = "/contact/thanks"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Thanks"
meta_description = "Thanks"
robot_index = "noindex"
robot_follow = "nofollow"
==
{% put pagefooter %}
<figure data-snippet="latesttrends">&nbsp;</figure>

{% endput %}
==
<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 33.3333%;">
				<div data-empty="true">
					<br>
				</div>
			</td>
			<td style="width: 33.3333%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Green-tick-icon-01-1.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success">
				<br>
			</td>
			<td style="width: 33.3333%;">
				<div data-empty="true">
					<br>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<h3 style="text-align: center;">Thank you for contacting us!</h3>

<p style="text-align: center;">We've received your messages and we'll get back to you as soon as possible.</p>

<p style="text-align: center;">We aim to respond within 2 hours during normal office hours (Mon - Fri 08h30 - 17h00).</p>

<p style="text-align: center;"><a class="btn btn-outline-dark" href="/">Explore home</a></p>