[viewBag]
title = "Customer Services"
url = "/facilities-services/customer-service-desks"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Customer Service and Information Desks"
meta_description = "Customer Service and Information Desks"
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners19.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<p>The Customer Service Desk at Canal Walk can be easily found on the Lower Level of the shopping centre, at Entrances 1. &nbsp;Our Visitor Information Centre is located on the Upper Level opposite Steve Madden and Adidas. &nbsp;All our Information Assistants can be contacted on 021 529 9699. Services offered at these desks include:</p>

<h2>Information on Canal Walk</h2>

<p>Need to find a specific store, facility, or get directions? Or maybe you want to enquire about a brand or product, or just have a general enquiry. Our Information Assistants will be happy to assist you or point you in the right direction.</p>

<h2>Canal Walk Gift Cards</h2>

<p>The ideal gift you can get anyone (or yourself if you want a treat) is the gift of an abundance of choice. A <a href="/gift-cards/purchasing-gift-card">Canal Walk Gift Card</a> is a great option, and can be redeemed at any store in the centre, making them incredibly convenient.</p>

<h2>Hiring of wheelchairs</h2>

<p>Wheelchairs are available for hire at our Customer Service Desk at Entrance 1 until 4pm, and thereafter at our Visitor Information Centre until 9pm. <a href="/facilities-service/disabled-facilities">Limited wheelchairs</a> are available for hire on presentation of your I.D. or driver’s licence, on a first come, first serve basis. &nbsp;Your I.D. or driver's licence will be held at the desk until the wheelchair is returned. All entrances offer wheelchair access and disabled toilet facilities are available throughout the centre for your convenience.</p>

<h2>Temporary enabled parking discs</h2>

<p>Temporarily enabled parking discs are available at our Customer Service Desk at Entrance 1 until 4pm, and thereafter at our Visitor Information Centre until 9pm.</p>

<h2>Prepaid parking</h2>

<p>Skip the parking pay station queue and enjoy the convenience and special rates of a prepaid Canal Walk Parking Card. It’s easy to use and when you purchase your Parking Card, we give you a complimentary exit ticket, so parking is on us! Parking Cards can be purchased at our Visitor Information Centre, located on the Upper Level below Entrance 10.</p>

<h2>Child find wrist bands</h2>

<p>Complimentary child find wristbands are available at our Visitor Information Centre located on the Upper Level opposite Steve Madden. Parents can complete their emergency contact details on the wristband to assist us in finding them if their children get lost.</p>

<h2>Transport information</h2>

<p>Our Information Assistants are able to help you with information on public transport systems. Options include the MyCiTi and Golden Arrow bus services, Century City Train Station, public minibus taxis, and private sedan taxi services.</p>

<h2>Lost property</h2>

<p>Whether you have lost or found something, our Lost Property Department will be able to assist you. They can be contacted on 021 529 9699 and are located at the Visitor Information Centre on the Upper Level below Entrance 10.</p>

<h2>Western Cape Tourism brochures</h2>

<p>Our Visitor Information Centre is accredited by Cape Town Tourism and offers a variety of informative brochures on the attractions, entertainment and accommodation in Cape Town and the Western Cape.</p>

<h2>SANParks bookings</h2>

<p>Our Visitor Information Centre has a dedicated SANParks representative, who can assist with all SANParks bookings in South Africa.&nbsp;</p>