[viewBag]
title = "Disabled Facilities"
url = "/facilities-services/disabled-facilities"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Disabled Facilities | Services | Canal Walk Shopping Centre"
meta_description = "Experience one of Africa’s leading super-regional retail centres. Canal Walk has made sure that the centre is equipped to optimize the shopping experience for everyone. Read more about our disabled facilities."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners14.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<h2>Disabled parking and wheelchair hire</h2>

<p>Designated <a href="/facilities-services/parking-and-security">parking bays</a> are located at each of Canal Walk’s entrances to ensure easy access for both the physically disabled and senior citizens. Temporarily enabled parking discs and hired wheelchairs are available at our <a href="/facilities-services/customer-service-desks">Customer Service Desks.</a>
	<br>
	<br>A limited number of complimentary wheelchairs are available for hire on presentation of your I.D. or driver’s licence, on a first come, first serve basis. Your I.D. or driver's licence will be held at the desk until the wheelchair is returned. &nbsp;All entrances offer wheelchair access, and disabled toilet facilities are available throughout the centre for your convenience.</p>