[viewBag]
title = "Disclaimer"
url = "/legal/disclaimer"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Disclaimer | Legal | Canal Walk Shopping Centre"
meta_description = "Experience one of Africa’s leading super-regional retail centres. Read the legal disclaimer of Canal Walk Shopping centre."
robot_index = "noindex"
robot_follow = "nofollow"
==
<p>The user acknowledges that all information, including, without limitation, any advertisements, special offers or promotions, published on www.canalwalk.co.za is supplied to www.canalwalk.co.za by the third parties.</p>

<p>www.canalwalk.co.za accordingly accepts no liability for the correctness of any such information or any errors in such information.&nbsp;</p>

<p>The user indemnifies and holds www.canalwalk.co.za harmless for any and all damages suffered as a result of any information being incorrect or for any errors in such information.</p>