[viewBag]
title = "First Aid"
url = "/facilities-services/first-aid"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "First Aid | Services | Canal Walk Shopping Centre"
meta_description = "Canal Walk attracts shoppers both from the Western Cape, as well as from South Africa, and even globally. Find out more about the first aid services that we offer, to ensure a perfect shopping experience."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners18.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<p>To ensure everyone’s safety and well-being, a first aid service is available daily from a level 5 medic who is on duty from 10am to 10pm. Every Security Supervisor employed by Canal Walk is trained in first aid up to level 3. Additionally, a team of paramedics will be called in case of serious medical emergencies. If you are experiencing an emergency or are in need of first aid assistance, please alert our <a href="/contact">Security Guards and Information Assistants.</a></p>