[viewBag]
title = "Free WiFi"
url = "/facilities-services/free-wifi"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Free WiFi | Services | Canal Walk Shopping Centre"
meta_description = "Experience one of Africa’s leading super-regional retail centres. Canal Walk has made sure that the centre is equipped to optimize the shopping experience for everyone. Read more about our free WiFi services."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners19.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<h2>30 minutes of complimentary WiFi</h2>

<p>Follow these steps to connect:</p>

<ol>
	<li>Turn your Wi-Fi on.</li>
	<li>Connect to “CanalWalkWiFi”.</li>
	<li>Open your browser and select “Complimentary Access” as your service provider.</li>
	<li>Complete the required fields and click “Connect”.</li>
	<li>You will now be connected and receive 30 minutes of free Wi-Fi.</li>
</ol>

<p><em>Terms and conditions apply.</em></p>