[viewBag]
title = "Gift Card FAQs"
url = "/gift-cards/frequently-asked-questions"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Canal Walk Gift Card FAQs"
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners22.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<p>Take a look at some of the most frequently asked questions about Canal Walk's Gift Cards. &nbsp;If you aren't able to find exactly what you're looking for here, then&nbsp;<a href="/contact">send us a message</a> and we'll give you all the information you need.</p>

<p>
	<br>
</p>
<figure data-snippet="0006">&nbsp;</figure>