[viewBag]
title = "Kids World Newsletter"
url = "/kidsworld"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Kids World  | Newsletter | Canal Walk Shopping Centre"
meta_description = "Sign up now for the kids world newsletter brought to you by Canal Walk and stand a chance to win great prizes, view specials as they start and plenty more."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/AdobeStock_157443436.jpeg" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<p>Children between the ages of 4 and 12 years old can join the trendiest kids club around – Canal Walk’s Kids World. We’ll bring you the coolest news, the latest in children’s fashion, events, monthly newsletters, birthday gifts, and tons more! Kids World members get to enjoy complimentary access to our Fun Zone events, including exclusive activities. Register today and enter your kids into a world of fun!</p>

<h3>Sign up to Kids World</h3>
<figure data-snippet="CWKidsworldFormstack">&nbsp;</figure>