[viewBag]
title = "Marketing & Advertising"
url = "/business-opportunities/marketing-advertising"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Marketing & Advertising | Business Opportunities | Canal Walk"
meta_description = "Experience one of Africa’s leading super-regional retail centres, as a business opportunity. Discover more about the marketing & advertising opportunities that we offer."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners15.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<h2>Marketing opportunities</h2>

<p>With over 400 stores, Canal Walk offers the most comprehensive, competitive and compelling shopping experience in Africa. Various platforms are available for the promotion of a variety of products and brands. &nbsp;With an LSM of 5 – 10+ and an average monthly foot count of 1.7 million shoppers you can be assured of the best possible exposure for brand activations within a retail environment.</p>

<p>The following opportunities exist at Canal Walk:</p>

<ul>
	<li>Promotional court exhibitions</li>
	<li>Centre-wide exhibitions</li>
	<li>Event sponsorship</li>
	<li>Digital screen advertising</li>
	<li>Canal Walk TV advertising</li>
	<li>Auditorium rentals</li>
</ul>

<h2><span>Mall advertising</span></h2>

<p>Canal Walk offers advertisers numerous platforms to promote their brands or to target a specific message to shoppers. There are external and internal options available to give your brand the perfect opportunity to have a real presence in the only super-regional shopping centre in the Western Cape.</p>

<ul>
	<li>Parking light boxes</li>
	<li>Escalator branding</li>
	<li>Lift banners</li>
	<li>Hanging banners</li>
</ul>

<h2>Download</h2>

<p class="oc-text-gray"><a href="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business%20Opportunities/CanalWalkPromotionAdvertising%20Opportunities.pdf" rel="noopener noreferrer" target="_blank">Sales and marketing opportunities brochure &gt;</a></p>

<h2>Contact our Sales Team</h2>

<p>Fill out the form below and our Sales Team will get back to you shortly.</p>
<figure data-snippet="MarketingAdvertisingFormStack">&nbsp;</figure>