[viewBag]
title = "Parking and Security"
url = "/facilities-services/parking-and-security"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Parking And Security | Services | Canal Walk Shopping Centre"
meta_description = "Canal Walk attracts shoppers both from the Western Cape, as well as from South Africa, and even globally. Find out more about the parking and security services that we offer, to ensure a perfect shopping experience."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners24.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<h2>Parking</h2>

<p>There are over 8000 parking bays available at Canal Walk, with more than half of them being undercover; perfect if you’re looking for a shady spot to park your car and escape the African sun.</p>

<p>When you visit Canal Walk, you’ll find priority parking for both <a href="/facilities-services/disabled-facilities">disabled individuals</a> and <a href="/facilities-services/child-facilities">parents with children</a>, located conveniently at all main entrances. And, if you need to drop your teenager off for a fun day or evening with their friends, you can make use of our 15-minute drop off/drive through free parking period.</p>

<p>Pay stations are located at all of Canal Walk’s exits for your convenience. You’ll also find parking management attendants around all of our parking areas, who are fully equipped for basic roadside assistance onsite when needed.</p>

<p>For any further information please <a href="/contact">contact the Parking Office.</a></p>

<h3>Parking Tariffs</h3>

<table class="oc-table-alternate-rows" style="width: 39%; margin-right: calc(61%);">
	<tbody>
		<tr>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 52.7132%; background-color: rgb(204, 204, 204);">0 - 2 Hours
				<br>
			</td>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 46.5116%; background-color: rgb(204, 204, 204);">R10.00
				<br>
			</td>
		</tr>
		<tr>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 52.7132%; background-color: rgb(239, 239, 239);">2 - 5 Hours
				<br>
			</td>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 46.5116%; background-color: rgb(239, 239, 239);">R13.00
				<br>
			</td>
		</tr>
		<tr>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 52.7132%; background-color: rgb(204, 204, 204);">5 - 6 Hours
				<br>
			</td>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 46.5116%; background-color: rgb(204, 204, 204);">R15.00
				<br>
			</td>
		</tr>
		<tr>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 52.7132%; background-color: rgb(239, 239, 239);">6 - 7 Hours
				<br>
			</td>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 46.5116%; background-color: rgb(239, 239, 239);">R25.00
				<br>
			</td>
		</tr>
		<tr>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 52.7132%; background-color: rgb(204, 204, 204);">7 - 8 Hours
				<br>
			</td>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 46.5116%; background-color: rgb(204, 204, 204);">R30.00
				<br>
			</td>
		</tr>
		<tr>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 52.7132%; background-color: rgb(239, 239, 239);">8 - 9 Hours
				<br>
			</td>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="width: 46.5116%; background-color: rgb(239, 239, 239);">R40.00
				<br>
			</td>
		</tr>
		<tr>
			<td class="oc-cell-thick-border  oc-cell-highlighted" style="background-color: rgb(204, 204, 204);">9 - 12 Hours
				<br>
			</td>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="background-color: rgb(204, 204, 204);">R50.00
				<br>
			</td>
		</tr>
		<tr>
			<td class="oc-cell-thick-border  oc-cell-highlighted">12+ Hours
				<br>
			</td>
			<td class="oc-cell-thick-border oc-cell-highlighted">+R5.00 p/h
				<br>
			</td>
		</tr>
		<tr>
			<td class="oc-cell-highlighted  oc-cell-thick-border" style="background-color: rgb(204, 204, 204);">Lost ticket
				<br>
			</td>
			<td class="oc-cell-thick-border oc-cell-highlighted" style="background-color: rgb(204, 204, 204);">R50.00
				<br>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp; &nbsp;&nbsp;</p>

<h2>Security</h2>

<p>The security of our shoppers and stores is incredibly important to us, and we work closely with leading security experts to identify the latest crime trends and security threats to ensure that we are fully prepared to handle these situations, should they arise.</p>

<p>Extensive security measures are in place at Canal Walk, including 24-hour closed circuit television, bicycle patrollers, and patrols by uniformed and undercover guards on-foot, all supported by an intervention response team. Canal Walk also fosters strong relationships with SAPS and Crime Intelligence Units, from whom we obtain all the latest information we need to regularly assess security preparedness and ensure the centre’s safety.
	<br>
</p>

<p>Fidelity Security Services provides a safe and enjoyable shopping experience to all of our visitors. They are a well-established and respected company with security personnel who are all well-versed in keeping you safe while you enjoy your time at Canal Walk. Officers who are coached in public relations cheerfully deal with shoppers, and provide general information and directions to your favourite stores, while also observing and reporting on their surroundings.</p>