[viewBag]
title = "Privacy Policy"
url = "/legal/privacy-policy"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Privacy Policy | Legal | Canal Walk Shopping Centre"
meta_description = "Experience one of Africa’s leading super-regional retail centres. Be sure to read the privacy policy of Canal Walk Shopping centre for any legal queries."
robot_index = "noindex"
robot_follow = "nofollow"
==
<h2><strong>1.1 Canal Walk’s online Privacy Policy</strong></h2>

<p>1.1.1 Hyprop Investments Limited and Ellerine Bros. Proprietary Limited, the owners of Canal Walk (collectively referred to as <strong>“we”</strong> or <strong>“us”</strong>) are committed to protecting and safeguarding your privacy. Please read this Privacy Policy to understand how information about you will be treated and how you can tell us your preferences.</p>

<p>1.1.2 If you have any questions, please email the Information Officer at <a href="mailto:karin@hyprop.co.za">karin@hyprop.co.za</a> or write a letter to the Information Officer at PO Box 41257, Craighall, 2024.</p>

<h2><strong>1.2 Information we may collect personal information about you</strong></h2>

<p>1.2.1 <strong>“Personal Information”</strong> means information relating to you which can identify you. Personal Information does not include any information where you cannot be identified (e.g. statistics about usage in general or in categories). The types of Personal Information that we may collect from you includes, without limitation, the following:</p>

<p>1.2.1.1 Information which you provide to us on our website or apps <strong>(“Sites”)</strong>;
	<br>1.2.1.2 Information which you provide to us by entering in or participating in any of our competitions;
	<br>1.2.1.3 Title, name, postal address, physical address, email address, telephone number, identity number, car registration number, credit or debit card number and expiry date;
	<br>1.2.1.4 Information about your use of Canal Walk and/or how often you enter upon Canal Walk;
	<br>1.2.1.5 Information about your use of our Sites. Some of this information may be automatically collected, such as your IP (Internet Protocol) address, your unique device identifier, browser type, browser language and access times. We may also automatically collect your location information (if you have consented to this on your device);
	<br>1.2.1.6 Information about your personal preferences, including brands, products and/or advertisements you like, dislike, click on or share with others;
	<br>1.2.1.7 Demographic information; and/or
	<br>1.2.1.8 Other information which you give us or provide us when you interact with us or Canal Walk in any way, including via third parties.</p>

<h2><strong>1.3 How we collect personal information</strong></h2>

<p>We may collect Personal Information from you when you-
	<br>1.3.1 use our Sites;
	<br>1.3.2 use WiFi at Canal Walk;
	<br>1.3.3 communicate or correspond with us directly;
	<br>1.3.4 purchase gift cards from Canal Walk;
	<br>1.3.5 participate in any competition at Canal Walk;
	<br>1.3.6 participate in any promotion and/or event at Canal Walk;
	<br>1.3.7 interact with us through third parties (e.g. via brand sponsors or partners and/or social media platforms); and/or
	<br>1.3.8 provide this information to third parties (e.g. via third party surveys or market research).</p>

<h2><strong>1.4 How we use your personal information</strong></h2>

<p>1.4.1 The Personal Information that we collect from you will be adequate, relevant and not excessive. We will process your Personal Information in accordance with the Promotion and Protection of Personal Information Act, 4 of 2013 <strong>(“POPIA”)</strong>. Details of your legal rights can be found on the Information Regulator’s website www.justice.gov.za/inforeg.</p>

<h2><strong>1.4.2 We may use your personal information to-</strong></h2>

<p>1.4.2.1 provide you with information, products, services or experiences that you request from us;
	<br>1.4.2.2 process payments for purchases;
	<br>1.4.2.3 compile your customer profile;
	<br>1.4.2.4 provide and personalise our products and services to you and your preferences, including making predictions about your shopping profile, brands, products, characteristics, interests and/or preferences;
	<br>1.4.2.5 display targeted advertisements, products, brands, content, features, deals and/or offers <strong>(“Products”)</strong> that match your customer profile and/or notify you about Products that we consider will be of interest to you;
	<br>1.4.2.6 keep track of your activity patterns and preferences in order to improve the level of service you receive and to increase the functionality of the Sites, including monitoring and analysing usage trends, determining the effectiveness of our advertisements, promotions and/or events and personalising and improving our Sites;
	<br>1.4.2.7 link or combine with other information we get from third parties to better understand your requirements, to provide you with better service and/or to enhance your shopping experience at Canal Walk;
	<br>1.4.2.8 inform you of products, services, experiences, events, brands and/or promotions which we consider will be of interest to you where you indicated that you wish to be contacted for such purposes by post, email, SMS, cellular phone, telephone, through our Sites or via social media platforms and/or any other means of electronic communication;
	<br>1.4.2.8 ensure that content from our Sites is presented in the most effective and efficient manner for you and your electronic device;
	<br>1.4.2.9 send you push notifications;
	<br>1.4.2.10 interact with you on social media platforms;
	<br>1.4.2.11 allow you to participate in any interactive features of our Products when you choose to do so;
	<br>1.4.2.12 request feedback from you;
	<br>1.4.2.13 respond to your emails, queries, questions, comments, requests and/or complaints;
	<br>1.4.2.14 send you surveys, updates, security alerts, support and/or administrative messages and/or facilitate your use of, and our administration and operation of, our Sites.</p>

<h2><strong>1.5 How we keep your personal information safe</strong></h2>

<p>1.5.1 Your Personal Information is held in a secure database.
	<br>1.5.2 We have personal information policies, procedures and rules in force to protect your Personal Information from unauthorised access, use, disclosure, destruction and/or loss.
	<br>1.5.3 All of our employees and/or service providers that have access to, and are associated with, the processing of Personal Information are obliged to keep your Personal Information confidential.
	<br>1.5.4 Whilst your Personal Information will not be automatically disclosed by us, where we are obliged to do so under law, court order and/or regulatory authority, we may disclose your Personal Information.
	<br>1.5.5 Please note that communication over the Internet is not secure unless it is encrypted.
	<br>1.5.6 We cannot accept responsibility for any unauthorised access or loss of Personal Information which is beyond our control.
	<br>1.6 How We Disclose Your Personal Information
	<br>1.6.1 We may disclose your Personal Information to-
	<br>1.6.1.1 Our employees;
	<br>1.6.1.2 Suppliers and service providers who may access your Personal Information when providing products and services to us;
	<br>1.6.1.3 Regulatory authorities and/or under any court order or when we are obliged to do so by law;
	<br>1.6.1.4 Our professional advisors; and/or
	<br>1.6.1.5 We may also share information or statistics with third parties in an aggregated or anonymous form that does not identify you in any way.
	<br>1.7. Cookies
	<br>1.7.1 We use cookies and other technologies to help improve your experience at Canal Walk and on our Sites.
	<br>1.7.2 A cookie is a text file placed into the memory of your computer by our computer. A copy of this text file is sent by your computer whenever it communicates with our Sites. We use cookies to identify you. You can set up your browser to notify you when you receive a cookie. This enables you to decide if you want it or not. However, some of the services and features offered through our Sites may not function properly if cookies are disabled.</p>

<h2><strong>1.8 Other technologies</strong></h2>

<p>We may use sensor technology in Canal Walk to help us understand and better improve our customers at Canal Walk. The sensors capture signals automatically emitted from mobile devices but do not, in any way, attempt to store Personal Information from a customer. This information will be used by Canal Walk to better understand its customers and to improve their shopping experience at Canal Walk.</p>

<h2><strong>1.9 Changes</strong></h2>

<p>This Privacy Policy may change from time to time, and if it does, the up-to-date version will always be available on our website. Please note that by participating in any competition, you are agreeing to any updated versions.</p>

<h2><strong>1.10 Acceptance of this Privacy Policy</strong></h2>

<p>By using our Sites and/or by participating in any competition, you consent to the collection and processing of your Personal Information by us in accordance with this Privacy Policy.</p>

<h2><strong>1.11 How to opt out</strong></h2>

<p>By participating in any competition at Canal Walk or by using our Site, you have opted in and consented to us contacting you and/or processing your Personal Information in accordance with this Privacy Policy. If you would like us to stop contacting you with information about our Products, please send an email to kimaalb[at]canalwalk.co.za or write to the Information Officer at PO Box 41257, Craighall, 2024.</p>