[viewBag]
title = "Purchase a Gift Card"
url = "/gift-cards/purchasing-gift-card"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Gift Card | Services | Canal Walk Shopping Centre"
meta_description = "Canal Walk is one of the most popular and extensive shopping malls in Africa. Make sure you get your gift cards from us so that special person in your life can get anything there heart desires."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners25.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<p>The Canal Walk Gift Card is the perfect gift to spoiling someone special or just to treat yourself. It offers an abundance of choice with an exquisite selection of the world’s most desirable brands and ensures that they find something they really want. &nbsp;</p>

<p>Our Gift Cards are beautifully designed and can be redeemed at all stores where MasterCard is accepted. &nbsp;</p>

<h2>Purchasing a Gift Card</h2>

<p>Gift Cards can be purchased from our Visitor Information Centre, located on the Upper Level and Customer Service Desks located at Entrance 1, which makes shopping an absolute breeze. Please note that Canal Walk Gift Cards can only be purchased with a debit or credit card (excluding AMEX and Diners Club) and you are required to present your I.D. or driver’s license for FICA purposes. &nbsp;No cash or third party payments will be accepted when purchasing a Gift Card.</p>

<h2>Checking the balance of your Gift Card</h2>

<p>To check your Gift Card balance, you can choose from the below options:</p>

<p>1. Visit <a href="http://www.whatsonmycard.com" rel="noopener noreferrer" target="_blank">www.whatsonmycard.com</a></p>

<p>2. Call the Tutuka support line on 0861 10 12 10 and select Account Balance (option 1)*</p>

<p>3. SMS your Gift Card number (no spaces) to 34246*</p>

<p>* Standard cellphone rates apply</p>

<p>For more information please call 021 529 9600 or email giftvouchers@canalwalk.co.za.</p>

<p>
	<br>
</p>

<p>
	<br>
</p>