[viewBag]
title = "Retail Leasing"
url = "/business-opportunities/retail-leasing"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Retail Leasing | Business Opportunities | Canal Walk"
meta_description = "Experience one of Africa’s leading super-regional retail centres, as a business opportunity. Discover more about the retail leasing service that we offer."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners20.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<h2>Canal Walk retail space</h2>

<p><strong>The perfect retail location.</strong></p>

<p>Canal Walk Shopping Centre, Cape Town's premier shopping destination, marries the world's most desirable brands, shopping convenience, inspired entertainment, and everyday leisure. With a multitude of stores representing leading local and global brands, we offer one of the most compelling lifestyle shopping experiences in South Africa.&nbsp;</p>

<p>Canal Walk attracts millions of visitors each year with spectacular architecture, spacious hallways, and a selection of unique retail opportunities, exciting events, and activities for the whole family to enjoy.&nbsp;</p>

<p>Canal Walk offers direct access from the N1 highway and is located a mere 10-minute drive from Cape Town's CBD.&nbsp;</p>

<p>There are over 8,000 parking bays available, with over half of them being undercover. Canal Walk is open from 9am to 9pm daily.</p>

<h2>Offering</h2>

<ul>
	<li>17 screen <a href="/whats-on/movies">Nu Metro cinema complex</a> with a Scene Xtreme and three Scene VIP cinemas&nbsp;</li>
	<li>Anchor stores - Woolworths, Pick n Pay, H&amp;M, Game, Checkers, Edgars, and Nu Metro&nbsp;</li>
	<li>Convenient location along the N1 highway</li>
	<li>Easily accessible modes of public transport located in Century City</li>
	<li>Midway between the Northern Suburbs and the CBD&nbsp;</li>
	<li>On the <a href="https://myciti.org.za/" rel="noopener noreferrer" target="_blank">MyCiTi bus route</a>&nbsp;</li>
	<li>Over <a href="/facilities-services/parking-and-security">8,000 parking bays</a>&nbsp;</li>
	<li>Over <a href="/shops">400 stores&nbsp;</a></li>
	<li>Own in-centre television station - Canal Walk TV (CWTV)&nbsp;</li>
	<li>Retail Area of 151 820m²&nbsp;</li>
	<li>Super Regional Shopping Centre with 20 million annual shoppers&nbsp;</li>
	<li>Trading hours 9am - 9pm daily&nbsp;</li>
	<li><a href="/facilities-services/customer-service-desks">Visitor Information Centre</a> accredited by Cape Town Tourism</li>
</ul>

<h2>Gallery</h2>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/browns diamond store in canal walk.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/Outside Canal Walk on Balcony.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/canal walk food court.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/new balance store in canal walk.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/g-star raw in canal walk.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/roof of canal walk mall.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/restaurants and coffee shops in canal walk.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/puma store in canal walk.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/la coste store in canal walk.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/steve madden shop in canal walk.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/inside the food court at canal walk.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
			<td style="width: 25.0000%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Business Opportunities/Superga store in canal walk.jpg" style="width: 100%;" class="fr-fic fr-dib">
				<br>
			</td>
		</tr>
	</tbody>
</table>

<h2>Canal Walk showreel</h2>
<figure data-inspector-id="inspectorid-41973350980" data-snippet="0002">&nbsp;</figure>

<h2>Contact Canal Walk's Leasing Team</h2>
<figure data-snippet="LeasingFormFormStack">&nbsp;</figure>