[viewBag]
title = "Thank you"
url = "/shops/thank-you"
layout = "static"
is_hidden = 0
navigation_hidden = 0
meta_title = "Thank you"
meta_description = "Thanks"
robot_index = "noindex"
robot_follow = "nofollow"
==
{% put pagefooter %}
<figure data-snippet="latesttrends">&nbsp;</figure>

{% endput %}
==
<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 33.3333%;">
				<br>
			</td>
			<td style="width: 33.3333%;"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/Green-tick-icon-01-1.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></td>
			<td style="width: 33.3333%;">
				<br>
			</td>
		</tr>
	</tbody>
</table>

<h2 style="text-align: center;">Thank you for your message!</h2>

<p style="text-align: center;">Your message has been sent to the store. &nbsp;</p>

<p style="text-align: center;"><a class="btn btn-outline-dark" href="/">Explore home</a></p>