[viewBag]
title = "Canal Walk Newsletter"
url = "/canalwalk-newsletter"
layout = "newsletter"
is_hidden = 0
navigation_hidden = 0
meta_title = "Canal Walk |  Newsletter | Canal Walk Shopping Centre"
meta_description = "Experience one of Africa’s leading super-regional retail centres. Sign up for the Canal Walk newsletter to ensure that you stay in touch with promotions, events and much more."
robot_index = "index"
robot_follow = "follow"
==
{% put pageheader %}
<p><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/uploaded-files/web banners6.png" style="width: 100%;" class="fr-fic fr-dib" data-result="success"></p>

{% endput %}
==
<p>Sign up to the Canal Walk newsletter – we’ll keep you updated on the hottest trends of the season. Plus, you'll be the first to hear about exciting new stores, excellent offers, the latest movies, upcoming events, and enticing competitions.</p>

<h3>Sign up to the Canal Walk newsletter</h3>
<figure data-snippet="CWShopperSignUpFormStack">&nbsp;</figure>