{% set records = forthcoming.movies %}

{% for record in records %}

    <div class="col-md-3 col-sm-6 col-6">
        <div class="movie-block">
            <div class="image">
              <a href="/movie/{{ record.slug }}">
                {% if record.poster %}
                    <img src="{{ record.movie_poster.path }}" class="img-fluid" alt="{{ record.title }}" itemprop="image"/>
                {% else %}
                    <img src="/storage/app/uploads/noimage.jpg" class="img-fluid" alt="No Image" itemprop="image"/>
                {% endif %}            </a></div>
            <div class="content">
                <div class="movie-type">
                    {% if record.is_3d != false %}3D{% endif %}
                    {% if record.is_4dx != false %}4DX{% endif %}
                    {% if record.is_xtreme != false %}XTREME{% endif %}
                    {% if record.is_vip != false %}VIP{% endif %}
                </div>

                {% if record.age != 0 %}<div class="age-restriction"><span>{{ record.age }}</span></div>{% endif %}
                <a href="/movie/{{ record.slug }}">More Info</a>
            </div>
            <h6><a href="/movie/{{ record.slug }}">{{ record.title }}</a></h6>
        </div>
    </div>


{% else %}
    <div class="no-data">{{ noRecordsMessage }}</div>
{% endfor %}
