
{% set eventDetail = event.eventDetail %}
{% set similarEvents = event.similarEvents %}

<main class="single-event-page single-page" itemscope itemtype="http://schema.org/Event">

	{% partial 'site/breadcrumb' %}

	<section class="event-information">
	
	    <div class="page-title">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <header>
                        <h1 id="title" itemprop="name">{{ eventDetail.name }}</h1>
                    </header>
				{% if eventDetail.category %}
                    <div class="category"><span class="name">{{ eventDetail.category.name }}</span></div>
				{% endif %}
                </div>
            </div>
        </div>
    </div>
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-12 col-lg-7">

				{% if eventDetail.banner %}
                    <img src="{{ eventDetail.banner.path }}" class="d-block w-100" alt="{{ eventDetail.name }}" title="{{ eventDetail.name }}" itemprop="image"/>
				{% elseif eventDetail.featured_image %}
					<img src="{{ eventDetail.featured_image|media }}" class="d-block w-100" itemprop="image" />
				{% endif %}

                </div>
                <div class="col-12 col-lg-5">
                    <div class="content">
                        <div class="row">
                            <div class="col">
                                <div class="content event-date">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-7">
                                            <span>Date</span>
                                            <p itemprop="startDate" content="{{ eventDetail.start_at|date('Y-m-d') }}T{{ eventDetail.start_at|date('H:i') }}">
                                                {% if eventDetail.start_at|date('d M Y') == eventDetail.ends_at|date('d M Y') %}
                                                    {{ eventDetail.start_at|date('j M') }}
                                                {% else %}
                                                    {{ eventDetail.start_at|date('j M') }} - {{ eventDetail.ends_at|date('j M Y') }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-5">
                                            <span>Time</span>
                                            <p>{{ eventDetail.start_at|date('H:i') }} - {{ eventDetail.ends_at|date('H:i') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="content event-venue">
                                    <div class="row">
                                        <div class="col-12">
                                        <div  itemprop="location" itemscope itemtype="http://schema.org/Place" >
                                            <span>Venue</span>
                                            <p itemprop="address">{{ eventDetail.address }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

					{% if eventDetail.price %}

                        <div class="row">
                            <div class="col">
                                <div class="content event-info">
                                    <div class="row">
                                       <div class="col-md-6 col-12"><div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            <span>Price</span>
                                            <p itemprop="price">{{ eventDetail.price }}</p>
                                            </div>
                                        </div>
										<!--
                                        <div class="col-md-6 col-12">
                                            <span>Website</span>
                                            <p>www.funfashion.co.za</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

					{% endif %}

                    {% if eventDetail.external_link %}
                        <div class="row">
                            <div class="col">
                                <div class="event-button">
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="{{ eventDetail.external_link }}" class="btn btn-outline-dark" target="_blank" itemprop="url">{{ eventDetail.external_cta }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="content" itemprop="description">
							{{ eventDetail.detail | parseSnippets }}
                        </div>

                        <div class="article-footer">
                            <div class="row justify-content-between">
                                <div class="col-md-6 col-7">
                                    <div class="content trend-share-links social-links">
                                        <span>Share:</span>
										{% component 'ssbuttonsssb' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="trend-comments comments-form bg-grey">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-12">
                <div class="form-header">
                            <h4>Submit a comment</h4>
                        </div>
					{% component 'comments' %}
                </div>
            </div>
        </div>
    </section>

{% if similarEvents.count %}
	<section class="three-column-wrapper">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <header class="text-center">
                        <h4>OTHER EVENTS</h4>
                    </header>
                </div>
            </div>
        </div>
		<div class="container">
			<div class="row no-gutters">
				<div class="mobile-slick-3 slick">
					{% for similarEvent in similarEvents %}
					<div class="col-md-12 col-sm-12 col-12">

						<a href="{{ 'event-post'| page({ slug:similarEvent.slug }) }}">
						{% if similarEvent.banner %}
		                    <img src="{{ similarEvent.banner.thumb(400,250,{'mode':'crop'})}}" class="d-block w-100" alt="{{ similarEvent.banner.description }}" />
						{% elseif similarEvent.featured_image %}
							<img src="{{ similarEvent.featured_image|media }}" class="d-block w-100" alt="{{ similarEvent.banner.description }}" />
						{% endif %}
						</a>

						<div class="content">
							<div class="category">
								<span><strong>EVENT</strong></span><span>{{ similarEvent.start_at|date('j M') }} - {{ similarEvent.ends_at|date('j M Y') }}</span>
							</div>
							<h5>
								<a href="{{ 'event-post'| page({ slug:similarEvent.slug }) }}">{{similarEvent.name}}</a>
							</h5>
						</div>
					</div>
					{% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <a href="{{ 'events' | page(false) }}" class="btn btn-outline-dark">Explore All Events</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
</main>