{% set category_obj_arr = __SELF__.category_obj_arr %}
{% set store_obj_arr = __SELF__.store_obj_arr %}
{% set floor_obj_arr = __SELF__.floor_obj_arr %}
{% set active_floor = __SELF__.active_floor %}

	{% if floor_obj_arr %}

	<figure class="page-content" >
		<div class="container-fluid">
			<div class="row">
				<div class="col">
				<div class="page-filters" style="position: absolute;z-index: 1000;top: 80px; width:100%; background-color:#fff">
				        <div class="tag-filter">
                        <div class="tags slick-slider">
						{% for floor_obj in floor_obj_arr %}
							<a href="{{ 'mapplic'| page({ floor:floor_obj.slug }) }}" {% if active_floor.slug == floor_obj.slug %} class="active" {% endif %}>{{ floor_obj.name }}</a>
						{% endfor %}
                        </div>
                    </div>
                    </div>
				    <div id="mapplic"></div>
				</div>
			</div>
		</div>
	</figure>

	{% endif %}

{% put scripts %}

<script type="text/javascript">
	$(document).ready(function() {
		var map = $('#mapplic').mapplic({
			source: {
				"mapwidth": "1200",
				"mapheight": "840",
				"categories": [
    
				{% for category in category_obj_arr %}

					{
						"id": "{{ category.slug }}",
						"title": "{{ category.name| raw }}",
						"color": "#b7a6bd",
						"show": "true"
					},

				{% endfor %}

				],
				"levels": [
					{
						"id": "basement-floor",
						"title": "Basement",
						"map": "{{ active_floor.mall_map.path }}",
						"locations": [
						
						{% for shop in store_obj_arr %}
						
							{"id":"{{ shop.store_id }}",
							"title":"{{ shop.name| raw }}",
							"description":"<img class=\"mapplic-tooltip-thumbnail\" src=\"{{ shop.logo_path }}\"><div class=\"mapplic-tooltip-description\"><h4 class=\"mapplic-map-store-category\">{{ shop.cat_name }}.<\/h4><div class=\"row mapplic-map-store-level-entrance\">    <div class=\"col-6\">Level <strong>{{ shop.floor_level }}<\/strong><\/div>    <div class=\"col-6\">Closest Entrance <strong>{{ shop.closest_entrance }}<\/strong><\/div><\/div><div class=\"row mapplic-map-store-buttons\">    <div class=\"col-6\"><a href=\"{{ 'store'| page({ slug:shop.slug }) }}\" class=\"mapplic-map-store-buttons-visit-store\">Visit Store <i class=\"fa fa-angle-right\"><\/i><\/a><\/div>    <div class=\"col-6 text-right\"><a href=\"\" data-request=\"onFavorite\" data-request-data=\"favId:{{ shop.store_id }}\" data-request-success=\"$(this).html(data.result)\"><i class=\"fa fa-heart-o\" aria-hidden=\"true\"><\/i><\/a><\/div><\/div><\/div>",
							"category":"{{ shop.cat_slug }}",
							"x":"{{ shop.store_x }}",
							"y":"{{ shop.store_y }}"},

						{% endfor %}

						]

					}
				]
			},
			sidebar: true,
			minimap: false,
			markers: false,
			fillcolor: false,
			fullscreen: true,
			maxscale: 3,
			fillcolor:'#ccc',
			fullscreen: false,
			deeplinking:false
		});
	});

</script>
		
<script>
	jQuery(document).ready(function() {
	   

	jQuery(".mapplic-search-input").keypress(function(){
	    jQuery(".mapplic-list-container").addClass("map-store-list-show");
	});
	
	
	jQuery(".mapplic-list-location").click(function(){
	    jQuery(".mapplic-list-container").removeClass("map-store-list-show");
	});
	
    /*jQuery(".mapplic-search-input").blur(function(){
	    jQuery(".mapplic-list-container").removeClass("map-store-list-show");
	});
	*/

	
	
});	
</script>
       	

{% endput %}
