{% set events = __SELF__.events %}
{% set search = __SELF__.search %}
{% set categories = __SELF__.categories %}
{% set selectedCategories = __SELF__.selectedCategories %}

<nav class="page-filters">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-filter">
                    <div class="search-bar">
					<form id="searchBar" action="{{ 'events' | page(false) }}" method="get">
						<input type="text" name="search" class="search-box" value="{{ search }}" placeholder="Tell us what you're looking for" />
						<span class="search-icon"><i class="fa fa-search" aria-hidden="true" onclick="document.getElementById('searchBar').submit();"></i></span>
					</form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="category-filter">
                    <div class="row justify-content-center">
                        <div class="col-sm-3 col-12">
						{{ form_open({ request: 'categoryHandle', id: 'eventCategory' }) }}
                            <select class="form-control basic-select" id="primary_category" name="category" onchange="document.getElementById('eventCategory').submit();">
								<option value="">Select a category</option>
							{% for category in categories %}
								<option value="{{ category.slug }}" {% if selectedCategories == category.slug %} selected {% endif %}>{{ category.name }}</option>
							{% endfor %}
                            </select>
						{{ form_close }}
                        </div>
                        <div class="col-sm-3 col-12">
							<select class="form-control basic-select" id="filter_date" name="filter_date" data-request="{{ __SELF__ }}::onRun" data-request-update="'{{ __SELF__ }}::display_event_list': '#eventDisplayList'">
                                <option value="0">Filter by</option>
                                <option value="6" selected>All</option>
                                <option value="1">Current</option>
                                <option value="4">Coming soon</option>
                                <option value="5">Past events</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="eventDisplayList">
	{% partial __SELF__~'::display_event_list' events=events %}
</div>
