{% set events = __SELF__.events %}

{% set hideEventID = 0 %}
{% set eventShown = 0 %}

{% set fourColumn = 4 %}
{% set threeColumn = 3 %}
{% set twoColumn = 2 %}

{% for event_item in events %}
    {% if event_item.is_allday and hideEventID == 0 %}

		{% set hideEventID = event_item.id %}

		{% set fourColumn = 5 %}
		{% set threeColumn = 4 %}
		{% set twoColumn = 3 %}

		<!-- START OF FEATURED ITEM SECTION -->
		<section class="featured-item-wrapper">
		    <div class="container">
		        <div class="row">
		            <div class="col">
		                <header class="text-center">
		                    <h4>FEATURED EVENT</h4>
		                </header>
		            </div>
		        </div>
		    </div>
            <div itemprop="event" class="container-fluid p-0" itemscope itemtype="http://schema.org/Event">
                <div class="row no-gutters">
                    <div class="col-12 col-lg-7">

					<a itemprop="url" href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">
                    {% if event_item.banner %}
                        <img itemprop="image" src="{{ event_item.banner.thumb(950,570, {'mode':'crop'}) }}" class="d-block w-100" alt="{{ event_item.banner.description }}"/>
					{% elseif event_item.featured_image %}
						<img itemprop="image" src="{{ event_item.featured_image|media }}" class="d-block w-100" alt="{{ event_item.name }}" />
                    {% else %}
                        <img itemprop="image" src="https://dummyimage.com/950x570/000/fff" class="d-block w-100" alt="{{ event_item.name }}"/>
                    {% endif %}
					</a>

                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="content">
                            <div class="category">
								<span class="name">EVENT</span>
								<span itemprop="startDate" class="date">
                                        {% if event_item.start_at|date('d M Y') == event_item.ends_at|date('d M Y') %}
                                            {{ event_item.start_at|date('d M h:i a') }} - {{ event_item.ends_at|date('h:i a') }}
                                        {% else %}
                                            {{ event_item.start_at|date('d M') }} - {{ event_item.ends_at|date('d M Y') }}
                                        {% endif %}
								</span>
								<span class="price">{{ event_item.price }}</span></div>
                            <h3><a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="" itemprop="name">{{ event_item.name }}</a></h3>
                            <p itemprop="description">{{ str_words(html_strip(event_item.excerpt), 50, '') }}</p>
                            <a itemprop="url" href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
		</section>

	{% endif %}
{% endfor %}

{% set correctHeading = '' %}
{% if hideEventID == 0 %}
	{% if events.count == 1 %}
		{% set correctHeading = 'EVENT' %}
	{% else %}
		{% set correctHeading = 'EVENTS' %}
	{% endif %}
{% else %}
	{% set correctHeading = 'OTHER EVENTS' %}
{% endif %}

{% if events.count >= fourColumn and eventShown == 0 %}

	{% set eventShown = 1 %}

	<section class="four-column-wrapper">
	    <div class="container">
	        <div class="row">
	            <div class="col">
	                <header class="text-center">
	                    <h4>{{ correctHeading }}</h4>
	                </header>
	            </div>
	        </div>
	    </div>
	    <div itemprop="event" class="container" itemscope itemtype="http://schema.org/Event">
	        <div class="row"><!-- |slice(0,1) -->
	            {% for event_item in events if hideEventID != event_item.id %}
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="item-block">

						<a itemprop="url" href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">
	                    {% if event_item.banner %}
	                        <img itemprop="image" src="{{ event_item.banner.thumb(295,200, {'mode':'crop'}) }}" class="d-block w-100" alt="{{ event_item.banner.description }}"/>
						{% elseif event_item.featured_image %}
							<img itemprop="image" src="{{ event_item.featured_image|media }}" class="d-block w-100" alt="{{ event_item.name }}" />
	                    {% else %}
							<img itemprop="image" src="https://dummyimage.com/295x400/000/fff" class="d-block w-100" alt="{{ event_item.name }}"/>
	                    {% endif %}
						</a>

                            <div class="content">
                                <div class="category"><span class="name">EVENT</span>
                                    <span class="date" itemprop="startDate" >
                                        <!-- keep the full dates as use just day number for from date could throw confusion especial is date from and date to are in different months -->
                                        {% if event_item.start_at|date('d M Y') == event_item.ends_at|date('d M Y') %}
                                            {{ event_item.start_at|date('d M h:i a') }} - {{ event_item.ends_at|date('h:i a') }}
                                        {% else %}
                                            {{ event_item.start_at|date('d M') }} - {{ event_item.ends_at|date('d M Y') }}
                                        {% endif %}
                                    </span>
                                </div>
                                <h5><a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="" itemprop="name" >{{ event_item.name }}</a></h5>
                                <p itemscope itemtype="http://schema.org/MonetaryAmount"><strong itemprop="value">{{ event_item.price }}</strong></p>
                            </div>
                        </div>
                    </div>
	            {% endfor %}
	        </div>
	    </div>
	</section>

{% endif %}


{% if events.count == threeColumn and eventShown == 0 %}
	{% set eventShown = 1 %}

<section class="three-column-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <header class="text-center">
                    <h4>{{ correctHeading }}</h4>
                </header>
            </div>
        </div>
    </div>
    <div itemprop="event" class="container" itemscope itemtype="http://schema.org/Event">
        <div class="row">
            {% for event_item in events if hideEventID != event_item.id %}
                <div class="col-sm-4">
                    <div class="item-block">

						<a itemprop="url" href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">
	                    {% if event_item.banner %}
	                        <img itemprop="image" src="{{ event_item.banner.thumb(450,600) }}" class="d-block w-100" alt="{{ event_item.banner.description }}"/>
						{% elseif event_item.featured_image %}
							<img itemprop="image" src="{{ event_item.featured_image|media }}" class="d-block w-100" alt="{{ event_item.name }}" />
	                    {% else %}
							<img itemprop="image" src="https://dummyimage.com/450x600/000/fff" class="d-block w-100" alt="{{ event_item.name }}"/>
	                    {% endif %}
						</a>

                        <div class="content">
                            <div class="category">
								<span class="name">Event</span>
								<span itemprop="startDate" class="date">
                                        {% if event_item.start_at|date('d M Y') == event_item.ends_at|date('d M Y') %}
                                            {{ event_item.start_at|date('d M h:i a') }} - {{ event_item.ends_at|date('h:i a') }}
                                        {% else %}
                                            {{ event_item.start_at|date('d M') }} - {{ event_item.ends_at|date('d M Y') }}
                                        {% endif %}
								</span>
							</div>
                            <h5><a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="" itemprop="name">{{ event_item.name }}</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endif %}

{% if events.count <= twoColumn and eventShown == 0 and events.count != 0 %}

	{% if events.count == 1 and hideEventID != 0 %}

	{% else %}

<section class="two-column-featured-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <header class="text-center">
                    <h4>EVENT{% if events.count != 1 %}S{% endif %}</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div itemprop="events" class="row no-gutters" itemscope itemtype="http://schema.org/Event">
            {% for event_item in events if hideEventID != event_item.id %}

				{% set cycleClass = 'even' %}
				{% if hideEventID == 0 %}
					{% set cycleClass = 'odd' %}
				{% endif %}

                <div class="col-12">
                    <div class="item-block">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-7 {% if cycle(['even', 'odd'], loop.index0) == cycleClass %} order-md-2 order-1 {% endif %}">

							<a itemprop="url" href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">
		                    {% if event_item.banner %}
		                        <img itemprop="image" src="{{ event_item.banner.path }}" class="d-block w-100" alt="{{ event_item.name }}"/>
							{% elseif event_item.featured_image %}
								<img itemprop="image" src="{{ event_item.featured_image|media }}" class="d-block w-100" alt="{{ event_item.name }}" />
		                    {% else %}
								<img itemprop="image" src="https://dummyimage.com/450x600/000/fff" class="d-block w-100" alt="{{ event_item.name }}"/>
		                    {% endif %}
							</a>

                            </div>
                            <div class="col-12 col-lg-5 {% if cycle(['even', 'odd'], loop.index0) == cycleClass %} order-md-1 order-2 {% endif %}">
                                <div class="content">
                                    <div class="category">
										<span class="name">EVENT</span>
										<span itemprop="startDate" class="date">
											{% if event_item.start_at|date('d M Y') == event_item.ends_at|date('d M Y') %}
												{{ event_item.start_at|date('d M h:i a') }} - {{ event_item.ends_at|date('h:i a') }}
											{% else %}
												{{ event_item.start_at|date('d M') }} - {{ event_item.ends_at|date('d M Y') }}
											{% endif %}
										</span>
										<span class="price">{{ event_item.price }}</span>
									</div>
                                    <h4 itemprop="name">{{ event_item.name }}</h4>
                                    <p itemprop="description">{{ str_words(html_strip(event_item.excerpt), 50, '') }}</p>
                                    <a itemprop="url" href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</section>

	{% endif %}

{% endif %}


{% if events.count == 0 %}

<section class="search-results-listing bg-grey">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="text-center">
					<p>There are currently no results.</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endif %}
