<main class="single-store-page single-page" itemscope itemtype="http://schema.org/LocalBusiness">

    <nav class="breadcrumb-wrapper d-md-block d-none">
    	<div class="container">
    		<div class="row">
    			<div class="col">
    				{% component 'breadcrumbs' %}
    			</div>
    		</div>
    	</div>
    </nav>

{% set storeDetail = storedetails.storeDetail %}
{% set favoriteArray = storedetails.favoriteArray %}
{% set similarStores = storedetails.similarStores %}
{% set is_open = storedetails.is_open %}
{% set trading_hours = storedetails.trading_hours %}
{% set blogPosts = storedetails.blogPosts %}
{% set offers = storedetails.offers %}

{% partial storedetails ~ '::header_details' storeDetail=storeDetail favoriteArray=favoriteArray %}

{% put scripts %}
    <script>
		$('#storeslug').val($('#store_slug').html());
	</script>
{% endput %}

<!--  STORES WITH A LOGO  -->


<section class="store-information">
	<div class="container">
		<div class="row">
		{% if storeDetail.logo %}

			<div class="col-md-6 col-sm-12 col-12 order-md-2 order-sm-1 order-1">
				<div class="row">
					<div class="col">
						<div class="store-logo slick">
							<img itemprop="image" src="{{ storeDetail.logo.thumb(auto,auto) }}" class="img-fluid" alt="{{ storeDetail.name }}" title="{{ storeDetail.name }}" />

							{% for galleryImage in storeDetail.image_gallery %}
								<img src="{{ galleryImage.thumb(auto,auto) }}" class="img-fluid" alt="" title="" />
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

		{% endif %}

            <div class="col-md-6 col-sm-12 col-12  order-md-1 order-sm-2 order-2">
				<div class="row">
					<div class="col">
						<div class="content store-operating-hours">
							<div class="row">
								<div class="col-md-4 col-sm-12 col-12">
								
                                    <h5>
                                    {% if trading_hours %}
                                        {% if is_open != 0 %}Open Now{% else %}Closed{% endif %}
                                    {% else %}
                                        Trading Hours
                                    {% endif %}
                                    </h5>
                                   <!-- <p>{{ dateTime }}</p> -->
								</div>
								<div class="col-md-8 col-sm-12 col-12">
								
                                {% if trading_hours.first %}
                                    <!-- store is using custom trading hours -->
                                    <span>
                                        <span>Monday |</span> <span>{{ trading_hours.monday_start|date("g:ia") }} - {{ trading_hours.monday_end|date("g:ia") }}</span><br>
                                        <span>Tuesday |</span>  <span>{{ trading_hours.tuesday_start|date("g:ia") }} - {{ trading_hours.tuesday_end|date("g:ia") }}</span><br>
                                        <span>Wednesday |</span> <span>{{ trading_hours.wednesday_start|date("g:ia") }} - {{ trading_hours.wednesday_end|date("g:ia") }}</span><br>
                                        <span>Thursday |</span> <span>{{ trading_hours.thursday_start|date("g:ia") }} - {{ trading_hours.thursday_end|date("g:ia") }}</span><br>
                                        <span>Friday |</span> <span>{{ trading_hours.friday_start|date("g:ia") }} - {{ trading_hours.friday_end|date("g:ia") }}</span><br>
                                        <span>Saturday |</span> <span>{{ trading_hours.saturday_start|date("g:ia") }} - {{ trading_hours.saturday_end|date("g:ia") }}</span><br>
                                        <span>Sunday |</span> <span>{{ trading_hours.sunday_start|date("g:ia") }} - {{ trading_hours.sunday_end|date("g:ia") }}</span><br>
                                    </span>
                                {% else %}
                                    <!--  store is using mall trading hours  -->
                                    <span>
                                        Monday - Thursday |
									{% if storeDetail.operating_hours_first %}
										{{ storeDetail.operating_hours_first }}
									{% else %}
										9am - 9pm
									{% endif %}
									</span>
									<span>
										Friday - Sunday |
										{% if storeDetail.operating_hours_second %}
											{{ storeDetail.operating_hours_second }}
										{% else %}
											9am - 9pm
										{% endif %}
									</span>
                                {% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="content store-contact-details">
							<div class="row">
								<div class="col-md-4 col-sm-12 col-12">
									<span itemprop="telephone">Telephone</span>
									<p><a href="tel:{{ storeDetail.phone_number }}">{{ storeDetail.phone_number }}</a></p>
								</div>
								{% if storeDetail.website %}
								<div class="col-md-8 col-sm-12 col-12">
									<span>Website</span>
									<p><a href="{{ storeDetail.website_url }}" target="_blank" rel="nofollow">{{ storeDetail.website_display }}</a></p>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="content store-location">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-4">
									<span>Shop No</span>
									<p>{{ storeDetail.shop_number }}</p>
								</div>
								<div class="col-md-4 col-sm-4 col-4">
									<span>Level</span>
									<p>
										{{ storeDetail.hyprop_floor.name }}
									</p>
								</div>
								<div class="col-md-4 col-sm-4 col-4">
									<span>Closest Entrance</span>
									<p>{{ storeDetail.closest_entrance }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="content store-share-links social-links">
							<span>Share:</span> {% component 'ssbuttons' %}
						</div>
					</div>
				</div>
				<div class="row d-md-none d-sm-block d-block">
					<div class="col">
						<div class="content store-map">
							<a href="/shops/map?location=ll" class="btn btn-outline-dark">View On Map</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% if(storeDetail.description) %}
<section class="page-content store-description">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>About</h2>
				{{ html_clean(storeDetail.description) }}
			</div>
		</div>
	</div>
</section>
{% endif %}

{% if offers.count() %}

{% partial storedetails ~ '::load_offers' offers=offers %}

{% endif %}
<!--<section class="mall-map-page page">
    <figure class="page-filters">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tag-filter">
                        <div class="tags">
                        <h5>
                        {% if storeDetail.hyprop_floor.name == "Lower Level"%}<a href="#" class="active">Lower Level</a>{% endif %}
                        {% if storeDetail.hyprop_floor.name == "Upper Level"%}<a href="#" class="active">Upper Level</a>{% endif %}
                        {% if storeDetail.hyprop_floor.name == "Mezzanine"%}<a href="#" class="active">Mezzanine</a>{% endif %}
                        </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</section>-->
<figure class="store-map-section bg-grey">
	<div class="container-fluid">
		<div class="row no-gutters">
			<div class="col">
				<!-- Map -->
				<div id="mapplic"></div>
			</div>
		</div>
	</div>
</figure>

{% if blogPosts.count %}

<section class="three-column-wrapper">
	<div class="container">
		<div class="row">
			<div class="col">
				<header class="text-center">
					<h4>ARTICLES ABOUT {{ storeDetail.name }}</h4>
				</header>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="mobile-slick-3 slick">
					{% for blogPost in blogPosts %}
					<div class="col-md-12 col-sm-12 col-12">
						<div class="image">
			            {% if blogPost.featured_images[0].path %}
							<a href="{{ 'blog-post'| page({ slug:blogPost.slug, category:blogPost.categories.first.slug }) }}">
								<img src="{{ blogPost.featured_images[0].thumb(450,600, {'mode':'crop'}) }}" class="d-block w-100" alt="{{ blogPost.title }}"/>
							</a>
			            {% else %}
							<a href="{{ 'blog-post'| page({ slug:blogPost.slug, category:blogPost.categories.first.slug }) }}">
								<img src="https://dummyimage.com/295x295/000/fff" class="d-block w-100" alt="{{ blogPost.title }}"/>
							</a>
			            {% endif %}
						</div>
						<div class="content">
							<div class="category">
                        {% if blogPost.categories.count %}
                            {% for category in blogPost.categories %}
                                <span class="name"><a href="{{ 'blog-category'| page({ slug:category.slug }) }}">{{ category.name }}</a></span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
							</div>
							<h5><a href="{{ 'blog-post'| page({ slug:blogPost.slug, category:blogPost.categories.first.slug }) }}">{{ blogPost.title }}</a></h5>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

{% endif %}

{% if(storeDetail.show_contact and storeDetail.email_address) %}
<section class="store-form-section bg-grey">
    <div class="container">
        <div class="row">
            <div class="col">
            	<div class="form-header">
                    <p>Send {{ storeDetail.name }} a message</p>
                </div>
				<span class="hidden" id="store_slug">{{ storeDetail.slug }}</span>
                {% component 'storecontact' %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="eight-column-slick-wrapper">
	<div class="container">
		<div class="row">
			<div class="col">
				<header class="text-center">
					<h4>SIMILAR STORES</h4>
				</header>
			</div>
		</div>
	</div>
	<div class="container-fluid p-0">
		<div class="row no-gutters align-items-center">
			<div class="col">
				<div class="eight-column-slick slick">

					{% for similarStore in similarStores %}

					<div class="col-12">
						<div class="image">
							<a href="{{ 'store' | page({ slug: similarStore.slug }) }}"><img src="{{ similarStore.logo.path }}" class="d-block w-100" alt="ITEM" /></a>
						</div>
						<div class="content">
							<p>
								<strong><a href="{{ 'store' | page({ slug: similarStore.slug }) }}">{{ similarStore.name }}</a></strong>
							</p>
						</div>
					</div>

					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</section>


{% set redirectTo = 'store'|page({ slug:storeDetail.slug}) %}

{% put scripts %}
<script>
document.observe("dom:loaded", function() {
    document.getElementById("store-contact").action = "{{ redirectTo }}";
});
</script>
{% endput %}


{% component 'mallmap' %}

</main>