<section class="page-title">
	<div class="container">
		<div class="row no-gutters">
			<div class="col">
				<div class="row align-items-center">
					<div class="col-md-6 col-sm-6 col-12">
						<header>
							<h1 id="title" itemprop="name">{{ storeDetail.name }}</h1>
						</header>
						<div class="category">
							<a href="{{ 'store-listing-categories' | page({ category1: storeDetail.categories.first.slug }) }}">
							{% for storeCategory in storeDetail.categories %}
								<span>{{ storeCategory.name }}</span>
							{% endfor %}
							</a>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-12 text-d-center text-sm-right">
						<div class="favourite-store">
							<a href="" data-request="onFavorite" data-request-data="favId: '{{ storeDetail.id }}'" data-request-success="$(this).html(data.result)">
								{% if storeDetail.id in favoriteArray %}
									<i class="fa fa-heart" aria-hidden="true"></i>
								{% else %}
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								{% endif %}
							</a>
						</div>
						{% for roodRequirements in storeDetail.food_requirements %}
						<div class="store-icons {{ roodRequirements.name }}">
							<img src="{{ 'assets/img/'|theme }}/icon-{{ roodRequirements.slug }}.png" class="" />
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
