{% set hideOfferID = 0 %}

{% if offers.count() >= 3 %}

	{% for offer in offers if offer.calendar.name == 'Offers' %}

		{% if offer.is_allday %}

			{% set hideOfferID = offer.id %}

			<section class="featured-item-wrapper">
				<div class="container">
					<div class="row">
						<div class="col">
							<header class="text-center">
								<h4>FEATURED OFFER</h4>
							</header>
						</div>
					</div>
				</div>
				<div class="container-fluid p-0">
					<div itemprop="offers" class="row no-gutters" itemscope itemtype="http://schema.org/Offer">
						<div class="col-md-7 col-sm-12 col-12">

							<a itemprop="url" href="{{ 'offer-post'| page({ slug:offer.slug }) }}">

								{% if offer.banner %}
									<img itemprop="image" src="{{offer.banner.path}}" class="d-block w-100" alt="{{ offer.banner.description }}" />
								{% elseif offer.featured_image %}
									<img itemprop="photo" src="{{ offer.featured_image|media }}" class="d-block w-100" alt="{{ offer.name }}"/>
								{% else %}
									<img itemprop="logo" src="{{offer.store.logo.path}}" class="d-block w-100" alt="{{ offer.name }}" />
								{% endif %}

							</a>

						</div>
						<div class="col-md-5 col-sm-12 col-12">
							<div class="content">
								<div class="category">
									<span itemprop="category" itemscope itemtype="http://schema.org/category" class="name">{{ offer.calendar.name }}</span>
								</div>
								<h3 itemprop="name" itemscope itemtype="http://schema.org/name">{{ offer.name }}</h3>
								<p itemprop="description">{{ str_limit(html_strip(offer.name), 100, '') }}</p>
								<a itemprop="url"  href="{{ 'offer-post'| page({ slug:offer.slug }) }}" class="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>

		{% endif %}

	{% endfor %}

		<section class="three-column-wrapper bg-grey">
			<div class="container">
				<div class="row">
					<div class="col">
						<header class="text-center">
							<h4>OFFERS</h4>
						</header>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="mobile-slick-3 slick">
				{% for offer in offers if offer.calendar.name == 'Offers' %}

					{% if hideOfferID != offer.id %}
						<div itemprop="offers" class="col-md-12 col-sm-12 col-12" itemscope itemtype="http://schema.org/Offer">
							<a href="{{ 'offer-post'| page({ slug:offer.slug }) }}">

								{% if offer.banner %}
									<img itemprop="image" src="{{offer.banner.path}}" class="d-block w-100" alt="{{ offer.banner.description }}" />
								{% elseif offer.featured_image %}
									<img itemprop="photo" src="{{ offer.featured_image|media }}" class="d-block w-100" alt="{{ offer.name }}"/>
								{% else %}
									<img itemprop="logo" src="{{offer.store.logo.path}}" class="d-block w-100" alt="{{ offer.name }}" />
								{% endif %}

							</a>
							<div class="content">
								<div class="category">
									<span itemprop="category" itemscope itemtype="http://schema.org/category" class="name">{{ offer.calendar.name }}</span><span itemprop="name" itemscope itemtype="http://schema.org/name" class="store">{{ offer.store.name }}</span><span class="date">{{ offer.start_at|date('j M') }} - {{ offer.ends_at|date('j M Y') }}</span>
								</div>
								<a itemprop="url"  href="{{ 'offer-post'| page({ slug:offer.slug }) }}"><h5 itemprop="description">{{ offer.excerpt }}</h5></a>
							</div>
						</div>

					{% endif %}

				{% endfor %}
					</div>
				</div>
			</div>
		</section>

{% else %}


	{% for offer in offers if offer.calendar.name == 'Offers' %}

		{% if offer.is_allday %}

			{% set hideOfferID = offer.id %}

			<section class="featured-item-wrapper">
				<div class="container">
					<div class="row">
						<div class="col">
							<header class="text-center">
								<h4>FEATURED OFFER</h4>
							</header>
						</div>
					</div>
				</div>
				<div itemprop="offers" class="container-fluid p-0" itemscope itemtype="http://schema.org/Offer">
					<div class="row no-gutters">
						<div class="col-md-7 col-sm-12 col-12">
							<a href="{{ 'offer-post'| page({ slug:offer.slug }) }}">

								{% if offer.banner %}
									<img itemprop="image" src="{{offer.banner.path}}" class="d-block w-100" alt="{{ offer.banner.description }}" />
								{% elseif offer.featured_image %}
									<img itemprop="photo" src="{{ offer.featured_image|media }}" class="d-block w-100" alt="{{ offer.name }}"/>
								{% else %}
									<img itemprop="logo" src="{{offer.store.logo.path}}" class="d-block w-100" alt="{{ offer.name }}" />
								{% endif %}

							</a>
						</div>
						<div class="col-md-5 col-sm-12 col-12">
							<div class="content">
								<div class="category">
									<span itemprop="category" itemscope itemtype="http://schema.org/category" class="name">{{ offer.calendar.name }}</span>
								</div>
								<h3 itemprop="name" itemscope itemtype="http://schema.org/name">{{ offer.name }}</h3>
								<p itemprop="description" >{{ str_limit(html_strip(offer.excerpt), 100, '') }}</p>
								<a itemprop="url"  href="{{ 'offer-post'| page({ slug:offer.slug }) }}" class="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>

		{% endif %}

	{% endfor %}

	{% if offers.first.calendar.name == 'Offers' %}

		{% if offers.count() == 1 and hideOfferID != 0 %}

		{% else %}

	<section class="two-column-featured-wrapper">
		<div class="container">
			<div class="row">
				<div class="col">
					<header class="text-center">
						<h4>OFFERS</h4>
					</header>
				</div>
			</div>
		</div>
		<div class="container-fluid p-0">
			<div class="row no-gutters">

			{% for offer in offers if offer.calendar.name == 'Offers' %}

				{% if hideOfferID != offer.id %}

				<div class="col-12">
					<div class="item-block">
						<div class="row no-gutters">
							<div class="col-md-6 col-sm-12 col-12 {% if cycle(['odd', 'even'], loop.index0) == 'even' %} order-md-2 order-1 {% endif %}">
								<a href="{{ 'offer-post'| page({ slug:offer.slug }) }}">

									{% if offer.banner %}
										<img src="{{offer.banner.path}}" class="d-block w-100" alt="{{ offer.banner.description }}" />
									{% elseif offer.featured_image %}
										<img src="{{ offer.featured_image|media }}" class="d-block w-100" alt="{{ offer.name }}"/>
									{% else %}
										<img src="{{offer.store.logo.path}}" class="d-block w-100" alt="{{ offer.name }}" />
									{% endif %}

								</a>
							</div>
							<div class="col-md-6 col-sm-12 col-12">
								<div class="content">
									<div class="category">
										<span class="name">{{ offer.calendar.name }}</span><span class="date">{{ offer.start_at|date('j M') }} - {{ offer.ends_at|date('j M Y') }}</span>
									</div>
									<h4>{{ offer.name }}</h4>
									<p>{{ str_limit(html_strip(offer.excerpt), 100, '') }}</p>
									<a href="{{ 'offer-post'| page({ slug:offer.slug }) }}">TELL ME MORE <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% endif %}

			{% endfor %}

			</div>
		</div>
	</section>

		{% endif %}

	{% endif %}

{% endif %}
