    
    
    <section class="movies-listing bg-grey">
        <div class="container">
            <div class="row align-items-center">

{% for movie in movies %}

                <div class="col-md-3 col-sm-6 col-6">
                    <div class="movie-block">
                        <div class="image"><a href="/movies/{{ movie.id }}"><img src="/storage/app/uploads/{{ movie.id }}.jpg" alt="{{ movie.title }}" class="img-fluid"/></a></div>
                        <div class="content">
                            <div class="movie-type">
{% if movie.vista_3d_feature_code != false %}
3D
{% endif %}
{% if movie.vista_4dx_feature_code != false %}

{% endif %}
</div>
                            <div class="age-restriction"><span>{{ movie.age_restriction }}</span></div>
                            <a href="/movies/{{ movie.id }}">More Info</a>
                        </div>
                        <h6><a href="/movies/{{ movie.id }}">{{ movie.title }}</a></h6>
                    </div>
                </div>
                
{% endfor %}

</div> 
<!--
            <div class="row">
                <div class="col">
                    <div class="load-more text-center">
                        <a href="" class="btn btn-outline-dark">Load More</a>
                    </div>
                </div>
            </div>
-->



</div>
    </section>
