{{ form_open({ request: '{{ __SELF__ }}::onSend' }) }}
	<div class="form-body">
		<div class="form-group row">
			<div class="col-sm-4">
				<input class="form-control" name="name" placeholder="Name" type="text">
			</div>
			<div class="col-sm-4">
				<input class="form-control" name="phone" placeholder="Phone" type="text">
			</div>
			<div class="col-sm-4">
				<input class="form-control" name="email" placeholder="Email" type="text">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<textarea name="message" class="form-control" placeholder="What would you like to say..." rows="10"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox">test I want to receive information about the latest news, events and competitions from this store.
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="form-footer">
		<div class="form-group row">
			<div class="col-sm-12">
				<input class="btn btn-outline-dark" value="Submit" type="submit">
			</div>
		</div>
	</div>
{{ form_close }}
