[viewBag]
==
{% set userId = __SELF__.userId %}
{% set depth = __SELF__.depth %}
{% set rate = __SELF__.options.rate %}


{% for comment in comments %}
    {% partial __SELF__ ~ "::comment" comment=comment userId=userId depth=depth rate=rate %}
{% else %}

{% endfor %}

{% if comments.lastPage > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if comments.currentPage > 1 %}
                <li>
                    <a href="{{ this.page.baseFileName|page({ (pageParam): (1) }) }}" data-page="1" aria-label="Go to first page">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li>
                    <a href="{{ this.page.baseFileName|page({ (pageParam): (comments.currentPage-1) }) }}" data-page="{{ comments.currentPage-1 }}" aria-label="Previous">
                        <span aria-hidden="true">‹</span>
                    </a>
                </li>
            {% endif %}

            {% for page in 1..comments.lastPage %}
                <li class="{{ comments.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}" data-page="{{ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if comments.lastPage > comments.currentPage %}
                <li>
                    <a href="{{ this.page.baseFileName|page({ (pageParam): (comments.currentPage+1) }) }}" data-page="{{ comments.currentPage+1 }}" aria-label="Next">
                        <span aria-hidden="true">›</span>
                    </a>
                </li>
                <li>
                    <a href="{{ this.page.baseFileName|page({ (pageParam): (comments.lastPage) }) }}" data-page="{{ comments.lastPage }}" aria-label="Go to last page">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}