[viewBag]
==
<form id="comment-form"
              class="comment-form"
              data-request="onComment"
              data-request-update="'{{ __SELF__ }}::comment': '@#loader'">

                            <div id="message-wrapper" class="alert alert-info alert-dismissible fade in" role="alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <span class="message created success" style="display: none">Your comment has been posted!</span>
        <span class="message updated success" style="display: none">Your comment has been updated!</span>
    </div>
                        <div class="form-body">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input type="text" id="name" name="name" value="" placeholder="Name" class="name form-control">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" id="mail" name="mail" value="" placeholder="Email" class="mail form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                        <textarea name="content" id="content" class="content form-control" rows="3"></textarea>
                                    <small id="emailHelp" class="form-text text-right text-muted">*Your email
                                        address will not be published
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer">
                            <div class="form-group row">
                                <div class="col">
                                
           <input type="hidden" name="parent_id" id="to" class="to">
            <input type="hidden" name="id" id="edit" class="edit">
            <input type="hidden" name="level" id="level" class="level">
            
            
                                    <input class="btn btn-outline-dark" value="Post Comment" type="submit">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div 
    {% for key, value in __SELF__.options %}
        data-{{ key }}="{{ value }}"
    {% endfor %}>

        {% partial __SELF__ ~ "::comments" comment=comment userId=userId depth=depth rate=rate %}
                    </div>
                    
                    
                    
                    
                    
                        <div id="loader" style="display: none"></div>