[viewBag]

[builderList]
modelClass = "Creativespark\Bannervideo\Models\BannerVideo"
displayColumn = "title"
detailsUrlParameter = "id"
recordsPerPage = 2

==
{% set records = builderList.records %}

{% if __SELF__.slideshow.slides %}
<section class="full-width-slider-wrapper">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col">
                <div class="full-width-slider">
                    <div class="banner-slick slick" pause-on-hover="true">
                    {% for i, slide in __SELF__.slideshow.slides %}
                        {% if slide.image.path %}
                            <div class="banner-item">
                                <div class="nowview item image">
                                <img class="slide-image" src ="{{ slide.image.path }}"></div>
                            {% if slide.description %}
                                <div class="caption d-md-block">
                                {{ slide.description|raw }}
                                </div>
                            {% endif %}
                            </div>
                        {% else %}
                        {{ slide.description|raw }}
                        {% endif %}
                    {% endfor %}
                    {% if records|length > 0 %}
                        {% for record in records %}
                            {% if record.visible %}
                                {% if record.video_provider == 'youtube'%}
                                <div class="banner-item">
                                    <div class="nowview item {{ record.video_provider }}">
                                        <iframe class="embed-player slide-media" width="100%" height="650" src="https://www.youtube.com/embed/{{record.url}}?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&playlist={{record.url}}&start=102&loop=1&modestbranding=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                {% else %}
                                <div class="banner-item">
                                    <div class="nowview item {{ record.video_provider }}"></div>
                                        <iframe src="https://player.vimeo.com/video/{{record.url}}" width="100%" height="650" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %} 
                    {% endif %}  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

