
{% if movieslider.count %}

<section class="eight-column-slick-wrapper">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <header class="text-center">
                    <h4>Latest Movies</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid pr-0">
        <div class="row no-gutters">
            <div class="eight-column-slick slick">
    {% for movie in movieslider %}
                <div class="col-12">
                    <div class="item-block">
                        <div class="image">
                        
                        <!--<img  src="/storage/app/uploads/{{ movie.movie_id }}.jpg" class="d-block w-100" alt="{{ movie.title }}"/>-->
                        
                        {% set imgpath = '/storage/app/uploads/' ~ movie.movie_id ~'.jpg' %}
                        
                        <img src="{{ imgpath }}">             

                       {% set imgpath = movie.movie_poster.path %}
                        
                        <img src="{{ imgpath }}">              
                        
                        
                        </div>

                        <div class="content">
                            <a href="/whats-on/movie/{{ movie.slug }}" tabindex="-1">
                            <div class="movie-type">
                              {% if movie.is_3d != false %}3D{% endif %}
                              {% if movie.is_4dx != false %}4DX{% endif %}
                              {% if movie.is_xtreme != false %}XTREME{% endif %}
                              {% if movie.is_vip != false %}VIP{% endif %}
                            </div>
                            {% if movie.age != 0 %}<div class="age-restriction"><span>{{ movie.age }}</span></div>{% endif %}
                            <span class="more-link">More Info</span>
                            </a>
                        </div>

                        <h6><a href="/whats-on/movie/{{ movie.slug }}" tabindex="-1">{{ movie.title }}</a></h6>
                    </div>
                </div>
    {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <div class="text-center">
                    <a href="/whats-on/movies" class="btn btn-outline-dark">View All Movies</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
