{% set winEvent = __SELF__.winEvent %}

<section class="page-title" itemscope itemtype="http://schema.org/Game>
	<div class="container">
		<div class="row no-gutters">
			<div class="col">
				<header>
					<h1 itemprop="name" id="title">{{ winEvent.name }}</h1>
				</header>
				<div class="offer-date" itemprop="expires">Running date: {% if winEvent.start_at|date('d M Y') == winEvent.ends_at|date('d M Y') %}
						{{ winEvent.start_at|date('j M') }}
					{% else %}
						{{ winEvent.start_at|date('j M') }} - {{ winEvent.ends_at|date('j M Y') }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="offer-information" itemscope itemtype="http://schema.org/Game>
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="col-md-7 col-sm-12 col-12">

			{% if winEvent.banner %}
				<img itemprop="image" src="{{winEvent.banner.path}}" class="d-block w-100" title="{{ winEvent.banner.title }}" alt="{{ winEvent.banner.description }}" />
			{% elseif winEvent.featured_image %}
				<img itemprop="image" src="{{ winEvent.featured_image|media }}" class="d-block w-100" alt="{{ winEvent.name }}"/>
			{% endif %}

			</div>
		</div>
	</div>

	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col">
					<div itemprop="description" class="content">
						{{ winEvent.detail | parseSnippets }}
					</div>
					<div class="article-footer">
						<div class="row justify-content-between">
							<div class="col-md-6 col-7">
								<div class="content trend-share-links social-links">
									<span>Share:</span>
									{% component 'ssbuttonsssb' %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
