/*----------------------------------------------------------*\
                      LESS Elements 0.9
/*----------------------------------------------------------*\
    A set of useful LESS mixins
    More info at: http://lesselements.com
/*----------------------------------------------------------*/

//Below is the correct way to add fonts to our CSS.
//You can do this for each font you need.
//.font-face(FontName, FontFileName, normal, normal);
//.font-face(FontName1, FontFileName2, bold, italic);
.font-face(@fontname, @fontfile, @fontweight:normal, @fontstyle:normal) {
    @font-face {
        font-family: '@{fontname}';
        src: url('fonts/@{fontfile}.eot');
        src: url('fonts/@{fontfile}.eot?#iefix') format('embedded-opentype'),
        url('fonts/@{fontfile}.woff') format('woff'),
        url('fonts/@{fontfile}.ttf') format('truetype'),
        url('fonts/@{fontfile}.svg#@{fontname}') format('svg');
        font-weight: @fontweight;
        font-style: @fontstyle;
    }
}

//To use to generated font from above.
//.font(FontName);
.font(@fontname) {
    font-family: '@{fontname}', 'Open Sans', Helvetica, sans-serif;
}

//Handle font size for EM and pixels set on the base font.
//Auto generate the font size.
.font-size(@sizeValue) {
    @remValue: @sizeValue/16;
    @pxValue: @sizeValue;
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem";
}