/* ///  DECORATION CSS ///  */
.cont_select_center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -150px;
}

.cont_heg_50 {
  position: absolute;
  height: 50%;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fd7b52;
}

/* ///  END DECORATION CSS  ///  */
.icon_select_mate {
  position: absolute;
  top: 12px;
  right: 2%;
  font-size: 16px;
  height: 22px;
  transition: all 275ms;
}

.select_mate {
  position: relative;
  /*float: left;
  min-width: 300px;
  width: 300px;
  min-height: 60px;
  font-family: 'Roboto';
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;*/
  /* Oculto el elemento select */
}
.select_mate select {
  position: absolute;
  overflow: hidden;
  height: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 0;
}
.select_mate[data-selec-open="true"] .select_options {
  /*border-color: #1a1a1a;*/
  border-bottom: 0;
}
.select_mate[data-selec-open="true"] .cont_select_int {
  border: 1px solid #e6e6e6;
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  /*border: 1px solid #e6e6e6;*/
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.cont_select_int li {
  position: relative;
  width: 96%;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
  padding: 10px 20px;
  margin: 0 auto;
  transition: all 275ms ease-in-out;
  display: block;
  cursor: pointer;
  text-align: left;
}
.cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}
.cont_select_int li:hover {
  color: #1a1a1a;
}
.cont_select_int .active {
  color: #1a1a1a;
}

/* etiqueta <p> con la opcion selecionada  */
.select_options {
  padding: 10px 20px;
  display: block;
  margin: 0;
  border: 1px solid #e6e6e6;
  text-align: left;
  color: #1a1a1a;
  cursor: pointer;
}

@media only screen and (max-width: 639px) {
  .select_options {
    margin-bottom: 20px;
  }
}