{% set events = __SELF__.events %}
{% set isUpComing = __SELF__.isUpComing %}

{% set hideEventID = 0 %}
{% set eventShown = 0 %}

{% set fourColumn = 4 %}
{% set threeColumn = 3 %}
{% set twoColumn = 2 %}

{% for event_item in events %}
    {% if event_item.is_allday and hideEventID == 0 and isUpComing == 0 %}

		{% set hideEventID = event_item.id %}

		{% set fourColumn = 5 %}
		{% set threeColumn = 4 %}
		{% set twoColumn = 3 %}

		<section class="featured-item-wrapper">
		    <div class="container">
		        <div class="row">
		            <div class="col">
		                <header class="text-center">
		                    <h4>FEATURED EVENT</h4>
		                </header>
		            </div>
		        </div>
		    </div>
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 col-lg-7">
                    {% if event_item.banner %}
                        <a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class=""><img src="{{ event_item.banner.thumb(950,570, {'mode':'crop'}) }}" class="d-block w-100" alt="{{ event_item.name }}"/></a>
                    {% else %}
                        <a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class=""><img src="https://dummyimage.com/950x570/000/fff" class="d-block w-100" alt="{{ event_item.name }}"/></a>
                    {% endif %}
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="content">
                            <div class="category"><span class="name">EVENT</span>
                                <span class="date">
                                {% if event_item.start_at|date('d M Y') == event_item.ends_at|date('d M Y') %}
                                    {{ event_item.start_at|date('d M h:i a') }} - {{ event_item.ends_at|date('h:i a') }}
                                {% else %}
                                    {{ event_item.start_at|date('d M') }} - {{ event_item.ends_at|date('d M Y') }}
                                {% endif %}
                                </span>
                                <span class="price">{{ event_item.price }}</span></div>
                            <h3><a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">{{ event_item.name }}</a></h3>
                            <p>{{ str_words(html_strip(event_item.excerpt), 50, '') }}</p>
                            <a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
		    <!-- <div class="container">
		        <div class="row no-gutters">
		            <div class="col">
		                <div class="text-center">
		                    <a href="{{ 'events' | page(false) }}" class="btn btn-outline-dark">Explore All Events</a>
		                </div>
		            </div>
		        </div>
		    </div> -->
		</section>

	{% endif %}
{% endfor %}

{% set correctHeading = '' %}
{% if isUpComing %}
	{% set correctHeading = 'COMING UP' %}
{% elseif hideEventID == 0 %}
	{% if events.count == 1 %}
		{% set correctHeading = 'EVENT' %}
	{% else %}
		{% set correctHeading = 'EVENTS' %}
	{% endif %}
{% else %}
	{% set correctHeading = 'OTHER EVENTS' %}
{% endif %}

{% if events.count >= fourColumn and eventShown == 0 %}

	{% set eventShown = 1 %}

	<section class="four-column-wrapper">
	    <div class="container">
	        <div class="row">
	            <div class="col">
	                <header class="text-center">
	            		<h4>{{ correctHeading }}</h4>
	                </header>
	            </div>
	        </div>
	    </div>
	    <div class="container">
	        <div class="row">
	            {% for event_item in events if hideEventID != event_item.id %}
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="item-block">
	                    {% if event_item.banner %}
	                        <a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class=""><img src="{{ event_item.banner.thumb(295,400, {'mode':'crop'}) }}" class="d-block w-100" alt="{{ event_item.name }}"/></a>
	                    {% else %}
							<a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class=""><img src="https://dummyimage.com/295x400/000/fff" class="d-block w-100" alt="{{ event_item.name }}"/></a>
	                    {% endif %}
                            <div class="content">
                                <div class="category"><span class="name">EVENT</span>
                                    <span class="date">
                                        {% if event_item.start_at|date('d M Y') == event_item.ends_at|date('d M Y') %}
                                            {{ event_item.start_at|date('d M h:i a') }} - {{ event_item.ends_at|date('h:i a') }}
                                        {% else %}
                                            {{ event_item.start_at|date('d M') }} - {{ event_item.ends_at|date('d M Y') }}
                                        {% endif %}
                                    </span>
                                </div>
                                <h5><a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">{{ event_item.name }}</a></h5>
                                <p><strong>{{ event_item.price }}</strong></p>
                            </div>
                        </div>
                    </div>
	            {% endfor %}
	        </div>
	    </div>
	    <!-- <div class="container">
	        <div class="row no-gutters">
	            <div class="col">
	                <div class="text-center">
	                    <a href="{{ 'events' | page(false) }}" class="btn btn-outline-dark">Explore All Events</a>
	                </div>
	            </div>
	        </div>
	    </div> -->
	</section>

{% endif %}

{% if events.count == threeColumn and eventShown == 0 %}

	{% set eventShown = 1 %}

<section class="three-column-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <header class="text-center">
                    <h4>{{ correctHeading }}</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for event_item in events if hideEventID != event_item.id %}
                <div class="col-sm-4">
                    <div class="item-block">
	                    {% if event_item.banner %}
	                        <a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class=""><img src="{{ event_item.banner.thumb(450,600) }}" class="d-block w-100" alt="{{ event_item.name }}"/></a>
	                    {% else %}
							<a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class=""><img src="https://dummyimage.com/450x600/000/fff" class="d-block w-100" alt="{{ event_item.name }}"/></a>
	                    {% endif %}
                        <div class="content">
                            <div class="category"><span class="name">Event</span>
                                <span class="date">
                                        {% if event_item.start_at|date('d M Y') == event_item.ends_at|date('d M Y') %}
                                            {{ event_item.start_at|date('d M h:i a') }} - {{ event_item.ends_at|date('h:i a') }}
                                        {% else %}
                                            {{ event_item.start_at|date('d M') }} - {{ event_item.ends_at|date('d M Y') }}
                                        {% endif %}
                                </span>
                            </div>
                            <h5><a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">{{ event_item.name }}</a></h5>
                            <p><strong>{{ event_item.price }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <div class="text-center">
                    <a href="{{ 'events' | page(false) }}" class="btn btn-outline-dark">Explore All Events</a>
                </div>
            </div>
        </div>
    </div> -->
</section>

{% endif %}

{% if events.count <= twoColumn and eventShown == 0 and events.count != 0 %}

	{% if events.count == 1 and hideEventID != 0 %}

	{% else %}

<section class="two-column-featured-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <header class="text-center">
                    <h4>{{ correctHeading }}</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            {% for event_item in events if hideEventID != event_item.id %}

				{% set cycleClass = 'even' %}
				{% if hideEventID == 0 %}
					{% set cycleClass = 'odd' %}
				{% endif %}

                <div class="col-12">
                    <div class="item-block">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-7 {% if cycle(['even', 'odd'], loop.index0) == cycleClass %} order-md-2 order-1 {% endif %}">
	                    {% if event_item.banner %}
	                        <a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class=""><img src="{{ event_item.banner.path }}" class="d-block w-100" alt="{{ event_item.name }}"/></a>
	                    {% else %}
							<a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class=""><img src="https://dummyimage.com/450x600/000/fff" class="d-block w-100" alt="{{ event_item.name }}"/></a>
	                    {% endif %}
                            </div>
                            <div class="col-12 col-lg-5 {% if cycle(['even', 'odd'], loop.index0) == cycleClass %} order-md-1 order-2 {% endif %}">
                                <div class="content">
                                    <div class="category">
                                        <span class="name">EVENT</span>
                                        <span class="date">
                                            {% if event_item.start_at|date('d M Y') == event_item.ends_at|date('d M Y') %}
                                                {{ event_item.start_at|date('d M h:i a') }} - {{ event_item.ends_at|date('h:i a') }}
                                            {% else %}
                                                {{ event_item.start_at|date('d M') }} - {{ event_item.ends_at|date('d M Y') }}
                                            {% endif %}
                                        </span>
                                        <span class="price">{{ event_item.price }}</span>
                                    </div>
                                    <h4><a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">{{ event_item.name }}</a></h4>
                                    <p>{{ str_words(html_strip(event_item.excerpt), 50, '') }}</p>
                                    <a href="{{ 'event-post'| page({ slug:event_item.slug, category:event_item.category.slug }) }}" class="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <a href="{{ 'events' | page(false) }}" class="btn btn-outline-dark">Explore All Events</a>
                </div>
            </div>
        </div>
    </div> -->
</section>

	{% endif %}

{% endif %}
