{% set offerDetail = __SELF__.offerDetail %}
{% set similarOffers = __SELF__.similarOffers %}
{% set favoriteArray = __SELF__.favoriteArray %}

<section class="page-title">
	<div class="container">
		<div class="row no-gutters">
			<div class="col">
				<header>
					<h1 id="title">{{ offerDetail.name }}</h1>
				</header>
				<div class="offer-date">Running date: {% if offerDetail.start_at|date('d M Y') == offerDetail.ends_at|date('d M Y') %}
						{{ offerDetail.start_at|date('j M') }}
					{% else %}
						{{ offerDetail.start_at|date('j M') }} - {{ offerDetail.ends_at|date('j M Y') }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="offer-information" itemprop="offer" itemscope itemtype="http://schema.org/Offer">
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="col-12 col-lg-7">

			{% if offerDetail.banner %}
				<img itemprop="image" src="{{offerDetail.banner.path}}" class="d-block w-100" title="{{ offerDetail.banner.title }}" alt="{{ offerDetail.banner.description }}" />
			{% elseif offerDetail.featured_image %}
				<img itemprop="image" src="{{ offerDetail.featured_image|media }}" class="d-block w-100" alt="{{ offerDetail.name }}"/>
			{% else %}
				<img itemprop="image" src="{{offerDetail.store.logo.path}}" class="d-block w-100" alt="{{ offerDetail.name }}" />
			{% endif %}

			</div>
			<div class="col-12 col-lg-5">
				<div class="content">
					<div class="row">
						<div class="col">
							<div class="content store-name">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-12">
										<h2 itemprop="name">{{ offerDetail.store.name }}</h2>
										<div itemprop="category" class="category">
											{% for storeCategory in offerDetail.store.categories %}
												<span>{{ storeCategory.name }}</span>
											{% endfor %}
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-12">
										<div class="favourite-store">
											<a href="" data-request="onFavorite" data-request-data="favId: {{offerDetail.store.id}}" data-request-success="$(this).html(data.result)">
												{% if offerDetail.store.id in favoriteArray %}
													<i class="fa fa-heart" aria-hidden="true"></i>
												{% else %}
													<i class="fa fa-heart-o" aria-hidden="true"></i>
												{% endif %}
											</a>
										</div>
										{% for roodRequirements in offerDetail.store.food_requirements %}
											<div class="store-icons {{ roodRequirements.name }}">
												<img src="{{ 'assets/img/'|theme }}/icon-{{ roodRequirements.slug }}.png" class="" />
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="content store-operating-hours">
								<div class="row">
									<div class="col-md-4 col-sm-12 col-12">
	                                    <p itemprop="availability">
	                                    {% if offerDetail.store.trading_hours %}
	                                        {% if offerDetail.store.is_open != 0 %}Open Now{% else %}Closed{% endif %}
	                                    {% else %}
	                                        Trading Hours
	                                    {% endif %}
	                                    </p>
									</div>
									<div class="col-md-8 col-sm-12 col-12">
	                                {% if offerDetail.store.trading_hours.first %}
	                                    <!-- store is using custom trading hours -->
	                                    <span>
	                                        <span>Monday |</span> <span itemprop="validThrough">{{ offerDetail.store.trading_hours.monday_start|date("g:ia") }} - {{ offerDetail.store.trading_hours.monday_end|date("g:ia") }}</span><br>
	                                        <span >Tuesday |</span>  <span itemprop="validThrough">{{ offerDetail.store.trading_hours.tuesday_start|date("g:ia") }} - {{ offerDetail.store.trading_hours.tuesday_end|date("g:ia") }}</span><br>
	                                        <span>Wednesday |</span> <span itemprop="validThrough">{{ offerDetail.store.trading_hours.wednesday_start|date("g:ia") }} - {{ offerDetail.store.trading_hours.wednesday_end|date("g:ia") }}</span><br>
	                                        <span >Thursday |</span> <span itemprop="validThrough">{{ offerDetail.store.trading_hours.thursday_start|date("g:ia") }} - {{ offerDetail.store.trading_hours.thursday_end|date("g:ia") }}</span><br>
	                                        <span >Friday |</span> <span itemprop="validThrough">{{ offerDetail.store.trading_hours.friday_start|date("g:ia") }} - {{ offerDetail.store.trading_hours.friday_end|date("g:ia") }}</span><br>
	                                        <span>Saturday |</span> <span itemprop="validThrough">{{ offerDetail.store.trading_hours.saturday_start|date("g:ia") }} - {{ offerDetail.store.trading_hours.saturday_end|date("g:ia") }}</span><br>
	                                        <span>Sunday |</span> <span itemprop="validThrough">{{ offerDetail.store.trading_hours.sunday_start|date("g:ia") }} - {{ offerDetail.store.trading_hours.sunday_end|date("g:ia") }}</span><br>
	                                    </span>
	                                {% else %}
	                                    <!--  store is using mall trading hours  -->
	                                    <span itemprop="availability">
	                                        Monday - Thursday |
										{% if offerDetail.store.operating_hours_first %}
											{{ offerDetail.store.operating_hours_first }}
										{% else %}
											9am - 9pm
										{% endif %}
										</span>
										<span itemprop="availability">
											Friday - Sunday |
											{% if offerDetail.store.operating_hours_second %}
												{{ offerDetail.store.operating_hours_second }}
											{% else %}
												9am - 9pm
											{% endif %}
										</span>
	                                {% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="content store-contact-details">
								<div class="row">
									<div class="col-md-4 col-sm-4 col-12">
										<span>Telephone</span>
										<p><a href="tel:{{ offerDetail.store.phone_number }}" itemprop="telephone">{{ offerDetail.store.phone_number }}</a></p>
									</div>
									{% if offerDetail.store.website %}
									<div class="col-md-8 col-sm-8 col-12">
										<span>Website</span>
										<p><a itemprop="url" href="{{ offerDetail.store.website_url }}" target="_blank" rel="nofollow">{{ offerDetail.store.website_display }}</a></p>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="content store-location" itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
								<div class="row">
									<div class="col-4 col-md-4">
										<span itemprop="name">Shop No</span>
										<p itemprop="value">{{ offerDetail.store.shop_number }}</p>
									</div>
									<div class="col-4 col-md-4">
										<span itemprop="name">Level</span>
										<p itemprop="value">
											{{ offerDetail.store.floor_level }}
										</p>
									</div>
									<div class="col-4 col-md-4">
										<span itemprop="name">Closest Entrance</span>
										<p itemprop="value">{{ offerDetail.store.closest_entrance }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col">
					<div itemprop="description" class="content">
						{{ offerDetail.detail | parseSnippets }}
					</div>
					<div class="article-footer">
						<div class="row justify-content-between">
							<div class="col-md-6 col-7">
								<div class="content trend-share-links social-links">
									<span>Share:</span>
									{% component 'ssbuttonsssb' %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="trend-comments comments-form bg-grey">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-12">
            <div class="form-header">
                            <h4>Submit a comment</h4>
                        </div>
				{% component 'comments' %}
            </div>
        </div>
    </div>
</section>

{% if similarOffers.count %}

<section class="three-column-wrapper" itemprop="offer" itemscope itemtype="http://schema.org/Offer">
	<div class="container">
		<div class="row no-gutters">
			<div class="col">
				<header class="text-center">
					<h4>SIMILAR OFFERS</h4>
				</header>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row no-gutters">
			<div class="mobile-slick-3 slick">
				{% for similarOffer in similarOffers %}
				<div class="col-md-12 col-sm-12 col-12">

					<a itemprop="url" href="{{ 'offer-post'| page({ slug:similarOffer.slug }) }}">
					{% if similarOffer.banner %}
						<img itemprop="image" src="{{similarOffer.banner.path}}" class="d-block w-100" alt="{{ similarOffer.banner.description }}" />
					{% elseif similarOffer.featured_image %}
						<img itemprop="image" src="{{ similarOffer.featured_image|media }}" class="d-block w-100" alt="{{ similarOffer.name }}"/>
					{% else %}
						<img itemprop="image" src="{{similarOffer.store.logo.path}}" class="d-block w-100" alt="{{ similarOffer.name }}" />
					{% endif %}
					</a>

					<div class="content">
						<div class="category">
							<span><strong>OFFER</strong></span><span itemprop="availability">{{ similarOffer.start_at|date('j M') }} - {{ similarOffer.ends_at|date('j M Y') }}</span>
						</div>
						<h5>
							<a itemprop="name" href="{{ 'offer-post'| page({ slug:similarOffer.slug }) }}">{{similarOffer.name}}</a>
						</h5>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="text-center">
					<a href="{{ 'offers' | page(false) }}" class="btn btn-outline-dark">Explore All Offers</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endif %}
