<section class="featured-item-wrapper bg-grey m-0">
	<div class="container">
		<div class="row no-gutters">
			<div class="col">
				<header class="text-center">

					<h4>Whats On</h4>
				</header>
			</div>
		</div>
	</div>
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="col-md-7 col-sm-12 col-12"><img src="https://s3.us-east-2.amazonaws.com/hypropmedia/media/canal-walk/promotional/Blog-home-Lingerie_950x570px-02.jpg" style="width: 100%;" class="fr-fic fr-dib"></div>
			<div class="col-md-5 col-sm-12 col-12">
				<div class="content">

					<p>Canal Walk’s events calendar is filled to the brim with activities that are sure to delight, motivate, and inspire you and your family. With a host of opportunities available during the year, there’s no shortage of entertainment.</p>

					<p>From theatre shows for children, to fashion events, motor shows, and gaming expos, there truly is something for everyone to enjoy. View our calendar and explore each category – there’s sure to be something that piques your interest</p>

					<p>International visitors can get a taste of Africa from a number of locally-driven events that Canal Walk hosts every year. And, those visiting for business are also sure to find something that interests them in our events calendar during their visit.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row no-gutters">
			<div class="col">
				<div class="text-center"><a class="btn btn-outline-dark" href="/whats-on">See Whats On</a></div>
			</div>
		</div>
	</div>
</section>