<h2>Canal Walk Events</h2>

<p>Our events calendar is always busy with something special for you to enjoy. From annual school holiday events to keep the kids busy, to exclusive fashion events highlighting the hottest seasonal trends, we have it all. Our regular <a href="/kidsworld">Kids World Fun Zone</a> events turn into a hub of activity, entertaining our members with a variety of arts and crafts activities. Check out our calendar to keep a close eye on upcoming exciting events to look forward to.</p>