<section class="eight-column-slick-wrapper">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <header class="text center" style="margin-top:20px">
                        <h4>Canal Walk Shopping Centre</h4> 
                </header>
            </div>
        </div>
    </div>
</section>
<p style="text-align: center;"><strong>Over 400 stores | 9am - 9pm</strong></p>
<p style="text-align: center;">With more than 400 stores, Canal Walk merges the world’s most desirable brands with shopping convenience, entertainment and everyday leisure, all in a majestic setting.</p>