<h2>Coming soon to Nu Metro</h2>

<p>Immerse yourself in the best cinema experience at Nu Metro’s Scene Xtreme and Scene VIP. &nbsp;If you want to watch a much-anticipated movie release on the biggest screen in town, then you have to head to Nu Metro’s Scene Xtreme. &nbsp;The screen is three-storeys high and the 360-degree sound will fully immerse you. &nbsp;If you’re looking for the ultimate luxury and comfort, then book your tickets at Nu Metro’s Scene VIP. &nbsp;It includes an exclusive VIP lounge and bar area, fully reclinable seating, and service at your seat.</p>