<section class="newsletter-cta cta">
	<div class="container">
		<div class="row">
			<div class="col">

				<p>Be among the first to hear about our competitions by joining our newsletter <a class="btn btn-outline-dark" href="/canalwalk-newsletter">sign up now</a></p>
			</div>
		</div>
	</div>
</section>