<p>Our events calendar is always busy with something special for you to enjoy. From annual school holiday events to keep the kids busy to exclusive fashion events hightlighting the hottest seasonal trends, we have it all.&nbsp;</p>

<p>Our regular <a href="/kidsworld">Kids World Fun Zone</a> events turn into a hub of activity, entertaining our members with a variety of arts and crafts activites. Check out our events below and keep a close eye on upcoming exciting events that you can look forward to.</p>