<h4>Restaurants</h4>

<p>We have a diverse selection of restaurants to visit and please every palate.&nbsp; Breakfast, lunch, dinner or a spontaneous shopping break, our restaurants are dispersed throughout the centre for your convenience.</p>

<p><a href="/shops/category/food-beverage/restaurants">VIEW RESTAURANTS <i class="fa fa-angle-right"></i></a></p>