<h2>More than just retail</h2>

<p>With over 400 stores, 50 eateries and a variety of activities, we offer the luxury of endless choice to keep you entertained. Whether you’re looking to see the latest 3D movie, grab a bite to eat, shop at a variety of luxury, international and local brands, enjoy a romantic date or spoil yourself to a spa day, we have it all. There are unique entertainment options and attractions for the entire family to experience and enjoy. </p>