{% set offers = __SELF__.offers %}

{% if offers.count %}

<section class="three-column-wrapper bg-grey">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <header class="text-center">
                    <h4>OFFER{% if offers.count != 1 %}S{% endif %}</h4>
                </header>
            </div>
        </div>
    </div>

	<div class="container">
        <div class="row no-gutters">
            <div class="mobile-slick-3 slick">

			{% for offer in offers %}

				<div class="col-md-12 col-sm-12 col-12">
					<a href="{{ 'offer-post'| page({ slug:offer.slug }) }}">
						{% if offer.banner %}
							<img src="{{offer.banner.thumb(450,600)}}" class="d-block w-100" alt="{{ offer.banner.description }}" />
						{% elseif offer.featured_image %}
							<img src="{{ offer.featured_image|media }}" class="d-block w-100" alt="{{ offer.name }}" />
						{% else %}
							<img src="{{offer.store.logo.thumb(450,600)}}" class="d-block w-100" alt="{{ offer.name }}" />
						{% endif %}
					</a>
					<div class="content">
						<div class="category">
							<span class="name">OFFER</span>
                            <span class="store"><a href="{{ 'store' | page({slug:offer.store.slug}) }}">{{ offer.store.name }}</a></span>
                            <span class="date">
                                {% if offer.start_at|date('d M Y') == offer.ends_at|date('d M Y') %}
                                    {{ offer.start_at|date('d M h:i a') }} - {{ offer.ends_at|date('h:i a') }}
                                {% else %}
                                    {{ offer.start_at|date('d M') }} - {{ offer.ends_at|date('d M Y') }}
                                {% endif %}
                            </span>
						</div>
						<h5>
							<a href="{{ 'offer-post'| page({ slug:offer.slug }) }}">{{ offer.excerpt }}</a>
						</h5>
					</div>
                </div>

			{% endfor %}

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <a href="{{ 'offers'| page(false) }}" class="btn btn-outline-dark">Explore All Offers</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
