description = "3 Column Layout"

[viewBag]
snippetCode = 00000
snippetName = "3 Column Text"
snippetProperties[col1][title] = "col-1"
snippetProperties[col1][type] = "string"
snippetProperties[col1][default] = "<div class=\"col-sm\"></div>"
snippetProperties[col1][options][] = ""
snippetProperties[col2][title] = "col-2"
snippetProperties[col2][type] = "string"
snippetProperties[col2][default] = "world"
snippetProperties[col2][options][] = ""
==
<div class="container">
  <div class="row">
      {{col1}}
    {{col1}}
    </div>
  </div>
</div>