[viewBag]
snippetCode = "404-offers-list"
snippetName = "404 Offers Listing"

[offerlist]
eventsPerPage = 3
noEventMessage = "No events."
eventPage = "events/event"
==
{% set events = offerlist.events %}
{% set calendar = offerlist.calendar %}
{% set search = offerlist.search %}

{% if calendar.name == 'Offers' %}

	<section class="offers-listing">
			    <div class="container">
		        <div class="row">
		            <div class="col">
		                <header class="text-center" style="margin-top:40px">
		                    <h4>OTHER OFFERS</h4>
		                </header>
		            </div>
		        </div>
		    </div>
		<div class="container">
			<div class="row" id="offerDisplayList">
				{% partial offerlist~'::display_offer_list' events=events %}
			</div>
		</div>
		
		  <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <a href="/offers" class="btn btn-outline-dark">Explore All Offers</a>
                    </div>
                </div>
            </div>
        </div>
        
	</section>

{% endif %}