description = "Kids Newsletter Footer"

[viewBag]
snippetCode = "kidsworld"
snippetName = "Kids Newsletter Footer"
==
<section class="newsletter-cta cta pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Sign up to our Kids World newsletter! <a href="/kidsworld" class="btn btn-outline-dark">sign up now</a></p>
            </div>
        </div>
    </div>
</section>