description = "Newsletter Subscribe Footer"

[viewBag]
snippetCode = "footer-news-subscribe"
snippetName = "Footer Newsletter Signup"
==
<section class="newsletter-cta cta pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 style="margin:0">Sign up to our Canal Walk newsletter! <a href="/canalwalk-newsletter" class="btn btn-outline-dark">sign up now</a></h5>
            </div>
        </div>
    </div>
</section>