description = "Home Footer"

[viewBag]
snippetCode = 0014
snippetName = "Home Footer"
==
<section class="contact-us-cta cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 col-12">
                <h5 style="margin:0">We'd love to hear from you.
                <a href="/contact" class="btn btn-outline-dark">Contact us</a></h5>
            </div>
            <div class="col-md-6 col-sm-12 col-12 text-md-right text-sm-center">
                <p>Want to speak to one of our stores?</p>
                <span>Please contact them directly from our <a href="/shops">store directory.</a></span>
            </div>
        </div>
    </div>
</section>