[viewBag]
==
<section class="three-column-square-wrapper bg-grey">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <header class="text-center">
                    <h4>TRENDS</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container d-md-block d-none">
        <div class="row">
            <div class="col-md-5 col-sm-4 col-4">
                <div class="item-block">
                    <img class="w-100 d-dm-block" src="https://dummyimage.com/505x505/000/fff" alt="">
                    <div class="content">
                        <div class="category"><span>FASHION, WOMAN’S FASHION</span></div>
                        <h4>Trending sneakers for her</h4>
                        <p>Lorem ipsum tempor dolor incididunt sit amet, consectetur adipisicing eiusmod elit, sed do eiusmod tempor incididunt et dolore magna aliqua.</p>
                        <a href="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-8 col-8">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-6 mb-4">
                        <div class="item-block">
                            <div class="row no-gutters">
                                <div class="col-md-7 col-sm-12 col-12">
                                    <img class="w-100 d-dm-block" src="https://dummyimage.com/400x400/000/fff" alt="">
                                </div>
                                <div class="col-md-5 col-sm-12 col-12">
                                    <div class="content">
                                        <div class="category"><span>ENTERTAIMENT</span></div>
                                        <h4>Gamers edit by pro SA gamer Luca Tucconi</h4>
                                        <p>Lorem ipsum tempor dolor incididunt sit amet, consectetur adipisicing eiusmod elit, sed do eiusmod tempor incididunt et.</p>
                                        <a href="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-6">
                        <div class="item-block">
                            <div class="row no-gutters">
                                <div class="col-md-7 col-sm-12 col-12">
                                    <img class="w-100 d-dm-block" src="https://dummyimage.com/400x400/000/fff" alt="">
                                </div>
                                <div class="col-md-5 col-sm-12 col-12">
                                    <div class="content">
                                        <div class="category"><span>FOOD</span></div>
                                        <h4>Finally! Exciting school lunch boxes!</h4>
                                        <p>Lorem ipsum tempor dolor incididunt sit amet, consectetur adipisicing eiusmod elit, sed do eiusmod tempor incididunt et.</p>
                                        <a href="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-md-none d-block p-0">
        <div class="row no-gutters">
            <div class="mobile-slick-3-square slick">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="item-block">
                        <img src="https://dummyimage.com/400x400/000/fff" class="d-block w-100" alt="ITEM"/>
                        <div class="content">
                            <div class="category"><span>FASHION, WOMAN’S FASHION</span></div>
                            <h4>Trending sneakers for her</h4>
                            <p>Lorem ipsum tempor dolor incididunt sit amet, consectetur adipisicing eiusmod elit, sed do eiusmod tempor incididunt et dolore magna aliqua.</p>
                            <a href="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="item-block">
                        <img src="https://dummyimage.com/400x400/000/fff" class="d-block w-100" alt="ITEM"/>
                        <div class="content">
                            <div class="category"><span>ENTERTAIMENT</span></div>
                            <h4>Gamers edit by pro SA gamer Luca Tucconi</h4>
                            <p>Lorem ipsum tempor dolor incididunt sit amet, consectetur adipisicing eiusmod elit, sed do eiusmod tempor incididunt et.</p>
                            <a href="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="item-block">
                        <img src="https://dummyimage.com/400x400/000/fff" class="d-block w-100" alt="ITEM"/>
                        <div class="content">
                            <div class="category"><span>FOOD</span></div>
                            <h4>Finally! Exciting school lunch boxes!</h4>
                            <p>Lorem ipsum tempor dolor incididunt sit amet, consectetur adipisicing eiusmod elit, sed do eiusmod tempor incididunt et.</p>
                            <a href="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <a href="" class="btn btn-outline-dark">See what's trending</a>
                </div>
            </div>
        </div>
    </div>
</section>