description = "Kidsworld Signup Footer"

[viewBag]
snippetCode = "signup-kidsworld"
snippetName = "Kids World Signup Footer"
==
<section class="newsletter-cta cta pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Sign up to our Kids World newsletter! <a href="/subscribe-kids-world-newsletter" class="btn btn-outline-dark">sign up now</a></p>
            </div>
        </div>
    </div>
</section>