[viewBag]
==
<ul class="{{ class }}">
{% for item in items %}
<li class="{{ item.isActive or item.isChildActive ? 'active' : '' }} {{ item.items ? 'dropdown' : '' }}">
<a class="{% if item.items %}dropdown-toggle{% endif %}" {% if item.items %}data-toggle="dropdown"{% endif %} href="{{ item.url }}">{{ item.title }}{% if item.items %}<span class="caret"></span>{% endif %}</a>
{% if item.items %}{% partial 'main-menu-items' items=item.items class='dropdown-menu' %}{% endif %}</li>
{% endfor %}
</ul>