[viewBag]
==
{% if staticMenu.menuItems %}
     
{% for item in staticMenu.menuItems if not item.viewBag.isHidden %}




        {% if item.url %}
 

            <a  href="{{ item.url }}" {% if item.title == moviestatus %}class='active'{% endif %} {{ item.viewBag.isExternal ? 'target="_blank"' }}>
            {{ item.title }}
            </a>

            
            
        {% else %}
            <span>{{ item.title }}</span>
        {% endif %}

        {% if item.items %}
            <ul class="dropdown">{% partial __SELF__ ~ "::items" items=item.items %}</ul>
        {% endif %}

{% endfor %}
{% endif %}