description = "Whats On Food & Restaurants"

[viewBag]
snippetCode = 0016
snippetName = "Whats On Food & Restaurants"
==
<section class="three-column-square-wrapper bg-grey">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <header class="text-center">
                        <h4>FOOD & RESTAURANTS</h4>
                    </header>
                    <div class="intro">
                        <p>We have over 50 restaurants, coffee shops and take-away outlets and offer a variety of options to indulge in. These include local pizzerias, sushi bars, Asian and Italian
                        cuisine, seafood, coffee shops and bakeries, gourmet desserts, fast food, steak houses and grills. Whether you’re looking for sit down dining or grabbing a quick bite, it is the ideal hang out to have breakfast with your bestie, a lunch time escape, meet ups after work, date night with someone special or a treat for the whole family.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-block d-none">
            <div class="row">
                <div class="col-md-5 col-sm-4 col-4 mb-4">
                    <div class="item-block">
                        <img class="w-100 d-dm-block" src="https://dummyimage.com/505x505/000/fff" alt="">
                        <div class="content">
                            <h4>Restaurants</h4>
                            <p>We have a diverse selection of restaurants to visit and please every palate. Sit down, relax and dine with us throughout the day. Breakfast, lunch, dinner or a spontaious shopping break, our restaurants are dispursed throughout the centre for your convenience.</p>
                            <a href="">VIEW RESTAURANTS <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-8 col-8">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-6 mb-4">
                            <div class="item-block">
                                <div class="row no-gutters">
                                    <div class="col-md-7 col-sm-12 col-12">
                                        <img class="w-100 d-dm-block" src="https://dummyimage.com/400x400/000/fff" alt="">
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-12">
                                        <div class="content">
                                            <h4>Coffee shops & light meals</h4>
                                            <p>Whether you’re looking for an on-the-go coffee, sit down cuppa to catch up on some gossip, a sneaky slice of cake or a quick meeting, our various coffee shops have something to satisfy your caffiene cravings and sweet tooth.</p>
                                            <a href="">VIEW COFFEE SHOPS <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-6 col-6 mb-4">
                            <div class="item-block">
                                <div class="row no-gutters">
                                    <div class="col-md-7 col-sm-12 col-12">
                                        <img class="w-100 d-dm-block" src="https://dummyimage.com/400x400/000/fff" alt="">
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-12">
                                        <div class="content">
                                            <h4>Fast food & snacks</h4>
                                            <p>Get your fast food fix from one of our numerous take-away outlets. Have a snack on-the-go or find a seat in our centrally located and spacious Food Court to endulge in your favourite meal. Our Food Court is also equiped a giant screen and 32 plasma screens that keep you entertained with our CWTV channel.</p>
                                            <a href="">VIEW FAST FOOD & SNACKS <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-none d-block">
            <div class="row">
                <div class="mobile-slick-3-square slick">
                    <div class="col-md-12 col-sm-12 col-12 mb-4">
                        <div class="item-block">
                            <img src="https://dummyimage.com/400x400/000/fff" class="d-block w-100" alt="ITEM"/>
                            <div class="content">
                                <h4>Restaurants</h4>
                                <p>We have a diverse selection of restaurants to visit and please every palate. Sit down, relax and dine with us throughout the day. Breakfast, lunch, dinner or a spontaious shopping break, our restaurants are dispursed throughout the centre for your convenience.</p>
                                <a href="">VIEW RESTAURANTS <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12 mb-4">
                        <div class="item-block">
                            <img src="https://dummyimage.com/400x400/000/fff" class="d-block w-100" alt="ITEM"/>
                            <div class="content">
                                <h4>Coffee shops & light meals</h4>
                                <p>Whether you’re looking for an on-the-go coffee, sit down cuppa to catch up on some gossip, a sneaky slice of cake or a quick meeting, our various coffee shops have something to satisfy your caffiene cravings and sweet tooth.</p>
                                <a href="">VIEW COFFEE SHOPS <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12 mb-4">
                        <div class="item-block">
                            <img src="https://dummyimage.com/400x400/000/fff" class="d-block w-100" alt="ITEM"/>
                            <div class="content">
                                <h4>Fast food & snacks</h4>
                                <p>Get your fast food fix from one of our numerous take-away outlets. Have a snack on-the-go or find a seat in our centrally located and spacious Food Court to endulge in your favourite meal. Our Food Court is also equiped a giant screen and 32 plasma screens that keep you entertained with our CWTV channel.</p>
                                <a href="">VIEW FAST FOOD & SNACKS <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>