{% set contactDetail = __SELF__.contactDetail %}

<div class="row">
	<div class="col-12">
		<h2>Give us a call</h2>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="content">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-6"><span>Visitor Information Centre</span>
					<p><a href="tel:{{ contactDetail.contactvisitor }}">{{ contactDetail.contactvisitor }}</a></p>
				</div>
				<div class="col-md-6 col-sm-6 col-6"><span>Centre Management</span>
					<p><a href="tel:{{ contactDetail.contactmanager }}">{{ contactDetail.contactmanager }}</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="content">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-6"><span>Marketing, Events & Advertising</span>
					<p><a href="tel:{{ contactDetail.contactmarketing }}">{{ contactDetail.contactmarketing }}</a></p>
				</div>
				<div class="col-md-6 col-sm-6 col-6"><span>Security</span>
					<p><a href="tel:{{ contactDetail.contactsecurity }}">{{ contactDetail.contactsecurity }}</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="content">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-6"><span>Parking Helpline</span>
					<p><a href="tel:{{ contactDetail.contactparking1 }}">{{ contactDetail.contactparking1 }}</a></p>
				</div>
				{% if contactDetail.contactparking2 %}
				<div class="col-md-6 col-sm-6 col-6"><span>Parking helpline 2</span>
					<p><a href="tel:{{ contactDetail.contactparking2 }}">{{ contactDetail.contactparking2 }}</a></p>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="content">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12">
					<p>Office hours</p>
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<div class="hours">{{ contactDetail.officehours }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="content">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12">
					<p>Address</p>
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<div class="hours">{{ contactDetail.address }}</div>
				</div>
			</div>
		</div>
	</div>
</div>