{% set wins = __SELF__.events %}

{% set hideWinID = 0 %}

{% set threeColumn = 3 %}

{% if wins.count %}

	{% for win in wins if win.calendar.name == 'Win' and win.is_allday %}

		{% if hideWinID == 0 %}

			{% set hideWinID = win.id %}

			{% set threeColumn = 4 %}

			<!-- START OF FEATURED ITEM SECTION -->
			<section class="featured-item-wrapper">
				<div class="container-fluid p-0">
					<div class="row no-gutters">
						<div class="col-md-7 col-sm-12 col-12">
						{% if win.banner %}
							<a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class=""><img src="{{win.banner.thumb(1080,675)}}" class="d-block w-100" alt="{{ win.name }}" /></a>
						{% elseif win.featured_image %}
							<a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class=""><img src="{{ win.featured_image|media }}" class="d-block w-100" alt="{{ win.name }}"/></a>
						{% else %}
							<a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class=""><img src="https://dummyimage.com/950x570/000/fff" class="d-block w-100" alt="{{ win.name }}"/></a>
						{% endif %}
						</div>
						<div class="col-md-5 col-sm-12 col-12">
							<div class="content">
								<div class="category">
									<span class="name">Win</span><span class="date">ENDS {{ win.ends_at|date('j M Y') }}</span>
								</div>
								<h3><a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class="">{{ win.name }}</a></h3>

								<p>{{ str_words(html_strip(win.excerpt), 300, '') }}</p>

	                            <a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>

		{% endif %}

	{% endfor %}

	{% if wins.count >= threeColumn %}

		<section class="three-column-wrapper bg-grey">
			<div class="container">
				<div class="row">
					<div class="mobile-slick-3 slick">
						{% for win in wins if win.calendar.name == 'Win' and hideWinID != win.id %}

							<div class="col-md-4 col-sm-12 col-12">
								{% if win.banner %}
									<img src="{{win.banner.thumb(450,600)}}" class="d-block w-100" alt="{{ win.name }}" />
								{% elseif win.featured_image %}
									<img src="{{ win.featured_image|media }}" class="d-block w-100" alt="{{ win.name }}"/>
								{% else %}
									<img src="https://dummyimage.com/450x600/000/fff" class="d-block w-100" alt="{{ win.name }}"/>
								{% endif %}
								<div class="content">
									<div class="category">
										<span class="name">WIN</span><span class="date">ENDS {{ win.ends_at|date('j M Y') }}</span>
									</div>
									<h5><a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class="">{{ win.name }}</a></h5>
								</div>
							</div>

						{% endfor %}
					</div>
				</div>
			</div>
		</section>

	{% else %}
		<section class="two-column-featured-wrapper">
			<div class="container-fluid p-0">
				<div class="row no-gutters">

					{% for win in wins if win.calendar.name == 'Win' and hideWinID != win.id %}

						{% set cycleClass = 'even' %}
						{% if hideWinID == 0 %}
							{% set cycleClass = 'odd' %}
						{% endif %}

						<div class="col-12">
							<div class="item-block">
								<div class="row no-gutters">
									<div class="col-md-6 col-sm-12 col-12 {% if cycle(['even', 'odd'], loop.index0) == cycleClass %} order-md-2 order-1 {% endif %}">
										{% if win.banner %}
											<a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class=""><img src="{{win.banner.thumb(951,auto)}}" class="d-block w-100" alt="{{ win.banner.description }}" /></a>
										{% elseif win.featured_image %}
											<a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class=""><img src="{{ win.featured_image|media }}" class="d-block w-100" alt="{{ win.name }}"/></a>
										{% else %}
											<a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class=""><img src="https://dummyimage.com/951x475/000/fff" class="d-block w-100" alt="{{ win.name }}"/></a>
										{% endif %}
									</div>
									<div class="col-md-6 col-sm-12 col-12 {% if cycle(['even', 'odd'], loop.index0) == cycleClass %} order-md-1 order-2 {% endif %}">
										<div class="content">
											<div class="category">
												<span class="name">{{ win.calendar.name }}</span><span class="date">ENDS {{ win.ends_at|date('j M Y') }}</span>
											</div>
											<h4><a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class="">{{ win.name }}</a></h4>

											<p>{{ str_words(html_strip(win.excerpt), 50, '') }}</p>

				                            <a href="{{ 'win-detail'| page({ slug:win.slug }) }}" class="">TELL ME MORE <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>

					{% endfor %}

				</div>
			</div>
		</section>
	{% endif %}

{% else %}

<section class="search-results-listing bg-grey">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="text-center">
					<p>There are currently no competitions.</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endif %}
