{% set products = __SELF__.products %}

{% if products.count %}

<section class="three-column-slick-wrapper">
	<div class="container">
		<div class="row no-gutters">
			<div class="col">
				<header class="text-center">
					<h4>TOP MUST HAVES AT CANAL WALK</h4>
				</header>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="three-column-slick slick">

			{% for product in products %}

				<div class="col-12">
					<div class="row">
						<div class="col-12">
							<div class="image">
								<a href="{{ 'store' | page({slug:product.store.slug}) }}">
								{% if product.banner %}
									<img class="d-block" src="{{ product.banner.thumb(226,310) }}" alt="{{ product.name }}" width="226">
								{% elseif product.featured_image %}
									<img class="d-block" src="{{ product.featured_image|media }}" alt="{{ product.name }}" width="226">
								{% endif %}
								</a>
							</div>
							<div class="content">
								<img class="0" src="{{ product.store.logo.thumb(130,40) }}" alt="{{ product.store.name }}">
								<h5>{{ product.name }}</h5>
								<div class="price">{{ product.excerpt }}</div>
							</div>
							<div class="button">
								<a href="{{ 'store' | page({slug:product.store.slug}) }}" class="btn btn-outline-dark">Visit Store</a>
							</div>
						</div>
					</div>
				</div>

			{% endfor %}

			</div>
			<div class="col-12 d-md-none d-block">
				<div class="mobile-count">
					<div class="text-center">
						1/{{ products.count }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endif %}
