{% set stores = __SELF__.stores %}
{% set search = __SELF__.search %}
{% set tab = __SELF__.tab %}
{% set categories = __SELF__.categories %}
{% set selectedCategories = __SELF__.selectedCategories %}
{% set setLetter = __SELF__.setLetter %}
{% set title = __SELF__.title %}
{% set display_option = __SELF__.display_option %}
{% set favoriteArray = __SELF__.favoriteArray %}
{% set recentlyViewedArray = __SELF__.recentlyViewedArray %}
{% set dynamic_title_old = __SELF__.dynamic_title_old %}
{% set pageNumber = __SELF__.pageNumber %}
{% set hasEcommerce = __SELF__.hasEcommerce %}

<main class="store-listing-page archive-page" id="refreshID">

	{% partial __SELF__ ~ '::header' selectedCategories=selectedCategories setLetter=setLetter search=search %}

	{% partial __SELF__ ~ '::search' tab=tab categories=categories selectedCategories=selectedCategories setLetter=setLetter search=search display_option=display_option favoriteArray=favoriteArray recentlyViewedArray=recentlyViewedArray hasEcommerce=hasEcommerce %}

	<section class="store-listing bg-grey">

		{% if stores is not empty %}

		<div class="container">
			<div class="row" id="storeDisplayList">
				{% partial __SELF__ ~ '::display_store_list' stores=stores title=title favoriteArray=favoriteArray dynamic_title_old=dynamic_title_old %}
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="load-more text-center" id="storeLoadMore">
					{% partial __SELF__~'::display_load_more' stores=stores %}
				</div>
			</div>
		</div>

		{% else %}

		<div class="container">
            <div class="row">
                <div class="col">
                    <div class="search-number">
                        <p>No search results for</p>
                    </div>
                    <div class="search-header">
                        <h4>{{ title }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="no-results">
                        <p>Please search again.</p>
                    </div>
                </div>
            </div>
        </div>

		{% endif %}

	</section>

</main>
