{% set dynamic_title_new = title %}
{% set dynamic_title_old = dynamic_title_old %}
{% set show_title = true %}

{% for store in stores %}

    {% set store_letter = str_limit(str_studly(store.name), 1, '') %}

    {% if title|length == 1 and show_title %}

	    {% if store_letter != dynamic_title_new %}

            {% set dynamic_title_new = str_limit(str_studly(store.name), 1, '') %}

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="search-number">
                            <p></p>
                        </div>
                        <div class="search-header">
                            <h4>{{ dynamic_title_new }}</h4>
                        </div>
                    </div>
                </div>
            </div>

	    {% elseif dynamic_title_new != dynamic_title_old %}

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="search-number">
                            <p></p>
                        </div>
                        <div class="search-header">
                            <h4>{{ dynamic_title_new }}</h4>
                        </div>
                    </div>
                </div>
            </div>

	    {% endif %}

    {% elseif show_title %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="search-number">
                        <p></p>
                    </div>
                    <div class="search-header">
                        <h4>{{ dynamic_title_new }}</h4>
                    </div>
                </div>
            </div>
        </div>

        {% set show_title = false %}

    {% endif %}

    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="store-block" itemscope itemtype="http://schema.org/Store">
        {% if store.logo %}
            <div class="image">
                <a href="{{ 'store' | page({ slug: store.slug }) }}">
					<img src="{{ store.logo.path }}" class="d-block w-100" alt="" />
				</a>

			{% set hasOffer = false %}
            {% if store.events.count %}
				{% set showOffer = true %}
				{% for offer in store.events %}
					{% if offer.calendar.name == 'Offers' and showOffer and offer.status == 1 %}
						{% set showOffer = false %}
                        <div class="offer">OFFER</div>
						{% set hasOffer = true %}
					{% endif %}
				{% endfor %}
            {% endif %}

            </div>
        {% endif %}
            <div class="info">
                <div class="d-none d-sm-none">
                    <div class="category">
                        <a href="{{ 'store-listing-categories' | page({ category1: store.categories.first.slug }) }}">{{ store.categories.first.name }}</a>
                    </div>
                </div>
                <div class="d-md-none d-lg-none d-xl-none">
                    <div class="category">
                        {{ store.categories.first.name }}
                    </div>
                </div>
                <div class="title">
					<a href="{{ 'store' | page({ slug: store.slug }) }}">{{ store.name }}</a>
				</div>
                <div class="operating-hours d-md-block d-none">
                    <span>{% if store.is_open == 1 %}Open Now{% else %}Closed{% endif %}</span><span>{{ store.current_day|date("D") }}</span>
                    <span itemprop="openingHours">
                        {% if store.trade_start and store.trade_end %}
                            {{ store.trade_start|date("g:ia") }} - {{ store.trade_end|date("g:ia") }}
                        {% else %}
                            9:00am - 9:00pm
                        {% endif %}
                    </span>
                </div>
                <div class="telephone d-md-block d-none">
					<a itemprop="telephone" href="tel:{{ str_snake(store.phone_number, '') }}">{{ store.phone_number }}</a>
				</div>
                <div itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue" class="location d-md-block d-none">
                    <div class="row">
                        <div class="col">
                            <span itemprop="name">Level</span> <span itemprop="value"> {{ store.hyprop_floor.name }} </span>
                        </div>
                        <div class="col">
                            <span itemprop="name">Closest Entrance</span> <span itemprop="value">{{ store.closest_entrance }}</span>
                        </div>
                    </div>
                </div>
                <div class="store-link d-md-block d-none">
                    <div class="row">
                        <div class="col">
                            <a href="{{ 'store' | page({ slug: store.slug }) }}">VISIT STORE <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col">
                            {% if store.has_ecommerce %} <i class="fa fa-shopping-cart" aria-hidden="true"></i> {% endif %}

                            <a href="" data-request="onFavorite" data-request-data="favId: '{{ store.id }}'" data-request-success="$(this).html(data.result)">
                            {% if store.id in favoriteArray %}
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-info d-block d-md-none">
	            <div class="telephone">
	                <a href="tel:{{ str_snake(store.phone_number, '') }}" itemprop="telephone"><i class="fa fa-phone" aria-hidden="true"></i> {{ store.phone_number }}</a>
	            </div>
	            <div class="store-tags">
	                {% if hasOffer %}<i class="fa fa-tag" aria-hidden="true">1</i> {% endif %}
					{% if store.has_ecommerce %}<i class="fa fa-shopping-cart" aria-hidden="true"></i>{% endif %}
					<a href="" data-request="onFavorite" data-request-data="favId: '{{ store.id }}'" data-request-success="$(this).html(data.result)">
					{% if store.id in favoriteArray %}
						<i class="fa fa-heart" aria-hidden="true"></i>
					{% else %}
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					{% endif %}
		            </a>
	            </div>
	        </div>
        </div>
    </div>

    {% set dynamic_title_old = dynamic_title_new %}

{% endfor %}
