<section class="page-title">
	<div class="container">
		<div class="row">
			<div class="col">
				<header>
					<h1>Shop Listing</h1>
				</header>
			</div>
		</div>
	</div>
</section>

<nav class="breadcrumb-wrapper d-md-block d-none">
	<div class="container">
		<div class="row">
			<div class="col">
				<ol class="breadcrumb">
        			<li class="breadcrumb-item">
         				<a href="{{ 'Homepage'| page() }}">Home</a>
					</li>

				{% if not selectedCategories.primaryCategory and not setLetter and not search %}
					<li class="breadcrumb-item active">
				{% else %}
        			<li class="breadcrumb-item">
						<a href="{{ 'store-list'| page({letter: false}) }}">
				{% endif %}
							All Shops
				{% if not selectedCategories.primaryCategory and not setLetter and not search %}
				{% else %}
						</a>
				{% endif %}

					</li>

					{% if selectedCategories.primaryCategory %}
	        			<li class="breadcrumb-item {% if selectedCategories.secondaryCategory is null %} active " id="bcLast {% endif %} ">
						{% if selectedCategories.secondaryCategory %}
	         				<a href="{{ 'store-listing-categories' | page({ category1: selectedCategories.primaryCategory, category2: false }) }}">
						{% endif %}
								{{ selectedCategories.primaryCategory|replace({'-': '&nbsp;'})|studly }}
						{% if selectedCategories.secondaryCategory %}
							</a>
						{% endif %}
						</li>
					{% endif %}


					{% if selectedCategories.secondaryCategory %}
	        			<li class="breadcrumb-item {% if selectedCategories.tertiaryCategory is null %} active " id="bcLast {% endif %} ">
						{% if selectedCategories.tertiaryCategory %}
	     					<a href="{{ 'store-listing-categories' | page({ category1: selectedCategories.primaryCategory, category2: selectedCategories.secondaryCategory, category3: false }) }}">
						{% endif %}
								{{ selectedCategories.secondaryCategory|replace({'-': '&nbsp;'})|studly }}
						{% if selectedCategories.tertiaryCategory %}
							</a>
						{% endif %}
						</li>
					{% endif %}

					{% if selectedCategories.tertiaryCategory %}
	        			<li class="breadcrumb-item active" id="bcLast">
							{{ selectedCategories.tertiaryCategory|replace({'-': '&nbsp;'})|studly }}
						</li>
					{% endif %}

					{% if setLetter %}
	        			<li class="breadcrumb-item active" id="bcLast">
	         				{{ setLetter }}
						</li>
					{% endif %}

					{% if search %}
	        			<li class="breadcrumb-item active" id="bcLast">
	         				{{ search }}
						</li>
					{% endif %}
				</ol>
			</div>
		</div>
	</div>
</nav>
