<nav class="page-filters">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="search-filter">
					<div class="search-bar">
					<form id="searchBar" action="{{ 'store-list' | page(false) }}" method="get">
						<input type="text" name="search" class="search-box" value="{{ search }}" placeholder="Search for a store" />
						<span class="search-icon"><i class="fa fa-search" aria-hidden="true" onclick="document.getElementById('searchBar').submit();"></i></span>
					</form>
					</div>
				</div>
			</div>
		</div>
	{{ form_open({ request: 'categoryHandle', id: 'storeCategory' }) }}
		<input type="hidden" name="category1_old" value="{{ selectedCategories.primaryCategory }}">
		<input type="hidden" name="category2_old" value="{{ selectedCategories.secondaryCategory }}">
		<input type="hidden" name="category3_old" value="{{ selectedCategories.tertiaryCategory }}">

		<div class="row">
			<div class="col">
				<div class="category-filter">
					<div class="row justify-content-center">
						<div class="col-sm-3 col-12">
							<!-- <div class="parent-category select_mate" data-mate-select="active" data-indx-select="0" data-selec-open="true">-->

								<select class="form-control basic-select" id="primary_category" name="category1" onchange="document.getElementById('storeCategory').submit();">
									<option value="">Select a category</option>
								{% for primaryCategory in categories.primaryCategory %}
									<option value="{{ primaryCategory.slug }}" {% if selectedCategories.primaryCategory == primaryCategory.slug %} selected {% endif %}>{{ primaryCategory.name }}</option>
								{% endfor %}
								</select>
							<!--	<p class="select_options"  onclick="open_select(this)" ></p>
								<span onclick="open_select(this)" class="icon_select_mate">
									<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
										<path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
										<path d="M0-.75h24v24H0z" fill="none"/>
									</svg>
								</span>
								<div class="cont_list_select_mate">
									<ul class="cont_select_int">  </ul>
								</div>
							</div> -->
						</div>

						{% if categories.secondaryCategory.count %}

						<div class="col-sm-3 col-12">
							<!-- <div class="parent-category select_mate" data-mate-select="active" data-indx-select="0" data-selec-open="true">-->
								<select class="form-control basic-select" id="secondary_category" name="category2" onchange="document.getElementById('storeCategory').submit();">
									<option value="">Select a category</option>
								{% for secondaryCategory in categories.secondaryCategory %}
									<option value="{{ secondaryCategory.slug }}" {% if selectedCategories.secondaryCategory == secondaryCategory.slug %} selected {% endif %}>{{ secondaryCategory.name }}</option>
								{% endfor %}
								</select>
							<!--	<p class="select_options"  onclick="open_select(this)" ></p>
								<span onclick="open_select(this)" class="icon_select_mate">
									<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
										<path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
										<path d="M0-.75h24v24H0z" fill="none"/>
									</svg>
								</span>
								<div class="cont_list_select_mate">
									<ul class="cont_select_int">  </ul>
								</div>
							</div>
							-->
						</div>

						{% endif %}


						{% if categories.tertiaryCategory.count %}


						<div class="col-sm-3 col-12">
							<!-- <div class="parent-category select_mate" data-mate-select="active" data-indx-select="0" data-selec-open="true"> -->
								<select class="form-control basic-select" id="tertiary_category" name="category3" onchange="document.getElementById('storeCategory').submit();">
									<option value="">Select a category</option>
								{% for tertiaryCategory in categories.tertiaryCategory %}
									<option value="{{ tertiaryCategory.slug }}" {% if selectedCategories.tertiaryCategory == tertiaryCategory.slug %} selected {% endif %}>{{ tertiaryCategory.name }}</option>
								{% endfor %}
								</select>
							<!--	<p class="select_options"  onclick="open_select(this)" ></p>
								<span onclick="open_select(this)" class="icon_select_mate">
									<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
										<path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
										<path d="M0-.75h24v24H0z" fill="none"/>
									</svg>
								</span>
								<div class="cont_list_select_mate">
									<ul class="cont_select_int">  </ul>
								</div>
							</div>
							-->
						</div>

						{% endif %}

					</div>
				</div>
			</div>
		</div>

	{{ form_close }}

		<div class="row d-md-block d-none">
			<div class="col">
				<div class="alphabetic-filter">
					<div class="alphabets">
						{% for letter in 'A'..'Z' %}
							{% if letter == setLetter %}
								<a href="" class="btn active">{{ letter }}</a>
							{% else %}
								<a href="{{ 'store-list'| page({ letter:letter }) }}" class="btn">{{ letter }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="tag-filter">
					<div class="tags">
						<a href="{{ 'store-list'| page(false) }}" class="{% if(tab == '') %}active{% endif %}">All shops</a>

					{% if hasEcommerce %}
						<a href="" data-request="stores::onRun" data-request-data="tab: 'e-commerce', letter: '{{ setLetter }}'" data-request-update="'{{ __SELF__ }}::default': '#refreshID'" class="{% if(tab == 'e-commerce') %}active{% endif %}">E-commerce</a>
					{% endif %}

					{% if favoriteArray %}
						<a href="" data-request="stores::onRun" data-request-data="tab: 'favorited-stores', letter: '{{ setLetter }}'" data-request-update="'{{ __SELF__ }}::default': '#refreshID'" class="{% if(tab == 'favorited-stores') %}active{% endif %}">Favourite stores
							<i class="fa fa-heart" aria-hidden="true" tabindex="0" data-toggle="tooltip" data-placement="bottom"
							title="Click the heart icon on the store & it will be added to your favourite stores list. This list will be deleted if you clear your history."></i>
						</a>
					{% endif %}

					{% if recentlyViewedArray %}
						<a href="" data-request="stores::onRun" data-request-data="tab: 'recently-viewed', letter: '{{ setLetter }}'" data-request-update="'{{ __SELF__ }}::default': '#refreshID'" class="{% if(tab == 'recently-viewed') %}active{% endif %}">Recently viewed</a>
					{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
