{% set events = __SELF__.events %}
{% set calendar = __SELF__.calendar %}
{% set search = __SELF__.search %}

{% if calendar.name == 'Offers' %}

	<nav class="page-filters">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="search-filter">
						<div class="search-bar">
							<form id="searchBar" action="{{ 'offers' | page(false) }}" method="get">
								<input type="text" name="search" class="search-box" value="{{ search }}" placeholder="Search offers" />
								<span class="search-icon"><i class="fa fa-search" aria-hidden="true" onclick="document.getElementById('searchBar').submit();"></i></span>
							</form>
						</div>
					</div>
				</div>
			</div>

		{{ form_open({ request: 'categoryHandle', id: 'storeCategory' }) }}
			<input type="hidden" name="category1_old" value="{{ selectedCategories.primaryCategory }}">
			<input type="hidden" name="category2_old" value="{{ selectedCategories.secondaryCategory }}">
			<input type="hidden" name="category3_old" value="{{ selectedCategories.tertiaryCategory }}">

			<div class="row">
				<div class="col">
					<div class="category-filter">
						<div class="row justify-content-center">
							<div class="col-sm-3">
								<!-- <div class="parent-category select_mate" data-mate-select="active" data-indx-select="0" data-selec-open="true">-->
									<select class="form-control basic-select" id="primary_category" name="category1" onchange="document.getElementById('storeCategory').submit();">
										<option value="">Select a category</option>
									{% for primaryCategory in categories.primaryCategory %}
										<option value="{{ primaryCategory.slug }}" {% if selectedCategories.primaryCategory == primaryCategory.slug %} selected {% endif %}>{{ primaryCategory.name }}</option>
									{% endfor %}
									</select><!--
                                    <p class="select_options"  onclick="open_select(this)" ></p>
									<span onclick="open_select(this)" class="icon_select_mate">
                                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                            <path d="M0-.75h24v24H0z" fill="none"/>
                                        </svg>
                                    </span>
                                    <div class="cont_list_select_mate">
                                        <ul class="cont_select_int">  </ul>
                                    </div>
                                    -->
								<!-- </div> -->
							</div>

							{% if categories.secondaryCategory.count %}

							<div class="col-sm-3 col-12">
								<!-- <div class="parent-category select_mate" data-mate-select="active" data-indx-select="0" data-selec-open="true">-->
									<select class="form-control basic-select" id="secondary_category" name="category2" onchange="document.getElementById('storeCategory').submit();">
										<option value="">Select a category</option>
									{% for secondaryCategory in categories.secondaryCategory %}
										<option value="{{ secondaryCategory.slug }}" {% if selectedCategories.secondaryCategory == secondaryCategory.slug %} selected {% endif %}>{{ secondaryCategory.name }}</option>
									{% endfor %}
									</select>
                                   <!--   <p class="select_options"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate">
                                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                            <path d="M0-.75h24v24H0z" fill="none"/>
                                        </svg>
                                    </span>
                                  <div class="cont_list_select_mate">
                                        <ul class="cont_select_int">  </ul>
                                    </div>
								</div> -->
							</div>

							{% endif %}


							{% if categories.tertiaryCategory.count %}


							<div class="col-sm-3 col-12">
								<!-- <div class="parent-category"> -->
									<select class="form-control basic-select" id="tertiary_category" name="category3" onchange="document.getElementById('storeCategory').submit();">
										<option value="">Select a category</option>
									{% for tertiaryCategory in categories.tertiaryCategory %}
										<option value="{{ tertiaryCategory.slug }}" {% if selectedCategories.tertiaryCategory == tertiaryCategory.slug %} selected {% endif %}>{{ tertiaryCategory.name }}</option>
									{% endfor %}
									</select>
                                    <!-- <p class="select_options"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate">
                                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                            <path d="M0-.75h24v24H0z" fill="none"/>
                                        </svg>
                                    </span>
                                    <div class="cont_list_select_mate">
                                        <ul class="cont_select_int">  </ul>
                                    </div>
								</div> -->
							</div>

							{% endif %}

							<div class="col-sm-3 col-12">
								<!-- <div class="parent-category select_mate" data-mate-select="active" data-indx-select="0" data-selec-open="true"> -->
									<select class="form-control basic-select" id="filter_date" name="filter_date" data-request="{{ __SELF__ }}::onRun" data-request-update="'{{ __SELF__ }}::display_offer_list': '#offerDisplayList'">
										<option value="0">All Offers</option>
										<option value="1">Current</option>
										<!-- <option value="2">Next week</option> -->
										<option value="3">Upcoming</option>
										<option value="5">Past</option>
									</select>
                                <!--    <p class="select_options"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate">
                                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                            <path d="M0-.75h24v24H0z" fill="none"/>
                                        </svg>
                                    </span>
                                    <div class="cont_list_select_mate">
                                        <ul class="cont_select_int">  </ul>
                                    </div>
								</div> -->
							</div>

						</div>
					</div>
				</div>
			</div>

		{{ form_close }}

			<div class="row">
				<div class="col">
					<div class="tag-filter">
						<div class="tags" id="offerTabs">
							{% partial __SELF__~'::offer_tabs' tab=tab %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<section class="offers-listing bg-grey">
		<div class="container">
			<div class="row" id="offerDisplayList">
				{% partial __SELF__~'::display_offer_list' events=events %}
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="load-more text-center" id="offerLoadMore">
					{% partial __SELF__~'::display_load_more' events=events %}
				</div>
			</div>
		</div>
	</section>

{% endif %}

{% put scripts %}
	<script type="text/javascript" src="/plugins/jorgeandrade/events/assets/js/scripts.js"></script>
{% endput %}

