{% for event in events %}
<div class="col-md-4 col-sm-6 col-12">
	<div class="offer-block" itemprop="offer" itemscope itemtype="http://schema.org/Offer">
		<div class="image">
			<a itemprop="url" href="{{ 'offer-post'| page({ slug:event.slug }) }}">
			{% if event.banner %}
				<img itemprop="image" src="{{event.banner.path}}" class="d-block w-100" alt="{{ event.banner.description }}" />
			{% elseif event.featured_image %}
				<img itemprop="image" src="{{ event.featured_image|media }}" class="d-block w-100" alt="{{ event.name }}"/>
			{% else %}
				<img itemprop="image" src="{{event.store.logo.path}}" class="d-block w-100" alt="{{ event.name }}" />
			{% endif %}
			</a>
		</div>
		<div class="content">
			<div class="category">
				<span class="name">OFFER</span>
				<span itemprop="name" class="store">{{ event.store.name }}</span>
				<span itemprop="availability" class="date">
					{% if event.start_at|date('d M Y') == event.ends_at|date('d M Y') %}
						{{ event.start_at|date('d M h:i a') }} - {{ event.ends_at|date('h:i a') }}
					{% else %}
						{{ event.start_at|date('d M') }} - {{ event.ends_at|date('d M Y') }}
					{% endif %}
				</span>
			</div>
			<h5>
				<a itemprop="name" href="{{ 'offer-post'| page({ slug:event.slug }) }}">{{event.name}}</a>
			</h5>
		</div>
	</div>
</div>
{% endfor %}


{% if events.count == 0 %}

<div class="col">
	<div class="text-center">
		<p>There are currently no results.</p>
	</div>
</div>

{% endif %}
