<a href="{{ 'offers' | page(false) }}" class="{% if(tab == '') %}active{% endif %}" id="titleText">All Offers</a>

{% if recentlyViewedArray %}
	<a href="" data-request="offerlist::onRun" data-request-data="tab: 'recently-viewed'" data-request-success="console.log(data)"
		data-request-update="'{{ __SELF__ }}::offer_tabs': '#offerTabs', '{{ __SELF__ }}::display_offer_list': '#offerDisplayList'"
		class="{% if(tab == 'recently-viewed') %}active{% endif %}">Recently viewed</a>
{% endif %}