[viewBag]
==
<section class="three-column-wrapper bg-grey">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <header class="text-center">
                    <h4>OFFERS</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="mobile-slick-3 slick">

                {% for event in events %}
                <div class="col-md-12 col-sm-12 col-12">
                {% if event.banner %}
                    <img data-src='{{ event.banner.file_name }}'
                    src="{{ event.banner.path }}"
                    alt="{{ event.banner.description }}"
                    class="d-block w-100"/>
                {% endif %}
                    <div class="content">
                        <div class="category"><span class="name">OFFER</span><span class="store">{{event.name}}</span><span class="date">{{event.start_at | date('d')}} {{event.start_at | date('M') }} - {{event.ends_at | date('d') }} {{event.ends_at | date('M') }}</span></div>
                        <h5>{{event.excerpt}}</h5>
                    </div>
                </div>
                {% endfor %}
                

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <a href="/offers" class="btn btn-outline-dark">Explore All Offers</a>
                </div>
            </div>
        </div>
    </div>
</section>